<div class="main-wrapper">
    <div class="header-section">
      <h1 class="heading">Stake F1 Team</h1>
      <h2 class="heading-text">Taking Over The Grid</h2>
    </div>
    <div class="right-child">
      <img
        class="header-img"
        src="https://cdn.sanity.io/images/tdrhge4k/production/4b649a329935a1370f21939e1042039c97bea0f7-1080x583.png?q=80&auto=format"
        alt=""
      />
    </div>
  </div>
  <div class="bg-[#1A2C38] px-[3vw]">
    <div class="section first-wrapper">
      <div class="content-block">
        <h2 class="drake-title pb-2">
          <span>Brand-New Identity</span>
        </h2>
        <p class="inline-text dropdown-content">
          <span class=""
            ><span class="text-[16px]"
              >In January 2024, we announced our biggest move to date: the Stake
              F1 Team. We unveiled a brand-new identity for the team to create
              Formula One’s freshest and most exciting team on the Grid. Following
              a successful year with Alfa Romeo F1 Team Stake in 2023, that saw
              non-stop action both on and off the track, we have stood by our
              promise not just to take part, but to elevate the game.</span
            >
          </span>
        </p>
        <h2 class="drake-title title-bottom">
          <span>Leading-Edge Partnership</span>
        </h2>
        <p class="inline-text dropdown-content mb-3">
          <span class="">
            In announcing this partnership, we have become the exclusive Title
            Partner for the 2024 and 2025 Formula One seasons. With this, expect a
            wave of unique collaborations, like our our exciting partnership with
            F1's own
            <a href="">
              and innovative activities in some of the world’s most vibrant
              cities.</a
            >
          </span>
          <span></span>
        </p>
        <p class="inline-text dropdown-content">
          In every corner of the globe, from March until November, fans on track
          and those watching on from home will be brought closer to the action
          than ever before. We will be changing the way brand partnership with
          elite sporting organisations is perceived around the globe, by bringing
          over our core values into a sport we have the upmost respect for.
        </p>
      </div>
      <div>
        <img
          class="md:ml-[2rem] pr-[3vw]"
          alt="Drake image"
          src="/assets/stake-bagi.webp"
        />
      </div>
    </div>
  </div>
  <div class="bg-[#1A2C38] px-[3vw]">
    <div class="section bottom-section">
      <div class="content-block md:pl-[32px]">
        <span class="text-[20px]">What's Ahead for the Stake Community?</span>
  
        <p class="inline-text dropdown-content mb-3">
          <span class="text-[16px]"
            >Our strategy for Stake F1 Team will be focused on delivering
            experiences that highlight our commitment and dedication to
            innovation, entertainment and global connectivity. We're determined to
            continue providing our </span
          ><a class=""><span>Stake Sportsbook</span> </a
          ><span class="text-[16px]"> community with an exceptional </span
          ><a class=""><span>Formula 1</span> </a
          ><span class="text-[16px]">
            betting and viewing experience, and assist you in the process with our
            helpful </span
          ><a class=""><span>F1 wagering guides.</span> </a
          ><span class="text-[16px]"> </span>
        </p>
        <p class="inline-text dropdown-content">
          <span class="text-[16px]"
            >We want to reinvent the concept of sponsorship with a team designed
            for the fan base, and most importantly for our community here at </span
          ><a class=""><span>Stake.com</span> </a
          ><span class="text-[16px]"
            >. Starting with a stunning new car at a spectacular launch ceremony,
            followed by the creation of unforgettable experiences at each and
            every Grand Prix weekend, brace yourselves as we accelerate towards an
            electrifying future in Formula One!</span
          >
        </p>
      </div>
      <div>
        <img class="" alt="Drake image" src="/assets/stake-bagi.webp" />
      </div>
    </div>
    <div class="vedio-parent">
      <div class="max-w-[740px] mx-auto w-[100%]">
        <div class="max-w-full">
          <div class="vedio-wrapper">
            <iframe src="" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  