<!-- Main Wrapper-->
<div class="w-[100%] md:px-[3vw] bg-[#0F212E]">
  <div class="main-wrapper">
    <!-- Header Section-->
    <div class="header-section">
      <!-- Main Heading -->
      <h1 class="heading">Stake F1 Team</h1>
      <h2 class="heading-text">Taking Over The Grid</h2>
    </div>
    <!-- Right Child -->
    <div class="right-child">
      <img
        class="header-img lg:mr-[10px]"
        src="https://cdn.sanity.io/images/tdrhge4k/production/4b649a329935a1370f21939e1042039c97bea0f7-1080x583.png?q=80&auto=format"
        alt="Image of the Stake F1 Team"
      />
    </div>
  </div>
</div>

<!-- Background Color and Padding Section -->
<div class="bg-[#1A2C38] px-[3vw]">
  <!-- First Content Wrapper -->
  <div class="section first-wrapper">
    <div class="content-block !pr-[3vw]">
      <!-- Title for the Brand-New Identity Section -->
      <h2 class="drake-title pb-2">
        <span class="text-[23px]">Brand-New Identity</span>
      </h2>
      <!-- Paragraph  -->
      <p class="inline-text dropdown-content">
        <span class="text-[16px]">
          In January 2024, we announced our biggest move to date: the Stake F1
          Team. We unveiled a brand-new identity for the team to create Formula
          One’s freshest and most exciting team on the Grid. Following a
          successful year with Alfa Romeo F1 Team Stake in 2023, that saw
          non-stop action both on and off the track, we have stood by our
          promise not just to take part, but to elevate the game.
        </span>
      </p>

      <!-- Title for the Leading-Edge Partnership Section -->
      <h2 class="drake-title title-bottom">
        <span>Leading-Edge Partnership</span>
      </h2>

      <!-- Paragraph  -->
      <p class="inline-text dropdown-content mb-3">
        <span class="">
          In announcing this partnership, we have become the exclusive Title
          Partner for the 2024 and 2025 Formula One seasons. With this, expect a
          wave of unique collaborations, like our our exciting partnership with
          F1's own <a>Fittipaldi Brothers,</a>
        </span>
        <span>
          and innovative activities in some of the world’s most vibrant
          cities.</span
        >
      </p>

      <!-- Another paragraph  -->
      <p class="inline-text dropdown-content">
        In every corner of the globe, from March until November, fans on track
        and those watching on from home will be brought closer to the action
        than ever before. We will be changing the way brand partnership with
        elite sporting organisations is perceived around the globe, by bringing
        over our core values into a sport we have the upmost respect for.
      </p>
    </div>

    <!-- Image showing the Stake F1  -->
    <div>
      <img
        class=""
        alt="Image related to Drake's involvement"
        src="/assets/soccer/stake-bagi.webp"
      />
    </div>
  </div>
</div>

<div class="bg-[#1A2C38] px-[3vw]">
  <!-- Section for explaining  -->
  <div class="section bottom-section">
    <div class="content-block md:pl-[32px]">
      <!-- Subtitle for the future Stake Community focus -->
      <span class="text-[23px] font-[600]">What's Ahead for the Stake Community?</span>

      <p class="inline-text dropdown-content mb-3">
        <span class="text-[16px]">
          Our strategy for Stake F1 Team will be focused on delivering
          experiences that highlight our commitment and dedication to
          innovation, entertainment and global connectivity. We're determined to
          continue providing our </span
        ><a href="">Stake Sportsbook</a
        ><span> community with an exceptional </span> <a href="">Formula 1</a
        ><span>
          betting and viewing experience, and assist you in the process with our
          helpful </span
        ><a href="">F1 wagering guides.</a>
      </p>

      <!-- Another paragraph -->
      <p class="inline-text dropdown-content">
        <span class="text-[16px]">
          We want to reinvent the concept of sponsorship with a team designed
          for the fan base, and most importantly for our community here at
          <a href="" class="font-[700] text-white">Stake.com</a
          ><span
            >. Starting with a stunning new car at a spectacular launch
            ceremony, followed by the creation of unforgettable experiences at
            each and every Grand Prix weekend, brace yourselves as we accelerate
            towards an electrifying future in Formula One!</span
          >
        </span>
      </p>
    </div>

    <!-- Image  -->
    <div>
      <img
        class=""
        alt="Stake F1 Community Engagement Image"
        src="/assets/2c0178b4c7cb54098b3041fdf7a2db5bb2e6f5ff-1080x728.webp"
      />
    </div>
  </div>

  <!-- Video Section -->
  <div class="vedio-parent">
    <div class="max-w-[740px] mx-auto w-[100%]">
      <div class="max-w-full">
        <div class="vedio-wrapper">
          <!-- Placeholder for an embedded video -->
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
