        <!-- top section  -->
<div class="provide">
  <div class="group-banner-wrap svelte-47jlag">
    <div class="group-banner-bg svelte-47jlag"></div>
    <div class="banner-wrap svelte-47jlag">
      <div class="banner svelte-47jlag">
        <div class="left svelte-47jlag">
          <h1>
            <span class="top-head">Providers</span>
          </h1>
        </div>
        <div class="right svelte-47jlag">
          <img
            src="https://mediumrare.imgix.net/group-banner-default.png"
            alt="Providers"
            class="top-img"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- top section end  -->

        <!-- search box -->

  <div class="search-box">
    <div class="search-wrap">
        <div class="search-wrap-input">
          <!-- search icon -->
          <div class="search-icon">
            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
              <title></title>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10.266 3.893a23.1 23.1 0 1 1 25.668 38.414A23.1 23.1 0 0 1 10.266 3.893Zm5.112 30.764a13.9 13.9 0 1 0 15.444-23.114 13.9 13.9 0 0 0-15.444 23.114ZM38.55 46.33a28.002 28.002 0 0 0 7.78-7.78L64 56.22 56.22 64 38.55 46.33Z">
              </path>
            </svg>
          </div>
          <!-- search-input -->
          <input data-testid="search" data-analytics="sports-home-search" placeholder="Search your event"
            class="search-input">
        </div>
      </div>
  </div>
  <!-- search box end  -->

  <!-- grid layout -->
  <div class="sec">
    <div class="hero">
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/bbe0383f83f2e71badab4b10933267b48ea655c522873a74ca22059d36b44220?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Pragmatic Play"
                width="200"
                draggable="false"
                class="img1"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/bbe0383f83f2e71badab4b10933267b48ea655c522873a74ca22059d36b44220?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Pragmatic Play"
                width="200"
                draggable="false"
                class="img2"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap ">
              <img
                src="https://mediumrare.imgix.net/49a2201353bd06c3f89a9c5ff56d0efee785712e77786d4200d6fbc4ffc0e73d?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Evolution"
                width="200"
                draggable="false"
                class="img1"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/49a2201353bd06c3f89a9c5ff56d0efee785712e77786d4200d6fbc4ffc0e73d?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Evolution"
                width="200"
                draggable="false"
                class="img2"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/4e9cb40a5a7132d3958ece2a08643072097162a080a6ee07ef40dc0404ab8d3b?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Hacksaw Gaming"
                width="200"
                draggable="false"
                class="img1"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/4e9cb40a5a7132d3958ece2a08643072097162a080a6ee07ef40dc0404ab8d3b?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Hacksaw Gaming"
                width="200"
                draggable="false"
                class="img2"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            href="/casino/group/no-limit-city"
            data-sveltekit-reload="off"
            data-sveltekit-preload-data="tap"
            data-sveltekit-noscroll="off"
            ><div class="img-wrap five-by-two svelte-1xdyar1">
              <img
                src="https://mediumrare.imgix.net/fffebb8ad954c1fdcaca444cf83308ef0226ea06f8aa7a8d0a4e5f50c1d433c7?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Nolimit City"
                width="200"
                draggable="false"
                class="img1"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/fffebb8ad954c1fdcaca444cf83308ef0226ea06f8aa7a8d0a4e5f50c1d433c7?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Nolimit City"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/b6560768443c779e791ac1a8f44211982da8fde5000f180f61d93f7b218f7e54?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Play'n Go"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/b6560768443c779e791ac1a8f44211982da8fde5000f180f61d93f7b218f7e54?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Play'n Go"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/cdaa15e06b980baf09639dd97db720177c9b87e5be688d7ce641f9d01fe278a0?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Push Gaming"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/cdaa15e06b980baf09639dd97db720177c9b87e5be688d7ce641f9d01fe278a0?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Push Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap five-by-two svelte-1xdyar1">
              <img
                src="https://mediumrare.imgix.net/c2d8f03f4b3dccf296186fe782043ebf37a6cba1b53fa1fb0d1e544f2efe129f?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Relax Gaming"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/c2d8f03f4b3dccf296186fe782043ebf37a6cba1b53fa1fb0d1e544f2efe129f?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Relax Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/be6c453a8f450c2fbf5181abc844f080b537458061aeca3902575510acacdbea?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Massive Studios"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/be6c453a8f450c2fbf5181abc844f080b537458061aeca3902575510acacdbea?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Massive Studios"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/8e443b9bc9306554328540c75fc25ba03ee26adeec31367f4555705ff2c51447?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Stake Originals"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/8e443b9bc9306554328540c75fc25ba03ee26adeec31367f4555705ff2c51447?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Stake Originals"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/9fa230f26ea1e9735e6cbc2b42749c67919d46f495af337cd83e2456d97f198a?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Titan Gaming"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/9fa230f26ea1e9735e6cbc2b42749c67919d46f495af337cd83e2456d97f198a?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Titan Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/29bf8dd04fd896b5958fe35e76039ed4e59e7deef880c9b68f0927ae04430bad?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="AvatarUX"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/29bf8dd04fd896b5958fe35e76039ed4e59e7deef880c9b68f0927ae04430bad?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="AvatarUX"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/c2cb4951f4c41a568023a6583500d96da33e45fee8d64dc16ddf19e961a63e1c?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Backseat Gaming"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/c2cb4951f4c41a568023a6583500d96da33e45fee8d64dc16ddf19e961a63e1c?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Backseat Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/6ca18ec1ea689aa57fc4f0bd11d3361dcb458ba4d13164e5415e203685e3355f?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Twist Gaming"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/6ca18ec1ea689aa57fc4f0bd11d3361dcb458ba4d13164e5415e203685e3355f?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Twist Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/11b70be577ba6857610966eeaa8aff1a6778ca5fcf932f7626c1562f40f11dcd?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Octoplay"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/11b70be577ba6857610966eeaa8aff1a6778ca5fcf932f7626c1562f40f11dcd?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Octoplay"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="whitespace-break-spaces">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/a2964ba85968361439f330ce3a032ac8d1cfc8d8c9e485f5672a7bb7366fcec7?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="ELK Studios"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/a2964ba85968361439f330ce3a032ac8d1cfc8d8c9e485f5672a7bb7366fcec7?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="ELK Studios"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/09d73f4ba8167c7e0ec9c0cfd1ae8b6c3ad5934e24fbe85a6404023c1b860660?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Thunderkick"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/09d73f4ba8167c7e0ec9c0cfd1ae8b6c3ad5934e24fbe85a6404023c1b860660?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Thunderkick"
                class="img2"
                width="200"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/379ff79143f7c84c834abb4bc2f4fa334d0e29d273e350b8617e73c3c55a6e1a?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Popiplay"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/379ff79143f7c84c834abb4bc2f4fa334d0e29d273e350b8617e73c3c55a6e1a?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Popiplay"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div >
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/5d6395f8d6d82e0a88d3393b018cfe054f6b65755dee249b04b81d79ccdd1dc3?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="BGaming"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/5d6395f8d6d82e0a88d3393b018cfe054f6b65755dee249b04b81d79ccdd1dc3?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="BGaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class=""
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/c7c6b6de549fb4d12a5c2a267c14af412fff39abf1825d1275b1f66459655f29?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Print Studios"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/c7c6b6de549fb4d12a5c2a267c14af412fff39abf1825d1275b1f66459655f29?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Print Studios"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/1aaf5b003eddd59763d954c78c8929ae3c3db85877a39adab7ad8d8c69f4567f?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Bullshark Games"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/1aaf5b003eddd59763d954c78c8929ae3c3db85877a39adab7ad8d8c69f4567f?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Bullshark Games"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/36049b11a55c946d470ef1cac5d5bac6e008f5886edcc9b7935a4f12927f191a?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="PG Soft"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/36049b11a55c946d470ef1cac5d5bac6e008f5886edcc9b7935a4f12927f191a?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="PG Soft"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/977f2ea250c4d36195000b8871dd5ce8ae68eb5342f363ec91de95834513ca57?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Netent"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/977f2ea250c4d36195000b8871dd5ce8ae68eb5342f363ec91de95834513ca57?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Netent"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/aaab7ff2f34503d0a34ff78fd459a19480c9eae588b505ca985ce410eef45779?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Big Time Gaming"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/aaab7ff2f34503d0a34ff78fd459a19480c9eae588b505ca985ce410eef45779?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Big Time Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/93726326c5484c4911ed00cc09d347738403e86c3d72fd007aee9f241fb9c84b?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Red Tiger"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/93726326c5484c4911ed00cc09d347738403e86c3d72fd007aee9f241fb9c84b?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Red Tiger"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/eb36dfeb11df369617458d4ffd3b37a90f1e4aea881c143b0a8ca14f3204a345?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Fantasma Games"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/eb36dfeb11df369617458d4ffd3b37a90f1e4aea881c143b0a8ca14f3204a345?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Fantasma Games"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/072441b30938fafa9fc290b3d82c7a0809e41a72832e846f03c69ab5b312e72f?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="GameArt"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/072441b30938fafa9fc290b3d82c7a0809e41a72832e846f03c69ab5b312e72f?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="GameArt"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/8a961bd9af0f88855714bae16a8a738b7ac63d9a8d70495b6050adb7d2b3321d?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Slotmill"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/8a961bd9af0f88855714bae16a8a738b7ac63d9a8d70495b6050adb7d2b3321d?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Slotmill"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/2090257a7ae35ac53fb57ec43e59103db126f9bb4d455c07e01a35beac4317da?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="OneTouch"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/2090257a7ae35ac53fb57ec43e59103db126f9bb4d455c07e01a35beac4317da?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="OneTouch"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/2b0607d9bfce848639432d602e19307caf467f40d182be68283c3d42c4673381?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Wazdan"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/2b0607d9bfce848639432d602e19307caf467f40d182be68283c3d42c4673381?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Wazdan"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/4f8d432ae2cbef5312d430877bdaf1410ac4b2d73633b8ef08079696c6412c04?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Live88"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/4f8d432ae2cbef5312d430877bdaf1410ac4b2d73633b8ef08079696c6412c04?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Live88"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/a24fda37b7b8bdafe3e601cd8a287d451e66469fe64f0d5636eea25bf09032a9?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Gamomat"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/a24fda37b7b8bdafe3e601cd8a287d451e66469fe64f0d5636eea25bf09032a9?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Gamomat"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="whitespace-break-spaces">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/6f0f677afbe3d7f3af7d7994774b88ba16e299be83064d31d4c19720a04f1b6b?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Games Global"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/6f0f677afbe3d7f3af7d7994774b88ba16e299be83064d31d4c19720a04f1b6b?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Games Global"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/6277a0f58c8dba8b1ad5ca116a2888767792bb83fa055fbe36103e1258a4b331?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Belatra"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/6277a0f58c8dba8b1ad5ca116a2888767792bb83fa055fbe36103e1258a4b331?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Belatra"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/44eb78dba0acd50e0e63dcf766a9e768fa4b83cbb37fbf5ec47a4385656eee5b?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Endorphina"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/44eb78dba0acd50e0e63dcf766a9e768fa4b83cbb37fbf5ec47a4385656eee5b?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Endorphina"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/9f4980d79cfa9e6da8415291f4735ab477520f8fa0d03d0ca3cca5f2bd505c87?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Truelab"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/9f4980d79cfa9e6da8415291f4735ab477520f8fa0d03d0ca3cca5f2bd505c87?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Truelab"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/f82e40b7607f1bd5a800e9ebf81e3e54515f217b785f5ef489048e06d3b45328?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Blueprint"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/f82e40b7607f1bd5a800e9ebf81e3e54515f217b785f5ef489048e06d3b45328?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Blueprint"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
            
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/457078dd982a1051d943ee85b10e15b2e422f64a86a8277491fc1ccc6d20f161?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Red Rake Gaming"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/457078dd982a1051d943ee85b10e15b2e422f64a86a8277491fc1ccc6d20f161?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Red Rake Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/4c6e9b6f4579040934fe7c3d9e565b0a3476d2f48e9c6485e139b4eaef7efa6a?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Booming Games"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/4c6e9b6f4579040934fe7c3d9e565b0a3476d2f48e9c6485e139b4eaef7efa6a?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Booming Games"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/1a0e38fb318c2c5726404323c8b5a2711fb8e4aa9b015d664ded29463c389b36?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Quickspin"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/1a0e38fb318c2c5726404323c8b5a2711fb8e4aa9b015d664ded29463c389b36?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Quickspin"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/3e3e407db63850da9c509628ebd921dece52a118706ea4f0fabfbaf071ebc10d?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Novomatic"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/3e3e407db63850da9c509628ebd921dece52a118706ea4f0fabfbaf071ebc10d?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Novomatic"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/e1ab15e94c62b216cfbbfa0f1b407e5fc445e0cff74c4d05a9e36de9bfb5b29c?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="3 Oaks Gaming"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/e1ab15e94c62b216cfbbfa0f1b407e5fc445e0cff74c4d05a9e36de9bfb5b29c?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="3 Oaks Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap five-by-two svelte-1xdyar1">
              <img
                src="https://mediumrare.imgix.net/a68c0fc37b478f70687245a0ea04bc36d0e7ceb7fd2f602b9f26f2df2aefbddb?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Jade Rabbit"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/a68c0fc37b478f70687245a0ea04bc36d0e7ceb7fd2f602b9f26f2df2aefbddb?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Jade Rabbit"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                src="https://mediumrare.imgix.net/bb863826076101bdbe944637808aa1318b7917f29f65644627fa825e88749111?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50&amp;blur=200&amp;px=6&amp;quality=15"
                alt="Spinomenal"
                width="200"
                class="img1"
                draggable="false"
              />
              <img
                loading="lazy"
                src="https://mediumrare.imgix.net/bb863826076101bdbe944637808aa1318b7917f29f65644627fa825e88749111?&amp;dpr=2&amp;format=auto&amp;auto=format&amp;q=50"
                alt="Spinomenal"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
    </div>
  </div>
        <!-- grid layout end  -->
        <!-- TABLE  -->

  <div class="table-content">
    <div class="table-container">
        <table>
          <thead>
            <tr>
              <th class="text-start">Game</th>
              <th class="lg-row hide2">User</th>
              <th class="lg-row hide">Time</th>
              <th class="lg-row hide"> Bet Amount</th>
              <th class="lg-row hide2"> Multiplier</th>
              <th class="text-end">Payout</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class=" table-btn text-left">
                <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                  <title></title>
                  <path
                    d="m51.12 44.48 8.506 3.894a1.629 1.629 0 0 1 .01 2.956l-.01.004L32 64 4.374 51.334a1.629 1.629 0 0 1-.01-2.956l.01-.004 8.506-3.894 16.454 7.546L32 53.332l2.666-1.226L51.12 44.48Zm8.506-28.854a1.629 1.629 0 0 0 .01-2.956l-.01-.004L32 0 4.374 12.666a1.629 1.629 0 0 0-.01 2.956l.01.004L32 28.292l27.626-12.666ZM34.694 34.294l-2.666 1.254-2.666-1.254-16.48-7.626-8.506 3.866a1.625 1.625 0 0 0-.01 2.928l.01.004 27.626 12.666 27.626-12.666a1.625 1.625 0 0 0 .01-2.928l-.01-.004-8.506-3.866-16.428 7.626Z">
                  </path>
                </svg>
                <span class="ml-2">Multi(13)</span>
              </td>
              <td class=" table-btn text-center gap-2 lg-row hide2">
                <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                  <title></title>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M42.05 8.613c2.815 0 5.192 1.879 5.955 4.494l3.64 12.792H12.253l3.64-12.792.01-.044a6.197 6.197 0 0 1 5.944-4.45H42.05ZM61.488 30.77H2.461a2.461 2.461 0 0 0 0 4.921c8.873 1.271 19.12 1.997 29.539 1.997s20.664-.726 30.696-2.131l-.598.068a2.461 2.461 0 0 0-.56-4.858l-.05.003ZM33.484 43.074h-3.05c-6.335-1.515-13.677-1.22-21.547 0v2.501l3.05.58s0 9.233 9.233 9.233c6.223 0 8.247-5.583 8.908-9.233h3.721c.661 3.65 2.685 9.233 8.908 9.233 9.233 0 9.233-9.233 9.233-9.233l3.05-.58v-2.501c-7.718-1.24-15.008-1.485-21.506 0Z">
                  </path>
                </svg>
                <span> Hidden </span>
              </td>
              <td class="text-center lg-row hide">3:11 PM</td>
              <td class="text-center lg-row hide">
                <span class="bet-place">12.68534722</span>
                <span>
                    <svg fill="none" viewBox="0 0 96 96" class="svg-icon "> <title></title> <path d="M96 48c0 26.51-21.49 48-48 48S0 74.51 0 48 21.49 0 48 0s48 21.49 48 48Z" fill="#F3BA2F"></path><path d="M36.348 43.212 48 31.56l11.658 11.658 6.78-6.78L48 18 29.568 36.432l6.78 6.78ZM18 48l6.78-6.78L31.56 48l-6.78 6.78L18 48Zm18.348 4.788L48 64.44l11.658-11.658 6.78 6.777L48 78 29.559 59.559l6.789-6.771ZM64.44 48l6.78-6.78L78 48l-6.78 6.78L64.44 48Zm-9.564-.006h.006V48L48 54.882 41.115 48l.012-.009 1.788-1.791L48 41.118l6.879 6.879-.003-.003Z" fill="#fff"></path></svg>
                </span>
              </td>
              <td class="text-center lg-row hide2">0.00X</td>
              <td class="bet-amount gap-1">
                <span class="bet-place">9761.39394799999 </span>
                <span>
                    <svg fill="none" viewBox="0 0 96 96" class="svg-icon "> <title></title> <path d="M96 48c0 26.51-21.49 48-48 48S0 74.51 0 48 21.49 0 48 0s48 21.49 48 48Z" fill="#F3BA2F"></path><path d="M36.348 43.212 48 31.56l11.658 11.658 6.78-6.78L48 18 29.568 36.432l6.78 6.78ZM18 48l6.78-6.78L31.56 48l-6.78 6.78L18 48Zm18.348 4.788L48 64.44l11.658-11.658 6.78 6.777L48 78 29.559 59.559l6.789-6.771ZM64.44 48l6.78-6.78L78 48l-6.78 6.78L64.44 48Zm-9.564-.006h.006V48L48 54.882 41.115 48l.012-.009 1.788-1.791L48 41.118l6.879 6.879-.003-.003Z" fill="#fff"></path></svg>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <!-- table end  -->
</div>
