<div class="main">
  <div class="group-banner-wrap svelte-47jlag">
    <div class="group-banner-bg svelte-47jlag"></div>
    <div class="banner-wrap svelte-47jlag">
      <div class="banner svelte-47jlag">
        <div class="left svelte-47jlag">
          <h1>
            <span class="top-head">Providers</span>
          </h1>
        </div>
        <div class="right svelte-47jlag">
          <img
            src="https://mediumrare.imgix.net/group-banner-default.png"
            alt="Providers"
            class="top-img"
          />
        </div>
      </div>
    </div>
  </div>
  
</div>
