        <!-- top section  -->
<div class="provide">
  <div class="group-banner-wrap svelte-47jlag">
    <div class="group-banner-bg svelte-47jlag"></div>
    <div class="banner-wrap svelte-47jlag">
      <div class="banner svelte-47jlag">
        <div class="left svelte-47jlag">
          <h1>
            <span class="top-head">Providers</span>
          </h1>
        </div>
        <div class="right svelte-47jlag">
          <img
            src="/assets/providers/provider top img.png"
            alt="Providers"
            class="top-img"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- top section end  -->

        <!-- search box -->

  <div class="search-box">
    <div class="search-wrap">
        <div class="search-wrap-input">
          <!-- search icon -->
          <div class="search-icon">
            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
              <title></title>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10.266 3.893a23.1 23.1 0 1 1 25.668 38.414A23.1 23.1 0 0 1 10.266 3.893Zm5.112 30.764a13.9 13.9 0 1 0 15.444-23.114 13.9 13.9 0 0 0-15.444 23.114ZM38.55 46.33a28.002 28.002 0 0 0 7.78-7.78L64 56.22 56.22 64 38.55 46.33Z">
              </path>
            </svg>
          </div>
          <!-- search-input -->
          <input data-testid="search" data-analytics="sports-home-search" placeholder="Search your event"
            class="search-input">
        </div>
      </div>
  </div>
  <!-- search box end  -->

  <!-- grid layout -->
  <div class="sec">
    <div class="hero">
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/pragmatic.png"
                alt="Pragmatic Play"
                width="200"
                draggable="false"
                class="img2"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap ">
              <img
                loading="lazy"
                src="/assets/providers/evolution.png"
                alt="Evolution"
                width="200"
                draggable="false"
                class="img2"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/hacksaw.png"
                alt="Hacksaw Gaming"
                width="200"
                draggable="false"
                class="img2"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap five-by-two svelte-1xdyar1">
              <img
                loading="lazy"
                src="/assets/providers/nolimit.jpeg"
                alt="Nolimit City"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/play-go.png"
                alt="Play'n Go"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/push-gaming.png"
                alt="Push Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap five-by-two svelte-1xdyar1">
              <img
                loading="lazy"
                src="/assets/providers/real-gaming.png"
                alt="Relax Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/massive.png"
                alt="Massive Studios"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/stake-gaming.png"
                alt="Stake Originals"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/titan-gaming.png"
                alt="Titan Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/avatar-ux.png"
                alt="AvatarUX"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/backseat.png"
                alt="Backseat Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/twist.png"
                alt="Twist Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/octoplay.png"
                alt="Octoplay"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="whitespace-break-spaces">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/elk-studios.png"
                alt="ELK Studios"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/thunderkick.jpeg"
                alt="Thunderkick"
                class="img2"
                width="200"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/popiplay.png"
                alt="Popiplay"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div >
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/bg-gaming.png"
                alt="BGaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class=""
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/print-studios.png"
                alt="Print Studios"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/bullshark.png"
                alt="Bullshark Games"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/pg-gaming.jpeg"
                alt="PG Soft"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/netent.png"
                alt="Netent"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/btg.png"
                alt="Big Time Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/red-tiger.png"
                alt="Red Tiger"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/fantasma.png"
                alt="Fantasma Games"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/game-art.png"
                alt="GameArt"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/oslotmill.png"
                alt="Slotmill"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/one-touch.png"
                alt="OneTouch"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/wazdan.png"
                alt="Wazdan"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/live-88.png"
                alt="Live88"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/gamomat.png"
                alt="Gamomat"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="whitespace-break-spaces">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/games-global.png"
                alt="Games Global"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/belatra.png"
                alt="Belatra"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/endorphina.png"
                alt="Endorphina"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/true-lab.png"
                alt="Truelab"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/blue-print.png"
                alt="Blueprint"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/redrake.png"
                alt="Red Rake Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/boming-games.png"
                alt="Booming Games"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/quick-spin.png"
                alt="Quickspin"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/novomatic.png"
                alt="Novomatic"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/oaks-gaming.png"
                alt="3 Oaks Gaming"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a class="grid-item"
            ><div class="img-wrap five-by-two svelte-1xdyar1">
              <img
                loading="lazy"
                src="/assets/providers/jade-rabbit.png"
                alt="Jade Rabbit"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
      <div>
        <div class="wrap">
          <a
            class="grid-item"
            ><div class="img-wrap">
              <img
                loading="lazy"
                src="/assets/providers/spinomenal.png"
                alt="Spinomenal"
                width="200"
                class="img2"
                draggable="false"
              /></div
          ></a>
        </div>
      </div>
    </div>
  </div>
        <!-- grid layout end  -->
        <!-- TABLE  -->

  <div class="table-content">
    <div class="table-container">
        <table>
          <thead>
            <tr>
              <th class="text-start">Game</th>
              <th class="lg-row hide2">User</th>
              <th class="lg-row hide">Time</th>
              <th class="lg-row hide"> Bet Amount</th>
              <th class="lg-row hide2"> Multiplier</th>
              <th class="text-end">Payout</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class=" table-btn text-left">
                <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                  <title></title>
                  <path
                    d="m51.12 44.48 8.506 3.894a1.629 1.629 0 0 1 .01 2.956l-.01.004L32 64 4.374 51.334a1.629 1.629 0 0 1-.01-2.956l.01-.004 8.506-3.894 16.454 7.546L32 53.332l2.666-1.226L51.12 44.48Zm8.506-28.854a1.629 1.629 0 0 0 .01-2.956l-.01-.004L32 0 4.374 12.666a1.629 1.629 0 0 0-.01 2.956l.01.004L32 28.292l27.626-12.666ZM34.694 34.294l-2.666 1.254-2.666-1.254-16.48-7.626-8.506 3.866a1.625 1.625 0 0 0-.01 2.928l.01.004 27.626 12.666 27.626-12.666a1.625 1.625 0 0 0 .01-2.928l-.01-.004-8.506-3.866-16.428 7.626Z">
                  </path>
                </svg>
                <span class="ml-2">Multi(13)</span>
              </td>
              <td class=" table-btn text-center gap-2 lg-row hide2">
                <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                  <title></title>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M42.05 8.613c2.815 0 5.192 1.879 5.955 4.494l3.64 12.792H12.253l3.64-12.792.01-.044a6.197 6.197 0 0 1 5.944-4.45H42.05ZM61.488 30.77H2.461a2.461 2.461 0 0 0 0 4.921c8.873 1.271 19.12 1.997 29.539 1.997s20.664-.726 30.696-2.131l-.598.068a2.461 2.461 0 0 0-.56-4.858l-.05.003ZM33.484 43.074h-3.05c-6.335-1.515-13.677-1.22-21.547 0v2.501l3.05.58s0 9.233 9.233 9.233c6.223 0 8.247-5.583 8.908-9.233h3.721c.661 3.65 2.685 9.233 8.908 9.233 9.233 0 9.233-9.233 9.233-9.233l3.05-.58v-2.501c-7.718-1.24-15.008-1.485-21.506 0Z">
                  </path>
                </svg>
                <span> Hidden </span>
              </td>
              <td class="text-center lg-row hide">3:11 PM</td>
              <td class="text-center lg-row hide">
                <span class="bet-place">12.68534722</span>
                <span>
                    <svg fill="none" viewBox="0 0 96 96" class="svg-icon "> <title></title> <path d="M96 48c0 26.51-21.49 48-48 48S0 74.51 0 48 21.49 0 48 0s48 21.49 48 48Z" fill="#F3BA2F"></path><path d="M36.348 43.212 48 31.56l11.658 11.658 6.78-6.78L48 18 29.568 36.432l6.78 6.78ZM18 48l6.78-6.78L31.56 48l-6.78 6.78L18 48Zm18.348 4.788L48 64.44l11.658-11.658 6.78 6.777L48 78 29.559 59.559l6.789-6.771ZM64.44 48l6.78-6.78L78 48l-6.78 6.78L64.44 48Zm-9.564-.006h.006V48L48 54.882 41.115 48l.012-.009 1.788-1.791L48 41.118l6.879 6.879-.003-.003Z" fill="#fff"></path></svg>
                </span>
              </td>
              <td class="text-center lg-row hide2">0.00X</td>
              <td class="bet-amount gap-1">
                <span class="bet-place">9761.39394799999 </span>
                <span>
                    <svg fill="none" viewBox="0 0 96 96" class="svg-icon "> <title></title> <path d="M96 48c0 26.51-21.49 48-48 48S0 74.51 0 48 21.49 0 48 0s48 21.49 48 48Z" fill="#F3BA2F"></path><path d="M36.348 43.212 48 31.56l11.658 11.658 6.78-6.78L48 18 29.568 36.432l6.78 6.78ZM18 48l6.78-6.78L31.56 48l-6.78 6.78L18 48Zm18.348 4.788L48 64.44l11.658-11.658 6.78 6.777L48 78 29.559 59.559l6.789-6.771ZM64.44 48l6.78-6.78L78 48l-6.78 6.78L64.44 48Zm-9.564-.006h.006V48L48 54.882 41.115 48l.012-.009 1.788-1.791L48 41.118l6.879 6.879-.003-.003Z" fill="#fff"></path></svg>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <!-- table end  -->
</div>
