<div class="card-varient">
    <div>
        <div class="layout-spacing variant-normal svelte-l4ghjo">
            <section class="stats-grid svelte-lqm917">
                <div class="stat svelte-lqm917">
                    <span class="text-sm text-white">Campaign
                        Hits</span> <span class="text-sm">0</span>
                </div>
                <div class="stat svelte-lqm917"><span class="text-sm text-white">Referrals</span>
                    <span class="text-sm">0</span>
                </div>
                <div class="stat svelte-lqm917"><span class="text-sm text-white">Total
                        Deposits</span> <span class="text-sm">0</span>
                </div>
                <div class="stat svelte-lqm917"><span class="text-sm text-white">Unique
                        Deposits</span> <span class="text-sm">0</span>
                </div>
                <div class="stat svelte-lqm917"><span class="text-sm text-white">Available</span>
                    <div class="currency svelte-141qgpc" role="presentation"> <span class="content svelte-141qgpc"><span
                                class="text-sm currency" style="max-width: 12ch;">0.00000000</span></span> <span
                            title="btc" style="max-width: 12ch;"><svg fill="none" viewBox="0 0 96 96" class="svg-icon ">
                                <title></title>
                                <path
                                    d="M95.895 48.105C95.895 74.557 74.451 96 48 96 21.548 96 .105 74.556.105 48.105.105 21.653 21.548.21 48 .21c26.451 0 47.895 21.443 47.895 47.895Z"
                                    fill="#F7931A"></path>
                                <path
                                    d="M69.525 42.18c.93-6.27-3.84-9.645-10.38-11.895l2.115-8.505-5.16-1.29-2.1 8.28c-1.365-.345-2.76-.66-4.14-.975l2.1-8.295-5.175-1.29-2.115 8.49c-1.125-.255-2.235-.51-3.3-.78l-7.14-1.785-1.365 5.52s3.84.885 3.75.93a2.763 2.763 0 0 1 2.414 3.011l.001-.01-2.415 9.69c.213.049.394.106.568.174l-.028-.01-.54-.135-3.39 13.5a1.879 1.879 0 0 1-2.383 1.226l.013.004-3.765-.93L24.525 63l6.735 1.665 3.69.96-2.145 8.595 5.175 1.29 2.115-8.505c1.41.375 2.775.735 4.125 1.065l-2.115 8.475 5.175 1.29 2.13-8.58c8.835 1.665 15.465.99 18.255-6.99 2.25-6.42-.105-10.125-4.755-12.54 3.39-.72 5.925-2.955 6.615-7.545ZM57.69 58.755c-1.59 6.435-12.405 3-15.915 2.085L44.61 49.5c3.51.825 14.76 2.565 13.08 9.255Zm1.605-16.665c-1.5 5.85-10.5 2.865-13.38 2.145l2.58-10.32c2.91.72 12.315 2.085 10.8 8.175Z"
                                    fill="#fff"></path>
                            </svg></span> </div>
                </div>
            </section>
            <div class="accordian-table-wrap svelte-1eda04b">
                <div class="secondary-accordion level-2 rounded svelte-69p9vw">
                    <div class="header rounded svelte-69p9vw" (click)="toggleContent()">
                        <div class="header svelte-1eda04b"><span class="text-sm">Username77</span>
                            <div><span class="text-sm text-[#b1bad3] font-normal">Commission: </span>
                                <div class="currency svelte-141qgpc" role="presentation"> <span
                                        class="content svelte-141qgpc"><span class="text-sm text-[#b1bad3] font-normal"
                                            style="max-width: 12ch;">0.00000000</span></span> <span title="btc"
                                        style="max-width: 12ch;"><svg fill="none" viewBox="0 0 96 96" class="svg-icon ">
                                            <title></title>
                                            <path
                                                d="M95.895 48.105C95.895 74.557 74.451 96 48 96 21.548 96 .105 74.556.105 48.105.105 21.653 21.548.21 48 .21c26.451 0 47.895 21.443 47.895 47.895Z"
                                                fill="#F7931A"></path>
                                            <path
                                                d="M69.525 42.18c.93-6.27-3.84-9.645-10.38-11.895l2.115-8.505-5.16-1.29-2.1 8.28c-1.365-.345-2.76-.66-4.14-.975l2.1-8.295-5.175-1.29-2.115 8.49c-1.125-.255-2.235-.51-3.3-.78l-7.14-1.785-1.365 5.52s3.84.885 3.75.93a2.763 2.763 0 0 1 2.414 3.011l.001-.01-2.415 9.69c.213.049.394.106.568.174l-.028-.01-.54-.135-3.39 13.5a1.879 1.879 0 0 1-2.383 1.226l.013.004-3.765-.93L24.525 63l6.735 1.665 3.69.96-2.145 8.595 5.175 1.29 2.115-8.505c1.41.375 2.775.735 4.125 1.065l-2.115 8.475 5.175 1.29 2.13-8.58c8.835 1.665 15.465.99 18.255-6.99 2.25-6.42-.105-10.125-4.755-12.54 3.39-.72 5.925-2.955 6.615-7.545ZM57.69 58.755c-1.59 6.435-12.405 3-15.915 2.085L44.61 49.5c3.51.825 14.76 2.565 13.08 9.255Zm1.605-16.665c-1.5 5.85-10.5 2.865-13.38 2.145l2.58-10.32c2.91.72 12.315 2.085 10.8 8.175Z"
                                                fill="#fff"></path>
                                        </svg></span> </div>
                            </div>
                        </div>
                        <div class="arrow svelte-69p9vw">
                            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon "
                                style="transform: rotate(90deg)  "
                                [ngStyle]="{ transform: isOpen ? 'rotate(0deg)' : 'rotate(90deg)' }">
                                <title></title>
                                <path
                                    d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="content svelte-69p9vw is-open" *ngIf="isOpen">
                        <div>
                            <div class="content-spacing svelte-1eda04b commission">
                                <div>
                                    <section class="stats-grid svelte-lqm917">
                                        <div class="state svelte-lqm917"><span class="text-sm text-[#fff]">Campaign Hits</span>
                                            <span class="text-sm">0</span>
                                        </div>
                                        <div class="state svelte-lqm917"><span class="text-sm text-[#fff]">Referrals</span> <span
                                                class="text-sm">0</span></div>
                                        <div class="state svelte-lqm917"><span class="text-sm !text-[#fff]">Total Deposits</span>
                                            <span class="text-sm">0</span>
                                        </div>
                                        <div class="state svelte-lqm917"><span class="text-sm !text-[#fff]">Unique Deposits</span>
                                            <span class="text-sm">0</span>
                                        </div>
                                        <div class="state svelte-lqm917"><span class="text-sm !text-[#fff]">Commission Rate</span>
                                            <span class="text-sm">0.10</span>
                                        </div>
                                    </section>
                                    <div class="wrapper svelte-1eda04b">
                                        <div class="link svelte-1eda04b"><span class="text-sm !text-[#fff]">Link</span>
                                            <div class="wrap svelte-7j6mnu">
                                                <label class="stacked svelte-1wzq4lo">
                                                    <div class="input-wrap svelte-1nbx5re">
                                                        <div class="input-content svelte-1nbx5re"> <input
                                                                autocomplete="on" class="input-content-wrap"
                                                                [value]="referralLink"
                                                                [ngClass]="{'!border-[#557086] borde-[2px]': isCopied}"
                                                                class="input spacing-expanded svelte-1nbx5re bg-[#2F4553] placeholder:!text-white"
                                                                type="text"> </div>
                                                        <div class="input-button-wrap svelte-1nbx5re bg-[#2F4553]">

                                                            <button type="button" tabindex="0" class="copy-btn"
                                                                (click)="copyReferralLink()">
                                                                <svg fill="currentColor" viewBox="0 0 64 64"
                                                                    class="svg-icon ">
                                                                    <title></title>
                                                                    <path
                                                                        d="M61.334 64H16V12.986h45.334V64ZM2.666 0v45.466H9.28V6.506h38.96V0H2.666Z">
                                                                    </path>
                                                                </svg>
                                                                <!-- Tooltip -->
                                                                <div *ngIf="isCopied" class="tooltip">
                                                                    Copied!
                                                                    <div class="tooltip-arrow"></div>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    </div> <span class="label-content full-width svelte-1k9rtf3">
                                                        <div class="label-left-wrapper svelte-1nbx5re"> </div>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="balance-grid svelte-12f32gl">
                                    <section class="svelte-12f32gl text-sm"><span>Available Commission</span> </section>
                                    <section class="svelte-12f32gl text-sm"><span>Total Commission</span> </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stack">
                <button type="button" class="control-btn">Previous</button>
                <button type="button" class="control-btn">Next</button>
            </div>
            <div>
                <button type="button" class="create-btn" (click)="openCampingModal()">Create New Campaign</button>
            </div>
        </div>
    </div>
</div>