.svg-icon {
    @apply pointer-events-none [stroke-width:0] fill-current stroke-current flex-shrink-0 inline-block size-[1em];
  }
  .card-varient {
    @apply bg-[#0f212e]  text-[#d5dceb] rounded-lg p-6 overflow-hidden relative align-baseline m-0;
  }
  .layout-spacing {
    @apply flex flex-col w-full 
   
}
  .layout-spacing {
    width: 100%;
    
}
.stats-grid.svelte-lqm917 {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 2rem;
}
.stat.svelte-lqm917 {
    @apply flex flex-col justify-center items-center
}
.accordian-table-wrap.svelte-1eda04b {
    @apply flex flex-col
   
}
.layout-spacing:not(.reset).variant-normal.svelte-l4ghjo>*+*  {
    @apply mt-[1.5rem]
}
.secondary-accordion.svelte-69p9vw.svelte-69p9vw {
    @apply flex flex-col w-full relative z-0 bg-[#213743];
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .12), inset 0 1px rgba(255, 255, 255, .04);
}
.secondary-accordion.svelte-69p9vw>.header.svelte-69p9vw {
    width: 100%;
}
.header.svelte-69p9vw.svelte-69p9vw {
    @apply z-[4] flex justify-between items-center [background:none] p-[.75rem_1rem] text-[#d5dceb] cursor-pointer
}
.header.svelte-1eda04b {
    @apply flex w-full justify-between
}
.currency.svelte-141qgpc {
    @apply inline-flex items-center

}
.content.svelte-141qgpc {
    @apply inline-block overflow-hidden whitespace-nowrap 
}
.currency.svelte-141qgpc>*+* {
    @apply ml-[.25rem]
}
.stack{
    @apply text-[#b1bad3] text-sm  items-center text-center gap-[1.5rem] flex justify-center
}
.control-btn{
    @apply inline-flex stack relative gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none ;
}

.create-btn{
    @apply inline-flex relative items-center gap-2 justify-center rounded-sm  font-semibold whitespace-nowrap     transition disabled:pointer-events-none disabled:opacity-50  focus-visible:outline focus-visible:outline-2  focus-visible:outline-offset-2 active:scale-[0.98] bg-[#2F4553]  text-white  hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.9375rem] px-[1.25rem]
                     
    }
 .content.is-open.svelte-69p9vw.svelte-69p9vw {
        @apply border-t-2 border-solid border-[#2f4553] bg-[#213743]
    
    }
    
 .content.svelte-69p9vw.svelte-69p9vw {
        @apply bg-[#2f4553] flex flex-col w-full rounded-none;
        border-radius: 0 0 .25rem .25rem;
    }
 .content-spacing.commission.svelte-1eda04b {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 1rem;
    }
 .content-spacing.svelte-1eda04b {
        @apply p-[2rem]
    }
 .stats-grid.svelte-lqm917 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap:2rem;
    }
 .state {
    @apply !items-start
        
    }
.state.svelte-lqm917 {
        @apply flex flex-col justify-start
    }
 .balance-grid.svelte-12f32gl {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap:1rem;
    }
    
section.svelte-12f32gl {
    @apply flex flex-col

}
.wrapper.svelte-1eda04b {
    @apply flex flex-col gap-[.5rem]
}
.link.svelte-1eda04b {
    @apply  flex flex-col mt-[1rem] w-full 
}
.wrap.svelte-7j6mnu {
    @apply flex w-full relative
}
.wrap.svelte-7j6mnu>label {
    @apply flex-grow
}
label.stacked.svelte-1wzq4lo {
    @apply flex-col-reverse items-start

}
label.svelte-1wzq4lo {
    @apply inline-flex relative
}
.input-wrap.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
    @apply w-full flex flex-shrink-0 rounded-[.25rem];
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .12);
}
.input-content.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
    @apply flex-grow relative w-full flex

}
.input[readonly].svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
    @apply bg-[#2f4553]
}
.input.spacing-expanded.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
    @apply p-[.5em] w-full 
   
}
input{
    @apply border-[2px] border-solid border-[#2f4553] outline-none
    
}
.label-content.svelte-1k9rtf3 { 
    @apply inline-flex items-center font-semibold text-sm text-[#b1bad3] p-[0_0_.25rem] justify-between
}

span.variant-highlighted.svelte-17v69ua{
    @apply text-sm text-white
}
.copy-btn{
@apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2
focus-visible:outline-offset-2 active:scale-[0.98] !bg-[#2F4553] text-white  hover:text-white focus-visible:outline-white text-sm leading-none py-[0.8125rem] px-[1rem] shadow-none

}
 .tooltip-arrow {
    @apply absolute bottom-[-4px] left-[50%] w-[8px] h-[8px] bg-inherit;
    transform: translateX(-50%) rotate(45deg);
  }
  .tooltip{
    @apply bg-white text-black text-sm rounded-sm px-4 py-2 absolute -top-14 right-[-2]   shadow-lg
  }