.card-varient {
    @apply bg-[#0f212e]  text-[#d5dceb] rounded-lg p-6 overflow-hidden relative align-baseline m-0;
  }

  .svg-icon {
    @apply pointer-events-none [stroke-width:0] fill-current stroke-current flex-shrink-0 inline-block size-[1em];
  }
  .layout-spacing {
    @apply flex flex-col w-full  
}
.tabs-wrapper.svelte-1vkrcyy {
    @apply flex
}
 .scrollX {
    scrollbar-color: #2f4553 transparent;
}
.scrollX {
    @apply overflow-auto overflow-x-hidden;
    transform: translateZ(0);
    scrollbar-width: thin;
}
.tabs-wrapper.svelte-1vkrcyy .slider.variant-light {
    @apply !bg-[#1a2c38]
}
.layout-spacing.variant-normal.svelte-l4ghjo>*+*{
    @apply mt-[1.5rem]
}
.empty-list.svelte-1qm952x {
    @apply !p-[1rem] text-[#b1bad3] flex-col m-[0_auto] flex items-center text-sm
}
.large-icon.svelte-1qm952x {
    @apply font-[6rem] text-[#557086]

}
.stack{
    @apply !text-[#848D94] opacity-[.5] text-sm  items-center text-center gap-[1.5rem] flex justify-center
}
.control-btn{
    @apply inline-flex relative items-center gap-2 justify-center rounded-sm 
    font-semibold whitespace-nowrap  transition
     disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 
     focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white
      hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none ;
}
.download{
    @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-[rgb(47,69,83)] text-white  hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.9375rem] px-[1.25rem]
}
.download-sec{
    @apply inline-flex relative items-center gap-2 justify-start rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-[rgb(47,69,83)] text-white  hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.9375rem] px-[1.25rem]
}
.crypto{
    @apply inline-flex relative items-center gap-2 justify-center font-semibold 
    whitespace-nowrap transition disabled:pointer-events-none disabled:opacity-50
     focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
     active:scale-[0.98] bg-transparent text-white 
     focus-visible:outline-white text-sm leading-none
      py-[0.9375rem] px-[1.25rem] rounded-full 
}
.tab-btn{
    @apply bg-[#1a2c38] w-fit rounded-full ml-0 p-[5px]
}
