.fire-icon,
.accordion-card-icons {
  filter: invert(90%) sepia(3%) saturate(5329%) hue-rotate(188deg)
    brightness(91%) contrast(80%);
  width: 18px;
}
.accordion-card-icons, .status-icon {
  filter: invert(90%) sepia(3%) saturate(5329%) hue-rotate(188deg)
    brightness(91%) contrast(80%);
}
.accordion-box-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12),
    inset 0 1px rgba(255, 255, 255, 0.04);
}
.fav-icon {
  filter: invert(97%) sepia(2%) saturate(449%) hue-rotate(316deg)
    brightness(119%) contrast(100%);
}
.market-select-box{
  @apply h-[1em] bg-[#0f212e] py-[1.25rem] px-[1.5rem] rounded flex items-center gap-x-2
}
.market-options-box{
  @apply absolute z-30 top-[110%] -left-1/4 bg-white flex-col justify-start w-[300px] rounded py-2
}
.market-option{
  @apply text-black text-xs font-semibold px-4 py-2 hover:bg-[#b1bad3]
}
.prev-nav-btn{
  @apply size-[1em] flex justify-center items-center py-[1.25rem] px-[1.5rem] bg-[#0f212e] rounded
}
.section-name-btn{
  @apply h-[1em] bg-[#0f212e] py-[1.25rem] px-[1.5rem] rounded flex items-center gap-x-2
}
.fav-icon-btn{
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] text-white focus-visible:outline-white text-sm leading-none py-[0.9375rem] px-[1.25rem] shadow-none bg-[#2F4553]
}
.tabs-nav-container{
  @apply mt-6 flex max-[744px]:flex-col justify-between max-[744px]:justify-start gap-4
}
.selection-icon{
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent  focus-visible:text-white focus-visible:outline-none text-sm leading-none py-[0.8125rem] px-[1rem]
}
.accordion-header{
  @apply flex items-center justify-between bg-[#071d2a] shadow-md py-3 px-4 cursor-pointer
}
.item-count-badge{
  @apply flex text-[#d5dceb] bg-[#2f4553] px-1 rounded-full text-xs font-semibold
}
.nested-acc-header{
  @apply flex items-center justify-between bg-[#213743] shadow-md py-3 px-4 cursor-pointer
}
.nested-acc-card{
  @apply flex flex-col min-[830px]:flex-row min-[830px]:justify-between min-[830px]:items-center gap-y-2 py-3 px-5 border-t-2 border-solid border-t-[#2f4553]
}
.nested-cards-icons-section{
  @apply flex items-center min-[830px]:flex-col min-[830px]:gap-y-2 min-[830px]:mt-[20px] gap-x-2 border-r border-solid border-r-[#557086] pr-4
}
.winner-status-div{
  @apply w-full text-center text-[#b1bad3] text-xs px-2 bg-[#213743] min-[830px]:bg-transparent min-[830px]:pb-2
}
.nested-card-bets-section{
  @apply flex flex-col items-start bg-[#071824] text-sm justify-center rounded px-3 py-2 hover:bg-[#092f5a] transition-all duration-150 cursor-pointer
}