<div class="main-container">
  <div class="sidebar" >
    <app-sidebar></app-sidebar>
  </div>

  <div class="content-container" [ngClass]="{'lg:!w-[calc(100vw-60px)] transition-all duration-200':!sidebarOpen}">
    <app-header></app-header>
    <main [ngClass]="{'!pt-0 !h-[calc(100vh-60px)]':currentRoute === '/' || currentRoute === '/drake' }"
      class="page-wrapper">
      <app-content></app-content>
      <app-mobile-navigation></app-mobile-navigation>
      <app-footer></app-footer>
    </main>
  </div>
  <div>
    <app-bet-slip></app-bet-slip>
  </div>
</div>