.categories{
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    gap:2rem 1.5rem;
    @apply grid
}
.main-wrapper{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:2rem 1.5rem;
    @apply grid items-start mt-[1rem]
}
.heading-text{
    @apply text-left justify-start font-[600] inline-flex items-center text-[24px]
}
.main-parent{
    @apply w-full bg-[#213743]  px-[3vw]
}
.child-container{
    @apply max-w-[1200px] mx-auto h-[115px] flex
}
.card-text{
    @apply text-[#b1bad3] text-left justify-start text-[.75rem] font-[400] mt-[8px] inline-flex items-center
}
.card-title{
    @apply text-[1.25rem] text-left justify-start font-[600] mt-[8px] inline-flex items-center
}
.middle-text{
    @apply text-[1.25rem] font-[600] inline-block text-left justify-start
}
.left-box{
    @apply flex justify-center items-center
}
.right-box{
    @apply flex justify-end items-center w-full
}
.secound-wrapper{
    @apply w-full bg-[#1A2C38]  px-[3vw]
}
.category-parent{
    @apply w-full flex flex-col mt-[24px]
}
.content-parent{
    @apply flex items-center justify-between rounded-[.25rem] bg-[#213743] overflow-hidden
}
.svg-icon{
    @apply text-[1.25rem] w-[16px] h-[16px] mr-[1.15rem]
}
.sport-text{
    @apply text-[1.125rem] text-left ml-[16px] font-[600] block
}