 .card-varient {
    @apply bg-[#0f212e]   text-[#d5dceb] rounded-lg p-6 overflow-hidden relative;
  }

 
  .layout-spacing {
    @apply flex flex-col w-full  overflow-hidden [padding-bottom:unset] 
}
.scrollX {
    @apply flex [scrollbar-color:#2f4553] w-[90vw] md:w-[65vw]  [scrollbar-width:thin]  !overflow-x-auto !overflow-y-hidden;
    /* transform: translateZ(0); */
}


.slider-varient{
    @apply flex rounded-[3rem] p-[5px] shrink-0 bg-[#1a2c38]
}

.large-icon{
    @apply font-[6rem] text-[#557086]

}

.control-btn{
    @apply inline-flex relative items-center gap-2 justify-center rounded-sm 
    font-semibold whitespace-nowrap  transition
     disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 
     focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white
      hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none ;
}
.download{
    @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-[rgb(47,69,83)] text-white  hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.9375rem] px-[1.25rem]
}
.download-sec{
    @apply inline-flex relative items-center gap-2 justify-start rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-[rgb(47,69,83)] text-white  hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.9375rem] px-[1.25rem]
}
.crypto{
    @apply ml-0 inline-flex relative items-center gap-2 justify-center font-semibold  hover:bg-[rgb(47,69,83)]
    whitespace-nowrap transition disabled:pointer-events-none disabled:opacity-50
     focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
     active:scale-[0.98] bg-transparent text-white 
     focus-visible:outline-white text-sm leading-none
      py-[0.9375rem] px-[1.25rem] rounded-full 
}
.tab-btn{
    @apply bg-[#1a2c38] w-fit rounded-full ml-0 p-[5px]
}


  .svg-icon {
    @apply pointer-events-none [stroke-width:0] fill-current stroke-current flex-shrink-0 inline-block size-[1em];
  }
  
.empty-list{
    @apply !p-[1rem]  text-[#b1bad3] flex-col m-[0_auto] mt-6 flex items-center text-sm
}

.stack-btn{
    @apply     [grid-auto-flow:column]  items-center text-center gap-[1.5rem] grid mt-6 justify-center p-0
} 
.control-btn{
    @apply inline-flex relative items-center gap-2 justify-center rounded-sm 
    font-semibold whitespace-nowrap  transition
     disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 
     focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white
      hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none ;
}
.download{
    @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-[rgb(47,69,83)] text-white  hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.9375rem] px-[1.25rem]
}
.download-sec{
    @apply inline-flex relative items-center gap-2 justify-start rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-[rgb(47,69,83)] text-white  hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.9375rem] px-[1.25rem]
}
.crypto{
    @apply inline-flex relative items-center gap-2 justify-center font-semibold 
    whitespace-nowrap transition disabled:pointer-events-none disabled:opacity-50
     focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
     active:scale-[0.98] bg-transparent text-white 
     focus-visible:outline-white text-sm leading-none
      py-[0.9375rem] px-[1.25rem] rounded-full 
}
.tab-btn{
    @apply bg-[#1a2c38] w-fit rounded-full ml-0 p-[5px]
}
 

