<section
    class="bg-[#0d212e] px-5  py-2.5 max-h-[calc(100svh-60px)] overflow-auto tracking-wider  absolute z-[1500] top-[0px] transition-transform duration-700 ease-in-out w-full"
    [ngClass]="{'  translate-y-full': !mobSidebarState, 'translate-y-[60px]   ease-in-out': mobSidebarState ,'hidden': hideSideBar}">
    <div>
        <div class="input-wrap mobile">
            <button
                class="text-[15px] font-semibold leading-[17.9px] tracking-wide w-[99.26px] h-[36px] border-r-2 border-[#2f4553] ">Casino</button>
            <div class="search-icon  pl-3">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.64363 2.50944C4.89014 2.50944 2.658 4.74158 2.658 7.49507C2.658 10.2486 4.89014 12.4807 7.64363 12.4807C10.3971 12.4807 12.6293 10.2486 12.6293 7.49507C12.6293 4.74158 10.3971 2.50944 7.64363 2.50944ZM1.24133 7.49507C1.24133 3.95918 4.10774 1.09277 7.64363 1.09277C11.1795 1.09277 14.0459 3.95918 14.0459 7.49507C14.0459 11.031 11.1795 13.8974 7.64363 13.8974C4.10774 13.8974 1.24133 11.031 1.24133 7.49507Z"
                        fill="#566771" />
                    <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.5303 10.6868L15.7588 14.9042L14.7583 15.9072L10.5299 11.6898L11.5303 10.6868Z"
                        fill="#566771" />
                </svg>
            </div> <input placeholder="Search your game" class="input">
        </div>
    </div>
    @if (viewType==='Game') {
    <div class="bg-[#1A2C38] mt-[24px] border-0 rounded-[10px] h-[711px]">
        <div
            class="h-[59px] w-full text-[18px] leading-[21.48px] tracking-wide font-bold flex justify-start items-center pl-5 text-white border-b border-[#55758A] border-solid">
            Game
        </div>
        <ul class="">
            @for (item of gameList; track $index) {
            <li class="flex flex-row justify-start items-center gap-4 pl-5 mt-5 cursor-pointer">
                <div [ngClass]="[item?.img==='' ? 'opacity-0':'']">
                    <img class="w-[13px] h-[17px]" [src]="item?.img" alt="fire">
                </div>
                <div class="text-[14px] font-bold leading-[16.71px] text-white">{{item?.name}}</div>
            </li>
            }
        </ul>

    </div>
    }@else if(viewType==='Profile') {
    <div class="bg-[#1A2C38] mt-[24px] border-0 rounded-[10px] ">
        <div class="h-[46px] w-full flex justify-center items-center gap-2.5  border-b border-[#304553] border-solid">
            <img class="w-[11.33px] h-[14.17px]" src="/images/Profile.svg" alt="profile">
            <div class=" text-[14px] leading-[16.71px] tracking-wider font-semibold text-white">
                Profile
            </div>
        </div>
        <ul class="pb-[60px] border-b border-[#304553]">
            @for (item of profileList; track $index) {
            <li class="flex flex-row justify-start items-center gap-4 pl-5 mt-5 cursor-pointer">
                <div [ngClass]="[item?.img==='' ? 'opacity-0':'']">
                    <img class="w-[13px] h-[17px]" [src]="item?.img" [alt]="item.name">
                </div>
                <div class="text-[14px] font-bold leading-[16.71px] text-white">{{item?.name}}</div>
            </li>
            }
        </ul>
        <button class="h-[46px] w-full flex justify-start items-center gap-2.5   border-solid cursor-pointer pl-5">
            <img class="w-[17px] h-[17px]" src="/images/logout.svg" alt="profile">
            <div class=" text-[14px] leading-[16.71px] tracking-wider font-semibold text-white">
                Logout
            </div>
        </button>
    </div>
    <div class="mt-[14px] bg-[#1A2C38]  border-0 rounded-[10px]">
        <ul class=" pb-[14px] border-b border-[#304553]">
            <li class="flex flex-row justify-start items-center gap-4 pl-5 pt-[24px] mt-5 cursor-pointer">
                <div>
                    <img class="w-[13px] h-[17px]" src="/images/support.svg" alt="support">
                </div>
                <div class="text-[14px] font-bold leading-[16.71px] text-white">Support</div>
            </li>
            <li class="flex flex-row justify-start items-center gap-4 pl-5 mt-5 cursor-pointer">
                <div>
                    <img class="w-[13px] h-[17px]" src="/images/responsilbleGambling.svg" alt="gambling">
                </div>
                <div class="text-[14px] font-bold leading-[16.71px] text-white">Responsible Gambling</div>
            </li>
            <li class="flex flex-row justify-between items-center gap-4 px-5 mt-5 cursor-pointer">
                <div class="flex flex-row justify-start items-center gap-4">
                    <div>
                        <img class="w-[13px] h-[17px]" src="/images/language.svg" alt="language">
                    </div>
                    <div
                        class="text-[14px] font-bold leading-[16.71px] text-white flex flex-row justify-center items-center gap-1.5">
                        <div>
                            Language:
                        </div>
                        <div>
                            {{selectedLanguage}}
                        </div>
                    </div>
                </div>
                <button (click)="toggleLanguageMenu()"
                    class="bg-[#0f5eb4] w-4 h-4 border-0 rounded-full flex justify-center items-center">
                    <img class="w-[7.61px] h-[4.69px] duration-300 "
                        [ngClass]="[!languageSelectionState ? 'rotate-180 ' :'rotate-0']" src="/images/arrow-down.svg"
                        alt="language_selector">
                </button>
            </li>
        </ul>

        <ul class="pb-[58px]" [ngClass]="[!languageSelectionState ? 'opacity-0' :'']">
            @for (item of languages; track $index) {
            <li class="mt-[14px] px-5 flex flex-row justify-between items-center">
                <div class="text-[14px] font-semibold leading-[16.71px] text-white">
                    {{ item?.label }}
                </div>

                <div class="flex items-center">
                    <input id="{{ item?.label }}Checkbox" type="checkbox" class="hidden peer" [value]="item?.label"
                        [checked]="selectedLanguage === item?.label" (change)="onLanguageChange(item.label)" />
                    <label for="{{ item?.label }}Checkbox"
                        class="w-[15px] h-[15px] rounded-full border-2 border-[#55758A] cursor-pointer peer-checked:bg-white peer-checked:border-[#55758A] transition-colors relative">
                        @if (selectedLanguage === item?.label) {
                        <span class="absolute inset-0 rounded-full border-2 border-black transition-colors">
                        </span>
                        }
                    </label>
                </div>
            </li>
            }

        </ul>
    </div>
    }

</section>