@tailwind utilities;

@layer utilities {
  .svg-icon {
    @apply pointer-events-none stroke-0 stroke-current fill-[#B1BAD3] shrink-0 inline-block w-[1em] h-[1em];
  }
}

.input-wrap {
  width: 100%;
  color: #fff;
  background: #0f212e;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #2f4553;
  font-weight: 600;
  transition: all 0.25s;
  outline: 0;
  margin: 0;
  cursor: text;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 1rem;
  /* margin: 1rem; */
  width: auto;
}
.input {
  width: 100%;
  outline: 0;
  background: #0f212e;
  color: #fff;
  padding: 0.5rem;
  cursor: text;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
