<div class="Modal-container">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row2">
          <div class="col12">
            <div class="form_block_right">
              <div class="header_block">
                <h3 class="header_text">Sign In</h3>
                <button class="btn-close">
                    <!-- <img    style=" width: 20px;
    height: 20px;
    fill: #9ca3af;" src="/login/download.svg"/> -->
                   <svg  style=" width: 20px;
                   height: 20px;
                   fill: #9ca3af;">
                    <use
                     
                      xlink:href="#close_icon"
                    ></use>
                  </svg>
                </button>
              </div>
              <form class="">
                <div class="input_block">
                  <label class="form-label"
                    >Email or Username<span class="form-label-span"
                      >*</span
                    ></label
                  ><input
                    formcontrolname="user_name"
                    type="text"
                    placeholder=""
                    class="form-control "
                  /><!---->
                </div>
                <div class="input_block">
                  <label class="form-label"
                    >Password<span class="form-label-span">*</span></label
                  >
                  <div class="position-relative">
                    <input
                      formcontrolname="password"
                      placeholder=""
                      class="form-control "
                      type="password"
                    /><a href="javascript:void(0)" class="eye_icon"
                      ><svg class="eye_icon-svg">
                        <use
                         
                          xlink:href="#eye_icon"
                        ></use></svg></a
                    ><!---->
                  </div>
                </div>
              </form>
              <div
               
                class="button_block"
                
              >
                <button
                 
                  type="button"
                  class="btn btn-primary"
                >
                  Sign In
                </button>
              </div>
              <div
               
                class="or_block"
                
              >
                <span></span>
              </div>
              <a href="javascript:void(0)" class="forgot_link"
                >Forgot Password</a
              >
              <div
               
                class="distext"
                
              >
                <span
                  >Don’t have an account?
                  <a href="javascript:void(0)"
                  class="text-[#fff] font-semibold text-[.875rem] no-underline cursor-pointer "  >Register an Account</a
                  ></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
