<div id="svelte" class="">
  <div   class="Modal-container">
    <div class="svelte-syudie"></div>
    <div class="card">
      <div class="syudie-svelte-syudie">
        <div class="modal-content">
          <div class="close-svelte">
            <button
              type="button"
             
             class="close-btn"
              
            >
              <svg  fill="currentColor" viewBox="0 0 64 64" class="svg-icon">
                <title></title>
                <path
                  d="m54.827 16.187-7.014-7.014L32 24.987 16.187 9.173l-7.014 7.014L24.987 32 9.173 47.813l7.014 7.014L32 39.013l15.813 15.814 7.014-7.014L39.013 32l15.814-15.813Z"
                ></path>
              </svg>
            </button>
          </div>
          <div class="contenttop">
            <div class="center-wrapper ">
              <h1
                class="header_text"
              >
                Sign In
              </h1>
            </div>
            <form  class="formsvelte">
              <label class="labelstacked">
                <div class="input-wrap" >
                  <div
                    class="input-content "
                    
                  >
                    <div
                      class="before-icon "
                      
                    ></div>
                    <div
                      class="after-icon "
                      
                    ></div>
                    <input
                      autocomplete="on"
                      class="input-spacing"
                      type="text"
                      name="emailOrName"
                      max="Infinity"
                      data-test="login-name"
                    />
                  </div>
                  <div
                    class="input-button-wrap "
                    
                  ></div>
                </div>
                <span class="label-content "
                  ><div
                    class="inline-flex w-full touch-auto"
                    
                  >
                    <span class="touch-auto" slot="label">Email or Username</span>
                    <div
                      class="ml-[.25rem] touch-auto"
                      
                    >
                      <span
                        class="text-[#ed4163] text-left justify-start text-[0.875rem] font-normal touch-auto inline-flex items-center"
                      
                        >*</span
                      >
                    </div>
                  </div>
                </span></label
              >
              <label class="labelstacked mt-[1rem]">
                <div class="input-wrap " >
                  <div
                    class="input-content "
                    
                  >
                    <div
                      class="before-icon"
                      
                    ></div>
                    <div
                      class="after-icon "
                      
                    ></div>
                    <input
                      autocomplete="on"
                      class="py-[7px] pl-[7px] pr-[48px]  w-full text-[#fff] bg-[#0f212e] border-[2px] border-[#2f4553] border-solid font-semibold outline-none touch-auto cursor-text shadow-none appearance-none text-sm"
                      type="password"
                      name="password"
                      max="Infinity"
                      data-test="login-password"
                    />
                    <div
                      class="flex absolute right-0 top-0 h-full touch-auto"
                      
                    >
                      <button
                        type="button"
                        aria-label="Reveal password"
                        class="font-[1.125rem] py-2 px-4 flex items-center touch-auto outline-none border-0"
                      >
                        <svg
                          fill="currentColor"
                          viewBox="0 0 64 64"
                          class="svg-icon-password"
                        >
                          <title></title>
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0 32c6.63-11.67 18.48-19.45 32-19.45S57.37 20.33 64 32c-6.63 11.67-18.48 19.45-32 19.45S6.63 43.67 0 32Zm18.19 0c0 7.66 6.21 13.87 13.87 13.87h.01c7.654 0 13.86-6.206 13.86-13.86V32c0-7.66-6.21-13.87-13.87-13.87-7.66 0-13.87 6.21-13.87 13.87Zm13.87 8.2a8.2 8.2 0 0 0 0-16.4 8.2 8.2 0 0 0 0 16.4Z"
                          ></path>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div
                    class="input-button-wrap "
                    
                  ></div>
                </div>
                <span class="label-content "
                  ><div
                    class="inline-flex w-full touch-auto"
                    
                  >
                    <span slot="label">Password</span>
                    <div
                      class="ml-[.25rem] touch-auto"
                      
                    >
                      <span
                        class="text-[#ed4163] text-left justify-start text-[0.875rem] font-normal touch-auto inline-flex items-center"
                        >*</span
                      >
                    </div>
                  </div>
                </span></label
              >
              <div
                id="_turnstile"
                class="mt-4 w-full touch-auto"
                style="display: none"
              ></div>
              <button
                type="submit"
                tabindex="0"
                class=" mt-4   inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-green-500 text-neutral-black betterhover:hover:bg-green-400 betterhover:hover:text-neutral-black focus-visible:outline-white text-base leading-none shadow-md py-[1.125rem] px-[1.75rem] min-w-[12ch]
}"
                data-test="button-login"
                data-testid="password-reset-button"
                data-button-root=""
              >
                <div
                  data-loader-content=""
                  class="contents touch-auto"
                  
                >
                  Sign In
                </div>
              </button>
            </form>
            <div class="wrap-svelte" >
              <div
                class="or-svelte"
                data-content=""
                
              >
                <span
                  class="text-[#b1bad3] text-center justify-center text-sm px-2 inline-flex items-center font-normal"
                
                  >OR</span
                >
              </div>
              <div class="oauth-svelte" >
                <div
                  class="provider-wrapper svelte-qhfv7k"
                  data-content=""
                  
                >
                  <button
                    type="button"
                    tabindex="0"
                    class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-grey-400 text-white betterhover:hover:bg-grey-300 betterhover:hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.8125rem] px-[1rem]"
                    data-analytics="provider-login-facebook"
                    data-button-root=""
                  >
                    <svg
                      fill="none"
                      viewBox="0 0 96 96"
                      class="svg-icon"
                     
                    >
                      <title></title>
                      <path
                        d="M95.94 47.97C95.94 21.467 74.473 0 47.97 0S0 21.467 0 47.97c0 22.486 15.47 41.374 36.397 46.59v-31.9h-9.894V47.97h9.894v-6.296c0-16.31 7.376-23.925 23.446-23.925 3.058 0 8.274.6 10.433 1.2v13.31c-1.14-.12-3.118-.18-5.516-.18-7.856 0-10.914 3-10.914 10.734v5.157h15.65l-2.698 14.69H53.846v32.98C77.591 92.762 96 72.555 96 48.03l-.06-.06Z"
                        fill="#0866FF"
                      ></path>
                      <path
                        d="m66.738 62.66 2.699-14.69h-15.65v-5.157c0-7.735 3.057-10.733 10.913-10.733 2.458 0 4.437 0 5.516.18V18.948c-2.158-.6-7.375-1.2-10.433-1.2-16.01 0-23.446 7.556-23.446 23.926v6.296h-9.894v14.69h9.894v31.9c3.718.9 7.615 1.44 11.573 1.44a46.6 46.6 0 0 0 5.816-.36V62.66h13.012Z"
                        fill="#fff"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div
                class="provider-wrapper svelte-qhfv7k"
                data-content=""
                
              >
                <button
                  type="button"
                  tabindex="0"
                  class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-grey-400 text-white betterhover:hover:bg-grey-300 betterhover:hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.8125rem] px-[1rem]"
                  data-analytics="provider-login-facebook"
                  data-button-root=""
                >
                  <svg
                    fill="none"
                    viewBox="0 0 96 96"
                    class="svg-icon"
                   
                  >
                    <title></title>
                    <path
                      d="M95.94 47.97C95.94 21.467 74.473 0 47.97 0S0 21.467 0 47.97c0 22.486 15.47 41.374 36.397 46.59v-31.9h-9.894V47.97h9.894v-6.296c0-16.31 7.376-23.925 23.446-23.925 3.058 0 8.274.6 10.433 1.2v13.31c-1.14-.12-3.118-.18-5.516-.18-7.856 0-10.914 3-10.914 10.734v5.157h15.65l-2.698 14.69H53.846v32.98C77.591 92.762 96 72.555 96 48.03l-.06-.06Z"
                      fill="#0866FF"
                    ></path>
                    <path
                      d="m66.738 62.66 2.699-14.69h-15.65v-5.157c0-7.735 3.057-10.733 10.913-10.733 2.458 0 4.437 0 5.516.18V18.948c-2.158-.6-7.375-1.2-10.433-1.2-16.01 0-23.446 7.556-23.446 23.926v6.296h-9.894v14.69h9.894v31.9c3.718.9 7.615 1.44 11.573 1.44a46.6 46.6 0 0 0 5.816-.36V62.66h13.012Z"
                      fill="#fff"
                    ></path>
                  </svg>
                </button>
              </div>
                <div
                  class="provider-wrapper svelte-qhfv7k"
                  data-content=""
                  
                >
                  <button
                    type="button"
                    tabindex="0"
                    class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-grey-400 text-white betterhover:hover:bg-grey-300 betterhover:hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.8125rem] px-[1rem]"
                    data-analytics="provider-login-line"
                    data-button-root=""
                  >
                    <svg
                      fill="none"
                      viewBox="0 0 97 96"
                      class="svg-icon"
                      
                    >
                      <title></title>
                      <path
                        d="M48.121 96c26.51 0 48-21.49 48-48s-21.49-48-48-48-48 21.49-48 48 21.49 48 48 48Z"
                        fill="#06C755"
                      ></path>
                      <path
                        d="M80.161 45.23c0-14.334-14.394-26.018-32.04-26.018s-32.04 11.684-32.04 26.018c0 12.888 11.383 23.608 26.8 25.656 1.024.24 2.47.662 2.831 1.566.301.783.241 2.108.12 2.89 0 0-.36 2.29-.481 2.77-.12.784-.663 3.193 2.77 1.748 3.433-1.446 18.49-10.901 25.175-18.61 4.637-5.12 6.865-10.239 6.865-16.02Z"
                        fill="#fff"
                      ></path>
                      <path
                        d="M69.501 53.48a.603.603 0 0 0 .602-.602V50.59a.603.603 0 0 0-.602-.603h-6.143V47.64h6.143a.603.603 0 0 0 .602-.603v-2.288a.603.603 0 0 0-.602-.602h-6.143v-2.35h6.143a.603.603 0 0 0 .602-.602v-2.288a.603.603 0 0 0-.602-.602h-9.034a.604.604 0 0 0-.602.602v13.972c0 .362.301.602.602.602h9.034Zm-33.365 0a.603.603 0 0 0 .602-.602V50.59a.603.603 0 0 0-.602-.603h-6.143V38.906a.603.603 0 0 0-.602-.602h-2.289a.604.604 0 0 0-.602.602v13.972c0 .362.301.602.602.602h9.034Zm5.481-15.176h-2.289a.602.602 0 0 0-.602.602v14.032c0 .333.27.603.602.603h2.289c.332 0 .602-.27.602-.602V38.905a.602.602 0 0 0-.602-.602Zm15.478 0h-2.289a.604.604 0 0 0-.602.602v8.311l-6.384-8.672v-.06h-2.289a.604.604 0 0 0-.602.602v13.972c0 .361.301.602.602.602h2.289a.603.603 0 0 0 .602-.602v-8.311l6.384 8.672.18.181h2.471a.604.604 0 0 0 .601-.602V39.026a.604.604 0 0 0-.602-.602l-.361-.12Z"
                        fill="#06C755"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div
                  class="provider-wrapper svelte-qhfv7k"
                  data-content=""
                  
                >
                  <button
                    type="button"
                    tabindex="0"
                    class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-grey-400 text-white betterhover:hover:bg-grey-300 betterhover:hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.8125rem] px-[1rem]"
                    data-analytics="provider-login-twitch"
                    data-button-root=""
                  >
                    <svg
                      fill="none"
                      viewBox="0 0 96 96"
                      class="svg-icon"
                     
                    >
                      <title></title>
                      <path
                        d="M82.378 44.593 68.69 58.281H55.002L42.987 70.297V58.28H27.565V6.875h54.813v37.718Z"
                        fill="#fff"
                      ></path>
                      <path
                        d="M24.156 0 7 17.156v61.688h20.563V96l17.156-17.156h13.688L89.25 48V0H24.156Zm58.222 44.593L68.69 58.281H55.002L42.987 70.297V58.28H27.565V6.875h54.813v37.718Z"
                        fill="#9146FF"
                      ></path>
                      <path
                        d="M72.156 18.89h-6.875v20.563h6.875V18.89Zm-18.89 0H46.39v20.563h6.875V18.89Z"
                        fill="#9146FF"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>

            <button
              type="button"
              tabindex="0"
              class="inline-flex  text-center relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
              data-button-root=""
            >
              Forgot Password
            </button>
            <div
              class="footer "
              data-content=""
              
            >
              <span
                class="text-[#b1bad3]  text-center text-sm font-normal touch-auto"
               
                >Don’t have an account?
                <button
                  type="button"
                  tabindex="0"
                  class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
                  data-button-root=""
                >
                  Register an Account
                </button></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
