.navigation {
  @apply w-full z-[100] pr-[6px] bg-[#1a2c38] flex items-center flex-col !shadow-[#0003_0_4px_6px_-1px,#0000001f_0_2px_4px_-1px] touch-none;
}
.group-container {
  @apply w-full px-[3vw] flex items-center flex-col h-full justify-center relative;
}
.ctainer {
  @apply w-full px-[0_3vw] flex items-center flex-col h-full justify-center relative max-w-[1200px];
}

.balance-toggle {
  @apply flex rounded-[.25rem];
}

.stack-right {
  justify-content: end !important;
}

.stack {
  @apply items-center  justify-start grid-flow-col grid;
}
.home-button {
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none;
}
.coin-toggle {
  @apply flex flex-col items-center justify-center bg-[rgb(15,33,46)] rounded-[4px];
}
.svelte-1hjozqf {
  @apply flex flex-col items-center justify-center;
}
.wrapper {
  @apply flex flex-col justify-center items-start;
}
.dropdown {
  @apply relative;
}
.OpenDropdown-btn {
  @apply inline-flex relative w-[152.77px] items-center gap-2 justify-end !rounded-l-[8px] font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98]  text-white  hover:text-white focus-visible:outline-white text-sm leading-none py-[0.8125rem] px-[1rem];
}
.wrap {
  @apply relative w-full mt-1;
}
.svelte-lnje3m {
  @apply relative w-full;
}
.currency.svelte {
  @apply inline-flex items-center;
}
.svelte {
  @apply inline-flex items-center;
}
.currency.svelte > * + * {
  @apply ml-[.25rem];
}
.content {
  @apply inline-block overflow-hidden whitespace-nowrap font-semibold;
  font-variant-numeric: tabular-nums;
}
.svelte {
  @apply inline-block  whitespace-nowrap;
  font-variant-numeric: tabular-nums;
  /* overflow-hidden */
}
.nmric-num {
  @apply max-w-[16ch];
}
.svg-icon {
  @apply pointer-events-none stroke-none fill-current flex-shrink-0 inline-block w-[1em] h-[1em];
}

.dropdown-icon {
  @apply flex items-center;
}

.dropdown-btn {
  @apply inline-flex relative items-center gap-2 justify-center font-semibold whitespace-nowrap transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98]  text-white   focus-visible:outline-white text-sm leading-none py-[0.8125rem] px-[1rem] rounded-sm;
}
.wallet {
  @apply h-[47px] text-[14px] inline-flex relative items-center gap-2 justify-center font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-[#1475E1] text-white hover:bg-blue-600 hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.8125rem] px-[1rem] rounded-tr-[.25rem] rounded-br-[.25rem];
}
.wallet-btn {
  @apply rounded-tr-[.25rem] rounded-br-[.25rem];
}
.navigation-container {
  @apply grid grid-cols-[1fr_auto_1fr] gap-4;
}
.navigation-container {
  @apply grid grid-cols-[1fr_auto_1fr] gap-4 relative h-[60px]  w-full items-center;
}
.svelte-right {
  @apply items-center flex justify-start  grid-flow-col;
}
.search-btn {
  @apply inline-flex text-[14px]  relative items-center gap-2 rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none py-[0.8125rem] px-[1rem] w-full justify-start;
}
.porfile-iocn {
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none py-[0.8125rem] px-[1rem];
}
.bell-icon {
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none p-3;
}
.massage-icon {
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none p-3;
}
.x-flex-start {
  @apply flex justify-start;
}
.direction-horizontal {
  @apply grid grid-flow-col;
}
.image-focus {
  @apply contents;
}
.svelte-1bax0ph {
  @apply contents;
}
.wrap {
  @apply max-w-[66.95px] inline-flex items-center justify-center w-full;
}

.wrap > svg {
  @apply inline-flex items-center justify-center w-full;
}

svg.svelte-md2ju7 {
  @apply !text-white;
}
.stack.padding-none.svelte-right {
  @apply p-0;
}
.stack.gap-none.svelte-right {
  @apply gap-0;
}
.stack.y-center.svelte-right {
  @apply items-center;
}
.stack.x-flex-end.svelte-right {
  @apply justify-end;
}
.stack.svelte-right {
  @apply grid-flow-col;
}
.stack.svelte-right {
  @apply grid;
}
/* login & signin button */
.sign-in {
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none py-[0.9375rem] px-[1.25rem];
}
.Register {
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-blue-500 text-white hover:bg-blue-600 hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.9375rem] px-[1.25rem];
}
/* dropdown  */
.dropdown-continer {
  @apply absolute left-[2%] z-[100] top-[55px] py-1  bg-white rounded-[.25rem] shadow-lg w-[223px];
}
.arrow {
  @apply absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-2 h-2 bg-white rotate-45 border-l border-t border-gray-200;
}
.serch-input {
  @apply w-full pl-[35px] pr-[7px] py-[7px] text-[rgb(47_69_83)] text-sm placeholder:text-[#2f4553] placeholder:font-semibold bg-white  border-[#d5dceb] border-[2px] focus:outline-none focus:border-gray-400 shadow rounded-[.25rem];
}
.search-svg {
  @apply absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none;
}
.currency-continer {
  @apply text-sm text-gray-700 font-semibold h-[20rem] max-h-[20rem] overflow-y-auto text-left;
}
.currency-list {
  @apply flex items-center justify-start px-3 py-[6px] hover:bg-[#B1BAD3];
}
.Wallet-continer {
  @apply p-3 text-center border-t border-gray-200;
}
.wallet-setting {
  @apply flex items-center justify-center w-full  text-gray-600 font-semibold text-[14px] hover:text-gray-800;
}
.wallet-setting-img {
  @apply h-[13px] w-[13px]  mr-2 inline-block;
}

.porfile-dropdown {
  @apply absolute right-0 left-[-38px] z-[100] top-[50px] py-1  bg-white rounded-[.25rem] shadow-lg  w-[124px];
}
.dropdown-scroll-content.svelte-yjqf2g {
  @apply flex flex-col p-[.25rem_0] max-w-[100vw];
}
.scrollY {
  @apply overflow-y-auto overflow-x-hidden min-h-0;
}
.porfile-list {
  @apply inline-flex relative items-center gap-2 font-semibold whitespace-nowrap  text-[rgb(47_69_83)] transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 hover:bg-[#B1BAD3] 
    focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-sm leading-none  px-3 py-3 rounded-none justify-start;
}
.massage-dropdown {
  @apply absolute text-[rgb(47_69_83)]  left-[-30px] right-0 z-[100] top-[48px] py-1  bg-white rounded-[.25rem] shadow-lg  w-[94px];
}
.dropdown-scroll {
  @apply hover:bg-[#B1BAD3] inline-flex relative items-center gap-2 font-semibold whitespace-nowrap transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent   text-sm leading-none px-3 py-3 rounded-none w-full justify-start;
}

.notifications-widget {
  @apply flex flex-col max-md:min-w-[100vw] absolute top-[calc(60px+5rem)] right-[1.5rem] w-full max-w-[375px] max-h-[400px] bg-[#0f212e] p-[0_1rem_1rem] rounded-[.5rem] shadow-[0,10px,15px,-3px_rgba(0,0,0,2),0,4px,6px,2px_rgba(0,0,0,.1)];
}
.svelte-6gfkw4 {
  @apply flex flex-col absolute top-[calc(40px+2rem)] md:right-[1.5rem] max-md:p-0 !left-[6px] min-w-[100vw]   w-full max-md:max-w-[375px] max-h-[400px]     bg-[#0f212e] p-[0_1rem_1rem] rounded-[.5rem] shadow-[0,10px,15px,-3px_rgba(0,0,0,2),0,4px,6px,2px_rgba(0,0,0,.1)];
}
.notifications-header {
  @apply bg-[#0f212e] flex justify-between items-center relative max-md:!px-2.5 touch-none p-[.25rem_0] m-[calc(.25rem*-1)];
}
.svelte-12heyz0 {
  @apply bg-[#0f212e] flex justify-between items-center relative touch-none p-[.25rem_0] m-[calc(.25rem*-1)];
}
.notifications-widget.svelte-6gfkw4 > .notification-list-scroll {
  @apply h-full p-[0_1rem] m-[0_calc(1rem*-1)];
}
.svelte-6gfkw4 > .notification-list-scroll {
  @apply h-full p-[0_1rem] m-[0_calc(1rem*-1)];
}
.empty-notifications.svelte-w18c7z {
  @apply flex items-center justify-center h-full;
}
.empty-list.svelte-1qm952x {
  @apply !p-[1rem] text-[#b1bad3] flex-col m-[0_auto] flex items-center text-[.875rem];
}
.arge-icon.svelte-1qm952x {
  @apply text-[6rem] text-[#557086];
}
.title.svelte-12heyz0 {
  @apply inline-flex items-center gap-[.5rem] text-white font-semibold;
}

.empty-list.spacing-compact.svelte-1qm952x > * + * {
  @apply mt-[.25rem] leading-[120%];
}
.empty-notifications.svelte-w18c7z .svg {
  @apply mb-[1rem];
  transform: rotate(90deg);
}
.close-icon {
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white hover:bg-transparent hover:text-white focus-visible:outline-none text-base leading-none py-4 px-5;
}

@media (max-width: 650px) {
  .svelte-6gfkw4 {
    @apply max-w-none w-[100vw] max-h-none h-[calc(100vh-68px-60px)] left-[3vw] bottom-0 top-[60px] rounded-none;
  }
}

.results-wrapper {
  @apply w-full bg-[#0f212e] rounded-[.25rem] max-h-[400px] text-[#fff] p-[1rem] flex flex-col gap-[2rem];
}

.exception-wrap {
  @apply flex items-center justify-center flex-col p-[.5rem] gap-[.5rem];
}
.result {
  @apply z-[1450] inset-[0px_uto_auto_0px] m-0 max-w-[1018.91px] w-full;
}
input {
  @apply w-full outline-none bg-[#0f212e] text-[#fff] cursor-text p-[.5rem] appearance-none;
}
.input-wrap {
  @apply text-[#fff] bg-[#0f212e] shadow-[0_1px_3px_0_rgba(0,0,0,2),0_1px_2px_0_rgba(0,0,0,.12)] border-[2px] border-solid border-[#2f4553] focus:!outline-none   leading-[0px] font-semibold  m-0 cursor-text
text-[.875rem] flex items-center  rounded-[20px] p-[0_1rem];
}

.input-wrap:focus-within {
  @apply border-[#557086];
}

.casion-btn {
  @apply flex items-center  text-white text-sm font-medium pr-5 py-2 gap-[.5rem] mr-[1rem] rounded-full border-r-[2px] border-solid border-[#2f4553] rounded-r-none;
}
.casion-dropdown {
  @apply absolute text-[rgb(47_69_83)]  justify-center   z-[2000] top-[100px] py-1  bg-white rounded-[.25rem] shadow-lg  w-[67px];
}

.navigation-mobile {
  @apply grid grid-cols-[1fr_auto_1fr]  relative h-[60px]  w-[100vw] items-center  p-[0_3vw];
}
.mobile {
  box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
}

.title.svelte-12heyz0 {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.search-overlay {
  width: 100vw;
  height: 100%;
  background: #1a2e38b3;
  position: fixed;
  z-index: 1450;
  top: 0;
}
.search-wrap.svelte-12b0zpm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  touch-action: pan-x;
}
.results-wrapper.svelte-15c4jgu {
  width: 100%;
  background: #0f212e;
  border-radius: 0.25rem;
  color: #fff;
  max-height: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search-icon {
  z-index: 2;
  color: #557086;
  font-size: 1.25rem;
  margin-bottom: -3px;
}

@media screen and (max-width: 376px) {
  .navigation-mobile {
    grid-template-columns: 1fr 8fr 3fr;
  }
}
.mbl-coin-toggle {
  @apply ml-6;
}

@media screen and (max-width: 350px) {
  .OpenDropdown-btn {
    @apply w-[120px];
  }

  @media (max-width: 350px) {
    .mbl-coin-toggle {
      @apply ml-2;
    }
  }

  .bell-icon {
    padding: 5px;
  }
  .porfile-iocn {
    padding: 5px;
  }
}

.currency {
  transform: translateY(-2px);
}
