<header class="header_wrapper">
    <div>
        <img class="logo_img" src="/images/universeLogo.svg" alt="logo">
    </div>
    <div class="header-wallet">
        <div class="balance_section   text-white">
            <h4 class="">Balance &nbsp;:</h4>
            <h4 class="font-bold ">1000.00</h4>
        </div>
        <div class="balance_section   -translate-x-1 mt-[2px]">
            <h4 class=" text-white  ">Exposure &nbsp;:</h4>
            <h4 class="font-bold  text-[#ff1f22]">1000.00</h4>
        </div>
    </div>
</header>
