<!-- Header -->
<div class="navigation">
    <div class="group-container">
        <div class="ctainer">
            <div class="navigation-container">
                <div class="stack">
                    <div>
                        <div class="image-focus">
                            <a class="home-button">
                                <div class="wrap">
                                    <img src="/assets/header/stack.png" alt="logo">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="balance-toggle">
                    <div class="coin-toggle">
                        <div class="wrapper">
                            <div class="dropdown">
                                <button type="button" class="OpenDropdown-btn">
                                    <div class="wrap">
                                        <div class="currency svelte" role="presentation">
                                            <span class="content svelte">
                                                <span class="nmric-num">0.00000000</span>
                                            </span>
                                            <span class="nmric-num" title="btc">
                                                <svg fill="none" viewBox="0 0 96 96" class="svg-icon ">
                                                    <title></title>
                                                    <path
                                                        d="M95.895 48.105C95.895 74.557 74.451 96 48 96 21.548 96 .105 74.556.105 48.105.105 21.653 21.548.21 48 .21c26.451 0 47.895 21.443 47.895 47.895Z"
                                                        fill="#F7931A"></path>
                                                    <path
                                                        d="M69.525 42.18c.93-6.27-3.84-9.645-10.38-11.895l2.115-8.505-5.16-1.29-2.1 8.28c-1.365-.345-2.76-.66-4.14-.975l2.1-8.295-5.175-1.29-2.115 8.49c-1.125-.255-2.235-.51-3.3-.78l-7.14-1.785-1.365 5.52s3.84.885 3.75.93a2.763 2.763 0 0 1 2.414 3.011l.001-.01-2.415 9.69c.213.049.394.106.568.174l-.028-.01-.54-.135-3.39 13.5a1.879 1.879 0 0 1-2.383 1.226l.013.004-3.765-.93L24.525 63l6.735 1.665 3.69.96-2.145 8.595 5.175 1.29 2.115-8.505c1.41.375 2.775.735 4.125 1.065l-2.115 8.475 5.175 1.29 2.13-8.58c8.835 1.665 15.465.99 18.255-6.99 2.25-6.42-.105-10.125-4.755-12.54 3.39-.72 5.925-2.955 6.615-7.545ZM57.69 58.755c-1.59 6.435-12.405 3-15.915 2.085L44.61 49.5c3.51.825 14.76 2.565 13.08 9.255Zm1.605-16.665c-1.5 5.85-10.5 2.865-13.38 2.145l2.58-10.32c2.91.72 12.315 2.085 10.8 8.175Z"
                                                        fill="#fff"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="dropdown-icon ml-4" (click)="toggleDropdown('isDropdownOpen')">
                                        <img src="/assets/header/down.png" [class.rotate-180]="isDropdownOpen"
                                            class="svg-icon ">
                                    </span>

                                </button>
                                <!-- Dropdown Menu -->
                                <div class="dropdown-continer " *ngIf="isDropdownOpen">
                                    <!-- Arrow -->
                                    <div class="arrow"></div>
                                    <!-- Search Bar -->
                                    <div class="px-3 pb-3 pt-1">
                                        <div class="relative">
                                            <input type="text" placeholder="Search Currencies" class="serch-input" />
                                            <div class="search-svg">
                                                <img src="/assets/header/seache.png" class="svg-icon">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Currency List -->
                                    <ul class=" currency-continer ">
                                        <li class="currency-list" *ngFor="let currency of currencies">
                                            <span class="w-[16ch]">{{ currency.value }}</span>
                                            <span class="flex items-center space-x-2">
                                                <img [src]="currency.imageUrl" [alt]="currency.symbol"
                                                    class="w-4 h-4" />
                                                <span>{{ currency.symbol }}</span>
                                            </span>
                                        </li>
                                    </ul>

                                    <!-- Wallet Settings -->
                                    <div class="Wallet-continer">
                                        <button class="wallet-setting">
                                            <img src="/assets/header/wellet.png" class="wallet-setting-img ">
                                            Wallet Settings
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="wallet"><span>Wallet</span></button>
                </div>
                <section>
                    <div class="stack x-flex-end svelte-right">
                        <button type="button" class="search-btn">
                            <img src="/assets/header/search.png" class="svg-icon ">
                            <span>Search</span>
                        </button>
                        <div class="dropdown">
                            <button type="button" class="porfile-iocn" (click)="toggleDropdown('porfileDropOpen')">
                                <img src="/assets/header/porfile.png" class="svg-icon ">
                            </button>
                            <!-- porfile  Menu -->
                            <div class="porfile-dropdown" *ngIf="porfileDropOpen">
                                <!-- Arrow -->
                                <div class="arrow"></div>
                                <div class="dropdown-scroll-content " style="max-height: inherit;">
                                    <ng-container *ngFor="let option of profileOptions">
                                        <button *ngIf="option.type === 'button'" type="button"
                                            class="porfile-list w-full">
                                            <img [src]="option.icon" [alt]="option.label" class="svg-icon">
                                            <span>{{ option.label }}</span>
                                        </button>
                                    </ng-container>
                                </div>
                            </div>

                        </div>
                        <button type="button" class="bell-icon" (click)="toggleDropdown('bellDropOpen')">
                            <img src="/assets/header/bell.png" class="svg-icon ">
                        </button>
                        <div class="notifications-widget  svelte-6gfkw4" style="z-index: 901;" *ngIf="bellDropOpen">
                            <div class="notifications-header svelte-12heyz0">
                                <div class="title svelte-12heyz0">
                                    <img src="/assets/header/bell.png" class="svg-icon">
                                    <span class="font-semibold">Notifications</span>
                                </div>
                                <div class="hoverable svelte-bbyuql">
                                    <button type="button" tabindex="0" (click)="closeDropdown()" class="close-icon">

                                        <img src="/assets/header/close.png" class="svg-icon">
                                    </button>
                                </div>
                            </div>
                            <div class="scrollY notification-list-scroll">
                                <div class="empty-notifications svelte-w18c7z">
                                    <div class="empty-list spacing-compact svelte-1qm952x">
                                        <div class="large-icon svelte-1qm952x">
                                            <img src="/assets/header/notificatin.png" alt="notificatin" class="svg">

                                        </div> <span class="font-semibold">No
                                            Notifications Available</span> <span class="font-normal">Your
                                            interactions will be visible here</span>
                                    </div>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button type="button" class="massage-icon" (click)="toggleDropdown('massageDropOpen')">
                                <img src="/assets/header/massage.png" class="svg-icon ">
                            </button>
                            <!-- massge manu -->
                            <div class="massage-dropdown" *ngIf="massageDropOpen">
                                <!-- Arrow -->
                                <div class="arrow"></div>
                                <div style="max-height: inherit;">
                                    <button type="button" tabindex="0" class="dropdown-scroll">
                                        <img src="/assets/header/massg.png" class="svg-icon ">
                                        <span>Chat</span></button> <button type="button" tabindex="0"
                                        class="dropdown-scroll">
                                        <img src="/assets/header/My Bets.png" class="svg-icon ">
                                        <span>Bet Slip</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="hidden">
                    <div class="stack x-flex-end  svelte-right">
                        <button type="button" class="sign-in" data-analytics="global-navbar-signin-button">Sign
                            In</button> <button type="button" class="Register">Register</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


