<section class="signup-hero-container">
    <img src="/assets/stake.BFmdy97X.svg" alt="Stake Logo" class=" stake-logo">
    <div class="hero-main-wrapper">
        <div class="hero-wrapper">
            <div>
                <h1 class="hero-heading"> An unrivalled Online Casino &amp; Sportsbook</h1>
                <button type="button" tabindex="0" class="signup-btn">Sign up</button>
            </div>
            <div class="icons-container">
                <div class="mb-2">
                    <p class="or-sign-up"> Or sign up with</p>
                </div>
                <div class="social-media-wrapper">
                    <button class="icon-btn"></button>
                    <button class="icon-btn"></button>
                    <button class="icon-btn"></button>
                    <button class="icon-btn"></button>
                </div>
            </div>
        </div>
        <div class="hero-img-container">
            <div class="first-image">
                <div class="unauth-header-casino gradient-border">
                    <img src="/assets/unauth-header-casino-en.avif" alt="Casino"
                        style="object-fit: cover; max-width: 333px; max-height: 500px; aspect-ratio: 0.666 / 1; width: 100%;"
                        loading="lazy" decoding="async">
                </div>
            </div>
            <div class="last-img">
                <div class="gradient-border-last rounded-2xl overflow-hidden relative basis-6/12 svelte-n9audu">
                    <img src="/assets/unauth-header-sportsbook-en.avif" alt="Sportsbook"
                        style="object-fit: cover; max-width: 333px; max-height: 500px; aspect-ratio: 0.666 / 1; width: 100%;"
                        loading="lazy" decoding="async" class="rounded-2xl">
                </div>
            </div>
        </div>
    </div>
</section>