<section class="signup-hero-container">
    <img src="/assets/stake.BFmdy97X.svg" alt="Stake Logo" class=" stake-logo">
    <div class="hero-main-wrapper">
        <div class="hero-wrapper">
            <div>
                <h1 class="hero-heading"> An unrivalled Online Casino &amp; Sportsbook</h1>
                <button type="button" tabindex="0" class="signup-btn">Sign up</button>
            </div>
            <div class="icons-container">
                <div class="mb-2">
                    <p class="or-sign-up"> Or sign up with</p>
                </div>
                <div class="social-media-wrapper">
                    <button class="icon-btn">
                        <img src="/assets/logos_facebook.webp" alt="facebook">
                    </button>
                    <button class="icon-btn">
                        <img src="/assets/devicon_google.webp" alt="google">
                    </button>
                    <button class="icon-btn">
                        <img src="/assets/Line-app.webp" alt="line-app">
                    </button>
                    <button class="icon-btn">
                        <img src="/assets/Twich.webp" alt="Twich">
                    </button>
                </div>
            </div>
        </div>
        <div class="hero-img-container">
            <div class="first-image">
                <div class="unauth-header-casino gradient-border">
                    <img src="/assets/unauth-header-casino-en.avif" alt="Casino"
                        style="object-fit: cover; max-width: 333px; max-height: 500px; aspect-ratio: 0.666 / 1; width: 100%;"
                        loading="lazy">
                </div>
            </div>
            <div class="last-img">
                <div class="gradient-border-last rounded-2xl overflow-hidden relative basis-6/12 svelte-n9audu">
                    <img src="/assets/unauth-header-sportsbook-en.avif" alt="Sportsbook"
                        style="object-fit: cover; max-width: 333px; max-height: 500px; aspect-ratio: 0.666 / 1; width: 100%;"
                        loading="lazy" class="rounded-2xl">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="animation-img-slide-wrapper">
    <div class="slider">
        <ul class="slider-track slider-wrapper">
            <li><img src="/assets/davis-cup.2ozNmnfW.svg" alt="Drake" class="w-[100px]"></li>
            <li><img src="/assets/davis-cup.2ozNmnfW.svg" alt="Drake" class="w-[100px]"></li>
            <li><img src="/assets/everton.CkPHQEMd.svg" alt="Stake F1 Team" class="w-[51px]"></li>
            <li><img src="/assets/billie-jean-king-cup.DFDdNsJj.svg" alt="UFC" class="w-[78px]"></li>
            <li><img src="/assets/juventude.DYj6mKZE.svg" alt="Everton" class="w-[55px]"></li>
            <li><img src="/assets/team-secret.BH46cAxZ.svg" alt="Billie Jean King Cup" class="w-[101px]"></li>
            <li><img src="/assets/enyimba-fc.Bk1l78K5.svg" alt="Juventude" class="w-[49px]"></li>
            <li><img src="/assets/drake.C1S9VFRt.svg" alt="Team Secret" class="w-[70px]"></li>
            <li><img src="/assets/stake-f1-team-partner-label.Dn-6p8lJ.svg" alt="Enyimba FC" class="w-[58px]"></li>
            <li><img src="/assets/ufc.BlG4twI0.svg" alt="Drake" class="w-[100px]"></li>
            <li><img src="/assets/everton.CkPHQEMd.svg" alt="Stake F1 Team" class="w-[51px]"></li>
            <li><img src="/assets/billie-jean-king-cup.DFDdNsJj.svg" alt="UFC" class="w-[78px]"></li>
            <li><img src="/assets/juventude.DYj6mKZE.svg" alt="Everton" class="w-[55px]"></li>
            <li><img src="/assets/team-secret.BH46cAxZ.svg" alt="Billie Jean King Cup" class="w-[101px]"></li>
            <li><img src="/assets/enyimba-fc.Bk1l78K5.svg" alt="Juventude" class="w-[49px]"></li>
            <li><img src="/assets/drake.C1S9VFRt.svg" alt="Team Secret" class="w-[70px]"></li>
            <li><img src="/assets/stake-f1-team-partner-label.Dn-6p8lJ.svg" alt="Enyimba FC" class="w-[58px]"></li>
            <li><img src="/assets/davis-cup.2ozNmnfW.svg" alt="Drake" class="w-[100px]"></li>
        </ul>
    </div>
</section>


<section class=" explore-casino">
    <div class="relative overflow-hidden md:flex flex-col px-4 md:px-8">
        <div class="bg-img-wrapper">
            <img src="/assets/blue-gradient.U5jrOHhx.svg" alt="blue gradient" class="w-full h-full object-cover">
        </div>
        <div class="max-w-[1200px] relative rounded-lg overflow-hidden md:flex md:py-0 m-auto w-full">
            <div
                class="inner-contents isolate md:flex flex-col place-content-center py-4 sm:pt-8 xl:pt-4 md:pr-6 w-full">
                <h2 class="thousand-title"> Thousands of thrilling games. <br> Thousands of ways to win big.</h2>
                <img layout="constrained" class=" mobile-banner-img"
                    src="/assets/mobile-unauth-casino-hero-banner-en.avif" alt="casino" loading="lazy" decoding="async">
                <div class="games-wrapper">
                    <div class="game-grid-wrapper">
                        <img src="/assets/new-releases-icon.BWnV6JM9.svg" alt="New Releases icon" width="40">
                        <div class="game-text-container">
                            <div class="text-inner-element">
                                <span class="game-title">
                                    New Releases
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="game-grid-wrapper">
                        <img src="/assets/slots-icon.BM1XPlAX.svg" alt="Slots icon" width="40">
                        <div class="game-text-container">
                            <div class="text-inner-element">
                                <span class="game-title game-title">
                                    Slots
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="game-grid-wrapper"><img src="/assets/live-casino-icon.CZivXlrw.svg"
                            alt="Live Casino icon" width="40">
                        <div class="game-text-container">
                            <div class="text-inner-element">
                                <span class="game-title">
                                    Live Casino
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="game-grid-wrapper">
                        <img src="/assets/table-games-icon.CbmjvSoo.svg" alt="Table Games icon" width="40">
                        <div class="game-text-container">
                            <div class="text-inner-element">
                                <span class="game-title">
                                    Table Games </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md:w-max w-full">
                    <a class="signup-btn cursor-pointer">Explore Casino</a>
                </div>
            </div>
            <img src="/assets/mobile-unauth-casino-hero-banner-en.avif" alt="casino hero banner" loading="lazy"
                layout="constrained" class="hero-img">
        </div>
    </div>
</section>



<section class=" explore-casino">
    <div class="relative overflow-hidden md:flex flex-col px-4 md:px-8">
        <div class="bg-img-wrapper">
            <img src="/assets/green-gradient.B1xn5Pix.svg" alt="blue gradient" class="w-full h-full object-cover">
        </div>
        <div class="max-w-[1200px] relative rounded-lg overflow-hidden md:flex md:py-0 m-auto w-full">
            <div
                class="inner-contents isolate md:flex flex-col place-content-center py-4 sm:pt-8 xl:pt-4 md:pr-6 w-full">
                <h2 class="thousand-title"> Watch and bet on the biggest events across sports and beyond</h2>
                <img layout="constrained" class=" mobile-banner-img"
                    src="/assets/mobile-unauth-sportsbook-hero-banner-en.avif" alt="casino" loading="lazy"
                    decoding="async">
                <div class="games-wrapper">
                    <div class="game-grid-wrapper">
                        <img src="/assets/sports-icon.BErAeDZX.svg" alt="New Releases icon" width="40">
                        <div class="game-text-container">
                            <div class="text-inner-element">
                                <span class="game-title">
                                    Sports
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="game-grid-wrapper">
                        <img src="/assets/esports-icon.4WiRIL1V.svg" alt="Slots icon" width="40">
                        <div class="game-text-container">
                            <div class="text-inner-element">
                                <span class="game-title game-title">
                                    Esports
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="game-grid-wrapper">
                        <img src="/assets/horse-racing-icon.BUiIIMpx.svg" alt="Live Casino icon" width="40">
                        <div class="game-text-container">
                            <div class="text-inner-element">
                                <span class="game-title">
                                    Horse Racing
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="game-grid-wrapper">
                        <img src="/assets/live-streams-icon.B8ObUphr.svg" alt="Table Games icon" width="40">
                        <div class="game-text-container">
                            <div class="text-inner-element">
                                <span class="game-title">
                                    Live Streams
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md:w-max w-full">
                    <a class="signup-btn cursor-pointer green-btn">Explore
                        Casino</a>
                </div>
            </div>
            <img src="/assets/unauth-sportsbook-hero-banner-en.avif" alt="casino hero banner" loading="lazy"
                layout="constrained" class="hero-img">
        </div>
    </div>
</section>


<section class="video-section-wrapper">
    <div class="video-main-container">
        <h2 class="thousand-title">Enjoy the best odds with up to 99.5% return-to-player games</h2>
        <div class="video-content-wrapper">
            <div class="flex flex-col gap-3">
                <div class="video-items-wrapper">
                    <img src="/assets/bonus-icon.BDU3QLVQ.svg" alt="Bonus Boosts icon" class="max-w-[40px]">
                    <div class="ml-4 flex flex-col justify-center">
                        <p class="game-title">
                            Bonus Boosts
                        </p>
                        <div class="play-text">
                            <span class="video-text-details">Weekly
                                boosts and monthly bonuses mean you’ll get rewarded the more you play top casino games
                                and bet on your favourite sports.
                            </span>
                        </div>
                    </div>
                    <div class="play-bar">
                        <div class="play-bar-progress"></div>
                    </div>
                </div>
                <div class=" video-items-wrapper playing">
                    <img src="/assets/raffle-icon.ec7wmZpx.svg" alt="Raffles &amp; Races icon" class="max-w-[40px]">
                    <div class="ml-4 flex flex-col justify-center">
                        <p class="game-title"> Raffles &amp; Races</p>
                        <div class="play-text  show">
                            <span class="video-text-details">
                                Get in the draw to win 75K each week. Plus score big on daily races.
                            </span>
                        </div>
                    </div>
                    <div class="play-bar">
                        <div class="play-bar-progress"></div>
                    </div>
                </div>
                <div class=" video-items-wrapper">
                    <img src="/assets/promotion-icon.CrYq-DC8.svg" alt="Promotions icon" class="max-w-[40px]">
                    <div class="ml-4 flex flex-col justify-center">
                        <p class="game-title"> Promotions</p>
                        <div class="play-text ">
                            <span class="video-text-details">
                                Make the most from our casino promotions and sports betting bonuses which are updated
                                weekly.
                            </span>
                        </div>
                    </div>
                    <div class="play-bar">
                        <div class="play-bar-progress"></div>
                    </div>
                </div>
                <div class="video-items-wrapper">
                    <img src="/assets/return-icon.CgJwlR43.svg" alt="High Returns-to-Player (RTP) icon"
                        class="max-w-[40px]">
                    <div class="ml-4 flex flex-col justify-center">
                        <p class="game-title"> High Returns-to-Player (RTP)</p>
                        <div class="play-text ">
                            <span class="video-text-details">
                                With enhanced RTP percentages, you stand a chance to win big every time you play.
                            </span>
                        </div>
                    </div>
                    <div class="play-bar">
                        <div class="play-bar-progress"></div>
                    </div>
                </div>
            </div>
            <div class="video-container ">
                <div>
                    <video autoplay="" preload="none" poster="https://mediumrare.imgix.net/unauth-rtp-bonuses-en.png"
                        playsinline="" class="bonus-video" style="z-index: 5;">
                        <source src="https://mediumrare-videos.imgix.net/bonus.webm?fm=mp4" type="video/webm">
                        <source src="https://mediumrare-videos.imgix.net/bonus.mp4?fm=mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="w-full">
    <div class="carypto-curruncy">
        <div class="swiper-card-container">
            <div class="swiper-img-container card">
                <img src="/assets/currency-ltc.svg" alt="BTC" loading="lazy">
            </div>
            <div class="card swiper-img-container card">
                <img src="/assets/currency-btc.svg" alt="ETH" loading="lazy">
            </div>
            <div class="card swiper-img-container card">
                <img src="/assets/currency-usdt.svg" alt="USDT" loading="lazy">
            </div>
            <div class="card swiper-img-container card">
                <img src="/assets/currency-eth.svg" alt="LTC" loading="lazy">
            </div>
        </div>
        <div class="crypto-currency-details">
            <h2 class="crypto-currency-title">
                <span class="mb-1">Peace of mind across multiple crypto and local currencies</span>
            </h2>
            <span class="video-text-details">
                Experience
                safe deposits and instant withdrawals across 20 cryptocurrencies and 7 local currencies. All with no
                minimums, flexible payment methods and a secure online vault.</span>
            <a class="signup-btn">Learn more</a>
        </div>
    </div>
</section>

<section class="video-section-wrapper">
    <div class="video-main-container">
        <div class="video-content-wrapper max-md:!flex-col !gap-y-4">
            <div class="crypto-currency-details ">
                <h2 class="crypto-currency-title">
                    <span class="mb-1">Wager more and see your rewards grow as a Stake VIP</span>
                </h2>
                <span class="video-text-details">
                    Step into a world of unique benefits, personalised service and exclusive bonuses, only as a Stake
                    VIP.</span>
                <a class="signup-btn">Become a VIP</a>
            </div>
            <div class="flex flex-col gap-3 md:max-w-[50%]">
                <div class="video-items-wrapper">
                    <img src="/assets/boost-icon.DihRQqqn.svg" alt="Bonus Boosts icon" class="max-w-[40px]">
                    <div class="ml-4 flex flex-col justify-center">
                        <p class="game-title">
                            Bonuses every week
                        </p>
                        <div class="play-text">
                            <span class="video-text-details">Every week of each month, you’ll be rewarded with a bonus
                                based on your recent games. The more you bet, the higher the
                                bonuses.
                            </span>
                        </div>
                    </div>

                </div>
                <div class=" video-items-wrapper playing">
                    <img src="/assets/host-icon.C0LlRJf9.svg" alt="Raffles &amp; Races icon" class="max-w-[40px]">
                    <div class="ml-4 flex flex-col justify-center">
                        <p class="game-title"> Your Own VIP Host</p>
                        <div class="play-text  show">
                            <span class="video-text-details">
                                Enjoy exclusive access to a dedicated VIP Host who will support and cater to your
                                betting needs.
                            </span>
                        </div>
                    </div>
                </div>
                <div class=" video-items-wrapper">
                    <img src="/assets/level-up-icon.288gtBKt.svg" alt="Promotions icon" class="max-w-[40px]">
                    <div class="ml-4 flex flex-col justify-center">
                        <p class="game-title"> Level Up Payouts</p>
                        <div class="play-text ">
                            <span class="video-text-details">
                                Get paid each time you reach a new level. The higher you go, the better the level-ups
                                get.
                            </span>
                        </div>
                    </div>

                </div>
                <div class="video-items-wrapper">
                    <img src="/assets/recent-bonuses-icon.CZa-lx6O.svg" alt="High Returns-to-Player (RTP) icon"
                        class="max-w-[40px]">
                    <div class="ml-4 flex flex-col justify-center">
                        <p class="game-title"> Recent Play Bonuses</p>
                        <div class="play-text ">
                            <span class="video-text-details">
                                Looking to win back your unsuccessful wagers? Stake offers money back on losses every
                                time you level up.
                            </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class=" sponsorship-partners">
    <h2 class="thousand-title !text-center">
        Meet our sponsorship partners
    </h2>
    <span class="video-text-details !text-center">
        We proudly sponsor high profile athletes, teams and stars from across the globe to help support the passion and
        excitement of our communities.
    </span>
    <div role="presentation" class="partner-img-container">
        <div class="partner-img-wrapper item group bg-[url('/assets/sponsorship-bg-green.BYTDOzBO.svg')]">
            <div class="partner-main-img-wrapper">
                <img width="1818" height="480" src="/assets/unauth-sponsorship-co-title-partner-en.png"
                    alt="Stake F1 Team Kick Sauber" loading="lazy" layout="fixed" class="max-h-full max-w-full">
            </div>
            <div class="partner-title-container">
                <span class="partner-title">
                    Stake F1 Team Kick Sauber
                </span>
            </div>
            <img src="/assets/stake-f1-team-partner-label.Dn-6p8lJ.svg" alt="Stake F1 Team Kick Sauber"
                class="partner-logo">
            <div class="copy">
                <div class="pr-6 hidden lg:block">
                    <span class="partner-title !text-left !text-[1.5rem]">Stake F1 Team Kick Sauber</span>
                    <div class="h-2"></div> <span class="">Stake
                        F1 Team Kick Sauber is a globally recognised motorsport team, with Stake sharing the same
                        ambitions of growth and recognition. The partnership aims to expand Stake's recognition within
                        the F1 community and expand opportunities for fan engagement.</span>
                </div>
                <a class="Learn-more">Learn more</a>
            </div>
        </div>
        <div class="partner-img-wrapper item group bg-[url(/assets/sponsorship-bg-red.CvuHUVge.svg)]">
            <div class="partner-main-img-wrapper">
                <img width="1818" height="480" src="/assets/unauth-sponsorship-betting-partner-en.png" alt="UFC"
                    loading="lazy" decoding="async" sizes="1818px" layout="fixed" class="max-h-full max-w-full">
            </div>
            <div class="partner-title-container">
                <span class="partner-title">Official Betting Partner</span>
            </div>
            <img src="/assets/unauth-sponsorship-betting-partner-logo-en.svg" alt="UFC" class="partner-logo">
            <div class="copy">
                <div class="pr-6 hidden lg:block"><span class="partner-title !text-left !text-[1.5rem]">UFC</span>
                    <div class="h-2"></div> <span class="">Our
                        ground-breaking partnership with the UFC provides an unmatched betting experience to fight fans
                        with bet bonuses and exclusive MMA content. Our proud UFC ambassadors are champions Israel
                        Adesanya, Alex Pereira, Alexandre Pantoja, Alexa Grasso and Jailton Almeida.</span>
                </div> <a class="Learn-more" href="/sponsorships/ufc" data-sveltekit-reload="off"
                    data-sveltekit-preload-data="off" data-sveltekit-noscroll="off"
                    data-analytics="unauth-homepage-sponsorships-ufc">Learn more</a>
            </div>
        </div>
        <div class="partner-img-wrapper item group bg-[url('/assets/sponsorship-bg-blue.DxmQOpu9.svg')]">
            <div class="partner-main-img-wrapper"><img width="1818" height="480"
                    src="https://mediumrare.imgix.net/unauth-sponsorship-main-partner-en.png?w=1818&amp;h=480&amp;fit=min&amp;auto=format"
                    alt="Everton Football Club" loading="lazy" decoding="async" 
                    sizes="1818px" layout="fixed" class="max-h-full max-w-full"></div>
            <div class="partner-title-container"><span class="partner-title">Main
                    Partner</span></div> <img
                src="https://mediumrare.imgix.net/unauth-sponsorship-main-partner-logo-en.svg"
                alt="Everton Football Club" class="partner-logo">
            <div class="copy">
                <div class="pr-6 hidden lg:block"><span class="partner-title !text-left !text-[1.5rem]">Everton
                        Football Club</span>
                    <div class="h-2"></div> <span class="">Stake
                        is proud to be the main betting partner of Everton Football Club. With nine top-flight English
                        titles, five FA Cups and a European Cup Winners’ Cup, Everton is an iconic team in the game.
                        Fans can access behind-the-scenes content, matchday giveaways &amp; world-class football betting
                        options</span>
                </div>
                <a class="Learn-more">Learn more</a>
            </div>
        </div>
    </div>
</section>