.good-varient {
  @apply bg-[#2f4553] w-full flex items-center flex-col px-[3vw] py-0;
}
.ctainer {
  @apply h-full w-full max-w-[1200px] ;
}
.read-more {
  @apply text-[#fff] text-left justify-start text-sm font-semibold  inline-flex items-center align-baseline;
}
.span-text {
  @apply text-[#fff]  inline text-left text-sm font-semibold;
}
.scrollable {
  @apply flex flex-col w-full max-w-full h-full flex-1 pt-0 [scrollbar-color:#2f4553] overflow-y-auto overflow-x-hidden [scrollbar-width:thin];
}
.content-wrapper {
  @apply relative m-0 p-0 align-baseline;
}
.parent-svelte {
  @apply w-full flex flex-col items-center px-[3vw] py-0;
}
.ctainer-svelte {
  @apply w-full max-w-[1200px] self-center h-0;
}
.sizer {
  @apply w-full h-0;
}

.layout-spacing {
  @apply pb-8 flex flex-col w-full;
}
.stack {
  @apply p-0 gap-[1.5rem] items-center justify-stretch [grid-auto-flow:row] grid;
}
.wrap {
  @apply w-full grid items-start pt-6;
}
.stack-div {
  @apply p-0 gap-3 w-full items-center  [grid-auto-flow:column] grid;
}
.header {
  @apply text-[#fff] text-left justify-start text-lg font-semibold inline-flex items-center;
}
.svg-icon {
  @apply pointer-events-none [stroke-width:0] fill-current stroke-current flex-shrink-0 inline-block size-[1em];
}
.main-wrapper {
  @apply p-0 gap-[1.5rem] items-start  [grid-auto-flow:row] justify-stretch md:[grid-auto-flow:column] grid;
}
.card {
  @apply sticky max-w-full top-[2em] min-w-[180px] bg-[#0f212e] text-[#d5dceb] rounded-lg;
}
.outer-wraper {
  @apply py-2 m-0 align-baseline;
}
.wraper-svelte {
  @apply relative m-0 p-0  align-baseline;
}
.outer-div {
  @apply [transition:none] relative rounded-none;
}

.card-varient {
  @apply bg-[#0f212e]  text-[#d5dceb] rounded-lg p-6 overflow-hidden relative align-baseline m-0;
}
.layout {
  @apply flex flex-col w-full  [padding-bottom:unset];
}
.affiliate-wrap {
  @apply w-full flex flex-col;
}
.vedio-wrapper {
  @apply relative overflow-hidden pt-[56.25%] align-baseline;
}
.iframe-svelte {
  @apply absolute top-0 left-0 w-full h-full border-0 align-baseline;
}
.iframe-text {
  @apply text-base text-[#b1bad3] text-left justify-start font-normal inline-flex items-center mt-4;
}
.campaign-wrap {
  @apply mt-4 w-full max-w-full grid items-end justify-between [grid-template-rows:auto];
  grid-template-columns: 0.5fr auto;
}
.campaign-svelte {
  @apply flex w-full relative;
}
.label-wrap {
  @apply flex-grow flex-col-reverse items-start  inline-flex relative;
}
.input-wrap {
  @apply w-full  flex shrink-0 rounded;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}
.input-content-wrap {
  @apply bg-[#2f4553] p-[7px]  rounded-tr-[0px] rounded-br-[0px]  w-full text-[#fff] border-[2px] border-solid border-[#2f4553] rounded-[0.25rem] outline-0 font-semibold cursor-text shadow-none text-sm appearance-none;
}
.input-btn-wrap {
  @apply inline-flex p-0 m-0 align-baseline;
}
.input-btn {
  @apply rounded-bl-[0px] rounded-tl-[0px] whitespace-nowrap;
}
.label-content {
  @apply w-full justify-between pb-1 inline-flex items-center font-semibold text-sm text-[#b1bad3];
  transition: 0.2s;
}
.label-left-wrapper {
  @apply inline-flex w-full;
}
/* Dropdown  */
.profile-dropdown{
    @apply absolute left-[5rem] z-[100] top-[130px] py-1  bg-white rounded-[.25rem] shadow-lg  w-[145px] 
}

.dropdown-arrow{
    @apply absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-2 h-2 bg-white rotate-45 border-l border-t border-gray-200
}

.dropdown-scroll-content {
    @apply flex flex-col p-[.25rem_0] [max-height:inherit]
}

.profile-list{
    @apply  inline-flex relative items-center gap-2 font-semibold whitespace-nowrap w-full   transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 hover:bg-[#B1BAD3] 
    focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-sm leading-none  px-3 py-3 rounded-none justify-start
}
.dash {
  @apply absolute left-0 w-[3px] bg-[#1475e1];
  transition: top 0.3s ease; 

}
