<div *ngIf="ForgotpasswordState" (click)="closeModal()">
  <div class="Modal-container">
    <div class="overly-syudie"></div>
    <div class="card-svelte" (click)="$event.stopPropagation()">
      <div class="header">
        <h2 class="header-title">
          <svg
            fill="currentColor"
            viewBox="0 0 64 64"
            class="svg-icon text-[#b1bad3] mr-2"
          >
            <title></title>
            <path
              d="M55.441 32a26.082 26.082 0 0 0-.34-3.99l.02.15 8.16-6-7.12-12.32-9.254 4.054a23.83 23.83 0 0 0-6.502-3.784l-.164-.056L39.121 0h-14.24l-1.12 10.054c-2.554.98-4.76 2.276-6.71 3.874l.042-.034L7.84 9.84.72 22.16l8.16 6a25.007 25.007 0 0 0-.32 3.828V32c.012 1.366.128 2.694.34 3.99l-.02-.15-8.16 6 7.12 12.32 9.254-4.054a23.83 23.83 0 0 0 6.502 3.784l.164.056L24.88 64h14.24l1.12-10.054c2.554-.98 4.76-2.276 6.71-3.874l-.042.034 9.254 4.054 7.12-12.32-8.16-6c.192-1.146.308-2.474.32-3.828V32Zm-23.44 8.666A8.666 8.666 0 1 1 40.667 32c-.016 4.78-3.886 8.652-8.666 8.666H32h.002Z"
            ></path>
          </svg>
          <span class="font-semibold text-base leading-[24px]"
            >Forgot Password</span
          >
        </h2>
        <button
          type="button"
         
          class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-base leading-none"
          (click)="closeModal()"
        >
          <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon">
            <title></title>
            <path
              d="m54.827 16.187-7.014-7.014L32 24.987 16.187 9.173l-7.014 7.014L24.987 32 9.173 47.813l7.014 7.014L32 39.013l15.813 15.814 7.014-7.014L39.013 32l15.814-15.813Z"
            ></path>
          </svg>
        </button>
      </div>
      <div class="content-svelte">
        <div class="modal-content">

          <form  class="h-full p-4 flex-col items-center touch-auto flex w-full">
            <label class="labelstacked">
              <div class="input-wrap">
                <div class="input-content">
                  <div class="before-icon"></div>
                  <div class="after-icon"></div>
                  <input
                    autocomplete="on"
                    class="input-spacing"
                    type="text"
                    name="email"
                    max="Infinity"
                    message="Email"
                  />
                </div>
                <div class="input-button-wrap"></div>
              </div>
              <span class="label-content"
                ><div class="inline-flex w-full touch-auto">
                  <span>Email</span>
                  <div class="ml-1 touch-auto">
                    <span
                      class="asterick"
                  
                      >*</span
                    >
                  </div>
                </div>
              </span></label
            >
            <div   class="mt-4 w-full touch-auto" style="display: none"></div>
            <div class="flex justify-center items-end flex-1 mt-4 w-full">
              <button
                type="submit"
            
                class="recover-pass-btn"
              
              >
                <div data-loader-content="" class="contents">
                  Recover Password
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none"></div>
</div>
