.Modal-container {
    @apply fixed left-0 z-[1500] top-0 bottom-0 right-0  p-[1rem] justify-center flex items-center text-sm;
  }
  .overly-syudie {
    @apply absolute  left-0 top-0 bottom-0 right-0  touch-none bg-[rgba(0,0,0,0.75)];
  }
  
  .card-svelte {
    @apply max-w-[630px] h-full max-h-[716px] border border-[rgb(26,44,56)]  rounded-lg [background-position:center] relative w-full min-w-[200px]  flex flex-col bg-[#1a2c38]  text-[#b1bad3]  overflow-hidden;
  }
  .ctainer {
    @apply flex  bg-[#1a2c38] justify-between items-center min-h-[60px] py-0 px-4;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
  }
  .header {
    @apply flex justify-between  touch-auto p-4
}  
.header-title {
    @apply  text-[#fff] leading-[1.5] text-left justify-start text-base font-semibold inline-flex items-center
}
.svg-icon {
    @apply pointer-events-none [stroke-width:0] fill-current stroke-current flex-shrink-0 inline-block size-[1em];
}
.content-svelte {
    @apply flex flex-col flex-grow [overscroll-behavior:none] [scrollbar-color:#2f4553] overflow-y-auto overflow-x-hidden;
}
.modal-content {
    @apply flex-1 flex-col relative touch-auto bg-[#0f212e];
  }
  
  .contenttop {
    @apply h-full  pr-[1rem] pl-[1rem] flex flex-col pb-[1rem] gap-[1rem] touch-auto;
  }
  .formsvelte {
    @apply flex-col justify-center touch-auto flex w-full h-full;
  }
  .formsvelte {
      @apply flex-col justify-center touch-auto flex w-full;
    }
    .labelstacked {
        @apply flex-col-reverse items-start w-full inline-flex touch-auto relative;
      }
 
.input-wrap {
    @apply w-full flex flex-shrink-0  rounded-[0.25rem] touch-auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .12)
  }
  .label-contnt {
    @apply w-full inline-flex items-center font-semibold  text-sm text-[#b1bad3] pb-[0.25rem] justify-between touch-auto;
  }
  .input-content {
    @apply relative flex-grow w-full flex touch-auto;
  }
  .before-icon {
    @apply cursor-text  touch-auto left-[0.75em] absolute flex top-[50%] pointer-events-none text-[#b1bad3] z-[2];
    transform: translateY(-50%);
  }
  .after-icon {
    @apply cursor-text touch-auto absolute flex right-[0.75em]  top-[50%] pointer-events-none text-[#b1bad3] z-[2];
    transform: translateY(-50%);
  }
  .input-spacing {
    @apply p-[7px] w-full hover:border-[#557086]  appearance-none text-sm shadow-none  !bg-[#0f212e] border-[2px] border-[#2f4553] border-solid font-semibold outline-0 cursor-pointer text-[#fff] touch-auto;
  }
  .input-button-wrap {
    @apply inline-flex touch-auto;
  }
  .label-content {
    @apply w-full inline-flex items-center font-semibold text-sm tracking-[0px] leading-[14px] text-[#b1bad3] pb-[4px] justify-between touch-auto;
  }
  
  .wrap-svelte {
    @apply flex flex-col justify-center items-center gap-[1rem] touch-auto;
  }
  .svg-icon-password {
    @apply pointer-events-none [stroke-width:0] fill-current stroke-current flex-shrink-0 inline-block size-[1em];
  } 
  .asterick {
    @apply text-[#ed4163] text-left justify-start text-[0.875rem] font-normal touch-auto inline-flex items-center;
  }
  .recover-pass-btn{
    @apply inline-flex relative items-center gap-2 justify-center rounded-[calc(0.5rem-4px)] font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 
    focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98]
     bg-[rgb(20,117,225)] text-white hover:bg-blue-600 hover:text-white focus-visible:outline-white text-base leading-none shadow-md py-[1.125rem] px-[1.75rem] min-w-[12ch] w-full
  }
  