<!-- Main Parent Wrapper -->
<div class="pb-[32px]">
  <div class="main-parent">
    <div class="child-container">
      <!-- Left Box with Heading -->

      <div class="left-box">
        <h1 class="heading-text">
          <span>Promotions</span><!-- Title of the section -->
        </h1>
      </div>
      <div class="right-box">
        <!-- Right Box with Banner Image -->

        <img src="/assets/group-banner-default.webp" alt="" />
      </div>
    </div>
  </div>
  <!-- Container for Categories Section -->

  <div class="secound-wrapper">
    <div class="max-w-[1200px] mx-auto">
      <!-- Centered content wrapper -->

      <div class="category-parent">
        <section class="categories">
          <div class="card-focus">
            <a href="">
              <article class="flex items-center justify-between rounded-[.25rem] bg-[#213743] overflow-hidden">
                <div class="content flex items-center">
                  <img class="w-[6rem] h-[6rem]" src="/assets/blog-page/dice-three.png" alt="" />
                  <p class="text-base leading-[132%] text-white text-left ml-4 font-semibold block">
                    Casino
                  </p>
                </div>
                <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon mr-[32px]">
                  <title></title>
                  <path d="m26.307 53.995 20.998-20.997L26.307 12 20 18.306 34.694 33 20.001 47.694 26.307 54v-.005Z">
                  </path>
                </svg>
              </article>
            </a>
          </div>
          <!-- First Category Card: Casino -->

          <div class="card-focus">
            <a href="">
              <article class="content-parent">
                <div class="content flex items-center">
                  <img class="w-[6rem] h-[6rem]" src="/assets/blog-page/basketball-icon.png" alt="" />
                  <p class="sport-text">Sport</p>
                </div>
                <!-- Arrow icon for navigation -->

                <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon mr-[32px]">
                  <title></title>
                  <path d="m26.307 53.995 20.998-20.997L26.307 12 20 18.306 34.694 33 20.001 47.694 26.307 54v-.005Z">
                  </path>
                </svg>
              </article>
            </a>
          </div>
        </section>
      </div>
      <div class="mt-[1.5rem] flex flex-col">
        <h2 class="middle-text">
          <span>Latest Promotions</span>
        </h2>
        <div class="main-wrapper">
          <div class="contents" *ngFor="let race of races">
            <a href="">
              <article class="flex flex-col gap-[0.5rem]">
                <!-- Dynamic Image Source -->

                <img [src]="race.imgUrl" alt="Race image" />
                <!-- Information Section (Date and Title) -->

                <div class="flex flex-col">
                  <span class="card-text">{{ race.endDate }}</span>
                  <!-- Dynamic Title Text -->

                  <h2 class="card-title">{{ race.title }}</h2>
                </div>
              </article>
            </a>
          </div>
        </div>
        <div class="mt-6 p-0 gap-6 items-center justify-center [grid-auto-flow:column] grid">
          <button type="button" tabindex="0"
            class=" pointer-events-none [opacity:.5] inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
            disabled="" data-testid="pagination-previous" data-test="pagination-previous" data-button-root="">
            Previous
          </button>
          <button type="button" tabindex="0"
            class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
            data-testid="pagination-next" data-test="pagination-next" data-button-root="">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>