<section class="content_wrapper">
    <div class="content_container">
        <button (click)="openBrowseMobSidebar()" class="browse_wrapper ">
            <img class="w-[24px] h-[25.07px]" src="/images/browse.svg" alt="browse">
            <div class="btn_text">
                Browse
            </div>
        </button>
        <button (click)="closeMobSideBar()" class="home_wrapper  ">
            <img class="w-[19px] h-[20.43px]" src="/images/Home.svg" alt="home">
            <div class="btn_text">
                Home
            </div>
        </button>
        <button (click)="openProfileMobSidebar()" class="profile_wrapper">
            <img class="w-[15.99px] h-[20px]" src="/images/Profile.svg" alt="profile">
            <div class="btn_text">
                Profile
            </div>
        </button>
    </div>
</section>