@if (isModal) {
    <div
        class="h-[100vh] flex justify-center bg-[#000000bf] items-center opacity-[100%] top-0 left-0 w-full absolute z-[99999]" (click)="closeModal()">
        <div class="bg-[#1a2c38] h-[393px] min-w-[200px] rounded-[10px] w-[500px]" (click)="$event.stopPropagation()">
            <div class="header flex justify-between p-[1rem]">
                <h2 class="text-white leading-[1.5] flex items-center text-[1rem] font-[600]">
                    <svg fill="#b1bad3" viewBox="0 0 64 64" class="w-[1rem] h-[1rem] mr-[.5rem]">
                        <title></title>
                        <path
                            d="M59.732 0H4.266A4.266 4.266 0 0 0 0 4.266V60c0 2.21 1.79 4 4 4h56c2.21 0 4-1.79 4-4V4.266A4.266 4.266 0 0 0 59.734 0h-.002ZM17.998 50.24l-8-8 4.266-4.266 3.866 3.894 9.734-9.866 4.266 4.266L17.998 50.24Zm0-20-8-8 4.134-4.374 3.866 3.894 9.866-9.894 4.266 4.266L17.998 30.24Zm36 14.774h-14v-6.026h14v6.026Zm0-20h-14v-6.026h14v6.026Z">
                        </path>
                    </svg>
                    <span class="">Bet</span>
                </h2>
                <button (click)="closeModal()"  type="button" tabindex="0"
                    class="leading-[1] font-[600] whitespace-nowrap gap-[.5rem] justify-center items-center inline-flex relative outline-none"
                    aria-label="Close Modal" data-testid="close-modal" data-test="close-modal" data-button-root="">
                    <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon">
                        <title></title>
                        <path
                            d="m54.827 16.187-7.014-7.014L32 24.987 16.187 9.173l-7.014 7.014L24.987 32 9.173 47.813l7.014 7.014L32 39.013l15.813 15.814 7.014-7.014L39.013 32l15.814-15.813Z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="content ">
                <div class="modal-content">
                    <div class="top-contant">
                        <div class="title-wrapper flex flex-col">
                            <h2 class="candy-text">
                                Candy Blitz BOOM
                            </h2>
                            <div class="id-wrap ">
                                <h2 class="text-white leading-[1.5] text-center justify-center text-[16px] font-[600]">
                                    <span>ID
                                        <span
                                            class="text-left justify-start  text-[16px] font-[600] items-center inline-flex">293,785,880,1269</span>
                                    </span>
                                </h2>
                                <div class="share-wrap">
                                    <button type="button" tabindex="0"
                                        class="text-white whitespace-nowrap gap-[.5rem] justify-center items-center inline-flex leading-[1] font-[600] text-[.875rem] rounded-[.5rem_-4]"
                                        data-button-root="">
                                        <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon">
                                            <title></title>
                                            <path
                                                d="M61.334 64H16V12.986h45.334V64ZM2.666 0v45.466H9.28V6.506h38.96V0H2.666Z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="share-wrap">
                                    <button type="button" tabindex="0"
                                        class="text-white whitespace-nowrap gap-[.5rem] justify-center items-center inline-flex leading-[1] font-[600] text-[.875rem] rounded-[.5rem_-4]"
                                        data-button-root="">
                                        <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon">
                                            <title></title>
                                            <path
                                                d="M56.01 31.292a21.908 21.908 0 0 1-1.402 3.943 23.156 23.156 0 0 1-2.17 3.679 9.58 9.58 0 0 1 2.329 11.3 9.686 9.686 0 0 1-12.889 4.632l-14.74-6.934a9.606 9.606 0 0 1-5.505-8.442 9.046 9.046 0 0 1 0-1.456v-.847c.031-.205.075-.409.132-.608.15-.524.336-1.037.556-1.535.267-.536.577-1.05.926-1.535l.238-.292a8.922 8.922 0 0 1 1.191-1.27 9.686 9.686 0 0 1 6.643-2.355 9.395 9.395 0 0 1 4.128.926l4.447 2.09a9.74 9.74 0 0 1-6.405 2.277h-2.17a4.235 4.235 0 0 0-3.811 2.434 4.182 4.182 0 0 0 1.244 5.108c1.543.43 3.136.652 4.737.662A17.863 17.863 0 0 0 41.11 9.114L26.423 2.18a17.89 17.89 0 1 0-15.165 32.34l2.647 1.218a17.864 17.864 0 0 0 9.898 19.584l14.714 6.934a17.838 17.838 0 0 0 23.819-8.548 17.864 17.864 0 0 0-6.325-22.416Zm-45.969-17.07a9.712 9.712 0 0 1 8.76-5.558 9.58 9.58 0 0 1 4.102.927l14.82 6.934a9.659 9.659 0 0 1 5.293 8.442l-4.181-1.985a17.864 17.864 0 0 0-21.754 5.293l-2.647-1.191a9.66 9.66 0 0 1-4.393-12.862Z">
                                            </path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="stack p-0 gap-[.25rem] items-center justify-center flex">
                                <div class="flex item-center justify-center mt-[17px] text-[13px]">
                                    <span class="mr-[.5ch] text-[14px] text-[#b1bad3]">Placed by </span>
                                    <div class="cursor-help inline-flex">
                                        <div class="touch-auto gap-[.25rem] items-center w-full flex">
                                            <svg fill="#b1bad3" viewBox="0 0 64 64" class="svg-icon">
                                                <title></title>
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M42.05 8.613c2.815 0 5.192 1.879 5.955 4.494l3.64 12.792H12.253l3.64-12.792.01-.044a6.197 6.197 0 0 1 5.944-4.45H42.05ZM61.488 30.77H2.461a2.461 2.461 0 0 0 0 4.921c8.873 1.271 19.12 1.997 29.539 1.997s20.664-.726 30.696-2.131l-.598.068a2.461 2.461 0 0 0-.56-4.858l-.05.003ZM33.484 43.074h-3.05c-6.335-1.515-13.677-1.22-21.547 0v2.501l3.05.58s0 9.233 9.233 9.233c6.223 0 8.247-5.583 8.908-9.233h3.721c.661 3.65 2.685 9.233 8.908 9.233 9.233 0 9.233-9.233 9.233-9.233l3.05-.58v-2.501c-7.718-1.24-15.008-1.485-21.506 0Z">
                                                </path>
                                            </svg>
                                            <span class="truncate"><span
                                                    class="weight-semibold line-height-default is-inline align-left size-default text-size-default variant-subtle with-icon-space svelte-17v69ua"><span
                                                        class="overflow-hidden text-ellipsis whitespace-nowrap text-[#b1bad3]">Hidden</span></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex item-center mt-[6px] justify-center">
                                <span class="cursor-help inline-flex text-[13px] text-[#b1bad3]">on 11/13/2024 at 11:01
                                    AM</span>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-content">
                        <div class="pb-[.25rem] gap-[1rem] items-center flex mt-[25px]">
                            <div class="h-[3px] bg-[#2f4553] w-[43%]"></div>
                            <img class="w-[40px] h-[20px]"
                                src="	https://stake.com/_app/immutable/assets/stake-light.olJGmvM_.svg" alt="" />
                            <div class="h-[3px] bg-[#2f4553] w-[43%]"></div>
                        </div>
                        <div class="bottom-bar"></div>
    
                        <div class="flex h-[84px] p-[1rem] bg-[#0f212e] justify-between rounded-[3px] w-[100%]">
                            <div
                                class="flex flex-col  ml-[7px] pb-[11px] mb-[2px] items-center justify-center gap-[5px] p-[.5rem]">
                                <div>
                                    <span class="text-[14px] font-[700] text-[#8A95AB]">Bet</span>
                                </div>
                                <div class="flex text-[14px]">
                                    156.32654137
                                    <div>
                                        <span class="" title="usdt" style="max-width: 12ch"><svg fill="none"
                                                viewBox="0 0 96 96" class="svg-icon ml-[4px]">
                                                <title></title>
                                                <path
                                                    d="M96 48c0 26.51-21.49 48-48 48S0 74.51 0 48 21.49 0 48 0s48 21.49 48 48Z"
                                                    fill="#26A17B">
                                                </path>
                                                <path
                                                    d="M53.766 52.149v-.006c-.33.024-2.031.126-5.826.126-3.03 0-5.163-.09-5.913-.126v.009c-11.664-.513-20.37-2.544-20.37-4.974 0-2.427 8.706-4.458 20.37-4.98v7.932c.762.054 2.946.183 5.964.183 3.62 0 5.436-.15 5.775-.18v-7.929c11.64.519 20.325 2.55 20.325 4.974 0 2.43-8.685 4.455-20.325 4.971Zm0-10.77v-7.098h16.242V23.457H25.785v10.824h16.242v7.095c-13.2.606-23.127 3.222-23.127 6.354s9.927 5.745 23.127 6.354V76.83h11.739V54.078c13.179-.606 23.082-3.219 23.082-6.348s-9.903-5.742-23.082-6.351Z"
                                                    fill="#fff"></path>
                                            </svg></span>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="flex flex-col mb-2 ml-1 items-center relative pr-[18px] justify-center w-full p-[.5rem]">
                                <div class="w-[2px] h-[86%] top-[4%] left-[10%] absolute bg-[#213743] mt-0"></div>
    
                                <div>
                                    <span class="text-[13px] text-[#8A95AB]">Multiplier</span>
                                </div>
                                <div class="flex">1.74x</div>
                            </div>
                            <div class="flex flex-col  mr-[10px]  relative items-center justify-center p-[.5rem]">
                                <div class="w-[2px] h-[86%] left-[-18%] top-[4%]  absolute bg-[#213743] mt-0"></div>
    
                                <div>
                                    <span class="text-[#8A95AB]">Payout</span>
                                </div>
                                <div class="flex text-[#00e701] !font-[700] text-[14px]">
                                    272.25830446
                                    <div>
                                        <span class="" title="usdt" style="max-width: 12ch"><svg fill="none"
                                                viewBox="0 0 96 96" class="svg-icon ml-[4px]">
                                                <title></title>
                                                <path
                                                    d="M96 48c0 26.51-21.49 48-48 48S0 74.51 0 48 21.49 0 48 0s48 21.49 48 48Z"
                                                    fill="#26A17B">
                                                </path>
                                                <path
                                                    d="M53.766 52.149v-.006c-.33.024-2.031.126-5.826.126-3.03 0-5.163-.09-5.913-.126v.009c-11.664-.513-20.37-2.544-20.37-4.974 0-2.427 8.706-4.458 20.37-4.98v7.932c.762.054 2.946.183 5.964.183 3.62 0 5.436-.15 5.775-.18v-7.929c11.64.519 20.325 2.55 20.325 4.974 0 2.43-8.685 4.455-20.325 4.971Zm0-10.77v-7.098h16.242V23.457H25.785v10.824h16.242v7.095c-13.2.606-23.127 3.222-23.127 6.354s9.927 5.745 23.127 6.354V76.83h11.739V54.078c13.179-.606 23.082-3.219 23.082-6.348s-9.903-5.742-23.082-6.351Z"
                                                    fill="#fff"></path>
                                            </svg></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-wrapper">
                            <div>
                                <a class="bottom-text">
                                    Play Sugar Rush 1000</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}