<div class="scrollable">
  <div>
    <div class="relative">
      <div class=" ">
        <div class="parent-svelte">
          <div class="ctainer">
            <div class="w-full h-0"></div>
            <div class="ctainer-svelte">
              <div class="layout-spacing">
                <div class="relative p-0 m-0">
                  <div>
                    <div class="layout-spacing-varient">
                      <div class="mt-[2rem]">
                        <div class="layout-spacing-varient">
                          <div class="back-root">
                            <div
                              class="flex h-11 bg-[rgb(7,24,36)] select-none rounded-sm bg-grey-700 betterhover:hover:bg-grey-900"
                            >
                              <a
                                class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none py-[0.9375rem] px-[1.25rem]"
                                aria-label="breadcrumbs-back"
                                ><svg
                                  fill="currentColor"
                                  viewBox="0 0 64 64"
                                  class="arrow-svg-icon"
                                  style="transform: scale(1.25)"
                                >
                                  <title></title>
                                  <path
                                    d="M36.998 53.995 16 32.998 36.998 12l6.306 6.306L28.61 33l14.694 14.694L36.998 54v-.005Z"
                                  ></path>
                                </svg>
                              </a>
                            </div>
                            <div class="bread-crumb-main">
                              <div
                                class="ml-[-10px] flex [transform:skew(-20deg)]"
                              >
                                <a
                                  class="pl-[32px] bg-[rgb(7,24,36)] pr-6 inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
                                  href="/sports/racing/horse-racing/all/calendar/today"
                                  
                                  ><span
                                    class="m-0 p-0 ![transform:skew(20deg)]"
                                    >Horse Racing</span
                                  ></a
                                >
                              </div>
                              <span class="slash"></span>
                              <div class="flex [transform:skew(-20deg)]">
                                <a
                                  class="px-6 inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
                                  href="/sports/racing/horse-racing/africa/calendar/today"
                                  
                                  ><span class="breadcrumb-label svelte-1god0j"
                                    >Africa</span
                                  ></a
                                >
                              </div>
                              <span class="slash"></span>
                              <div
                                class="dropdown flex h-full skew-x-[-20deg] betterhover:hover:bg-grey-900"
                              >
                                <button
                                 
                                 
                                 
                                  type="button"
                                  class="pl-6 pr-[32px] outline-none flex items-center gap-2 skew-x-[20deg]"
                                >
                                  <span class="Turf-text">Turffontein</span>
                                  <div class="flex">
                                    <svg
                                      fill="currentColor"
                                      viewBox="0 0 64 64"
                                      class="svg-icon"
                                    >
                                      <title></title>
                                      <path
                                        d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z"
                                      ></path>
                                    </svg>
                                  </div>
                                </button>
                              </div>
                            </div>
                          </div>

                          <div class="wrapper">
                            <div>
                              <div>
                                <div class="scrollX">
                                  <div
                                    class="flex w-fit gap-[5px] p-[5px] rounded-full bg-[rgb(15,33,46)]"
                                  >
                                    <a   [class.active]="activeTab === 1" (click)="setActiveTab(1)"
                                      class="px-5 hover:bg-gray-400 py-[15px] rounded-full font-semibold text-sm leading-none text-gray-200 bg-[rgb(47,69,83)] transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                     
                                      data-sveltekit-noscroll=""
                                      >R1 </a
                                    ><a [class.active]="activeTab === 2" (click)="setActiveTab(2)"
                                      class="px-5 py-[15px] rounded-full font-semibold text-sm leading-none text-gray-200 hover:bg-gray-400 transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                    
                                      >R2 </a
                                    ><a [class.active]="activeTab === 3" (click)="setActiveTab(3)"
                                      class="px-5 py-[15px] rounded-full font-semibold text-sm leading-none text-gray-200 hover:bg-gray-400 transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                    
                                      >R3 </a
                                    ><a [class.active]="activeTab === 4" (click)="setActiveTab(4)"
                                      class="px-5 py-[15px] rounded-full font-semibold text-sm leading-none betterhover:hover:bg-grey-400 text-gray-200 betterhover:hover:text-white hover:bg-gray-400 transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                 
                                      >R4 </a
                                    ><a [class.active]="activeTab === 5" (click)="setActiveTab(5)"
                                      class="px-5 py-[15px] rounded-full font-semibold text-sm leading-none text-gray-200 hover:bg-gray-400 transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                  
                                      >R5 </a
                                    ><a [class.active]="activeTab === 6" (click)="setActiveTab(6)"
                                      class="px-5 py-[15px] rounded-full font-semibold text-sm leading-none bg-grey-400 text-gray-200 hover:bg-gray-400 transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                    
                                      >R6 </a
                                    ><a [class.active]="activeTab === 7" (click)="setActiveTab(7)"
                                      class="px-5 py-[15px] rounded-full font-semibold text-sm leading-none text-gray-200 hover:bg-gray-400 transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                     
                                      >R7 </a
                                    ><a [class.active]="activeTab === 8" (click)="setActiveTab(8)"
                                      class="px-5 py-[15px] rounded-full font-semibold text-sm leading-none text-gray-200 hover:bg-gray-400 transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                    
                                      >R8 </a
                                    ><a [class.active]="activeTab === 9" (click)="setActiveTab(9)"
                                      class="px-5 py-[15px] rounded-full font-semibold text-sm leading-none text-gray-200 hover:bg-gray-400 transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                     
                                      >R9 </a
                                    ><a [class.active]="activeTab === 10" (click)="setActiveTab(10)"
                                      class="px-5 py-[15px] rounded-full font-semibold text-sm leading-none text-gray-200 hover:bg-gray-400 transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                     
                                      >R10
                                    </a>
                                  </div>
                                </div>
                                <div class="mt-6">
                                  <div
                                    class="flex flex-wrap items-center [column-gap:1rem] [row-gap:0.5rem] m-0 p-0"
                                  >
                                    <div class="inline-flex">
                                      <div class="cursor-help inline-flex">
                                        <button
                                          type="button"
                                          
                                          class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-none"
                                        
                                        >
                                          <svg
                                            fill="currentColor"
                                            viewBox="0 0 64 64"
                                            class="svg-icon"
                                          >
                                            <title></title>
                                            <path
                                              fill-rule="evenodd"
                                              clip-rule="evenodd"
                                              d="M0 49.36V0h64v49.36H0ZM23.013 9.893v29.574l23.68-14.8-23.68-14.774ZM10.667 56h42.666v8H10.667v-8Z"
                                            ></path>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                                    <div
                                      class="flex whitespace-nowrap gap-[0.5rem] m-0 p-0"
                                    >
                                      <span
                                        class="text-grey-200 font-semibold text-xs leading-[18px]"
                                        >Ended</span
                                      >
                                      <span class="wrapper-text"
                                        >November 11, 2024</span
                                      >
                                    </div>
                                    <div
                                      class="flex flex-wrap items-center gap-[0.25rem] m-0 p-0"
                                    >
                                      <svg
                                        fill="currentColor"
                                        viewBox="0 0 64 64"
                                        class="svg-icon"
                                      >
                                        <title></title>
                                        <path
                                          d="M54.457 22.846c-.586 0-1.172.053-1.732.16.08-.507.133-1.014.133-1.547 0-4.85-3.945-8.796-8.796-8.796a8.644 8.644 0 0 0-5.811 2.213C37.478 8.745 32.253 4 25.909 4c-6.877 0-12.448 5.571-12.448 12.448 0 .453 0 .906.08 1.333h-1.52C5.385 17.754 0 23.139 0 29.803c0 6.237 4.745 11.381 10.849 11.995 1.413-6.558 7.224-11.462 14.207-11.462 6.984 0 12.821 4.931 14.208 11.515h15.22c5.251 0 9.516-4.265 9.516-9.516s-4.265-9.516-9.516-9.516l-.027.027Z"
                                        ></path>
                                        <path
                                          d="M39.397 45.636h-4.212c0-.267.027-.533.027-.8 0-5.624-4.558-10.182-10.182-10.182-5.625 0-10.183 4.558-10.183 10.182 0 .267 0 .533.027.8a7.765 7.765 0 0 0-7.464 7.783c0 4.292 3.492 7.784 7.784 7.784H39.37c4.292 0 7.784-3.492 7.784-7.784 0-4.291-3.492-7.783-7.784-7.783h.027Z"
                                        ></path>
                                      </svg>
                                      <div
                                        aria-label="dot"
                                        class="min-w-0.5 h-0.5 rounded-full bg-grey-200"
                                      ></div>
                                      <span class="capitalize wrapper-text"
                                        >SOFT
                                      </span>
                                      <div
                                        aria-label="dot"
                                        class="min-w-0.5 h-0.5 rounded-full bg-grey-200"
                                      ></div>
                                      <span class="wrapper-text">1000m</span>
                                    </div>
                                    <div class="max-w-[100vw] overflow-hidden">
                                      <span class="wrapper-text"
                                        >Betway National Colour Stakes - OPEN FM
                                        HCP</span
                                      >
                                    </div>
                                  </div>
                                  <div
                                    aria-label="divider"
                                    class="bg-[rgb(47,69,83)] h-0.5 mt-3"
                                  ></div>
                                </div>
                                <div class="tabs-wrapper">
                                  <div class="slider">
                                    <div class="flex m-0 p-0">
                                      <button
                                        type="button"
                                      
                                        class="hover:bg-gray-400 ml-0 inline-flex relative items-center gap-2 justify-center font-semibold whitespace-nowrap ring-offset-background bg-transparent text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white py-[0.9375rem] px-[1.25rem] rounded-full !bg-grey-400 !text-white [&amp;_svg]:!text-white transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                       
                                      >
                                        <span>Fixed</span></button
                                      ><button
                                        type="button"
                                       
                                        class="hover:bg-gray-400 ml-[5px] inline-flex relative items-center gap-2 justify-center font-semibold whitespace-nowrap ring-offset-background text-white betterhover:hover:bg-grey-400 betterhover:hover:text-white text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white py-[0.9375rem] px-[1.25rem] rounded-full transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                       
                                      >
                                        <span>Starting Price</span></button
                                      ><button
                                        type="button"
                                       
                                        class="ml-[5px] hover:bg-gray-400 inline-flex relative items-center gap-2 justify-center font-semibold whitespace-nowrap ring-offset-background text-white betterhover:hover:bg-grey-400 betterhover:hover:text-white text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white py-[0.9375rem] px-[1.25rem] rounded-full transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                       
                                      >
                                        <span>Trifecta</span></button
                                      ><button
                                        type="button"
                                        
                                        class="ml-[5px] hover:bg-gray-400 inline-flex relative items-center gap-2 justify-center font-semibold whitespace-nowrap ring-offset-background text-white betterhover:hover:bg-grey-400 betterhover:hover:text-white text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white py-[0.9375rem] px-[1.25rem] rounded-full transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                        
                                      >
                                        <span>Exacta</span></button
                                      ><button
                                        type="button"
                                        
                                        class="ml-[5px] hover:bg-gray-400 inline-flex relative items-center gap-2 justify-center font-semibold whitespace-nowrap ring-offset-background text-white betterhover:hover:bg-grey-400 betterhover:hover:text-white text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white py-[0.9375rem] px-[1.25rem] rounded-full transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                     
                                      >
                                        <span>Quinella</span></button
                                      ><button
                                        type="button"
                                        
                                        class="ml-[5px] hover:bg-gray-400 inline-flex relative items-center gap-2 justify-center font-semibold whitespace-nowrap ring-offset-background text-white betterhover:hover:bg-grey-400 betterhover:hover:text-white text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white py-[0.9375rem] px-[1.25rem] rounded-full transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white [&:hover>svg]:text-white [&_svg]:!text-gray-200"
                                        
                                      >
                                        <span>First Four</span>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                                
                                  <div class="market-main">
                                      <div class="market-sub">
                                          <button type="button" class="Runners">10 Runners <div class="arrows ">
                                                  <div class="arrow translate-y-[3px]">
                                                      <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                                                          <title></title>
                                                          <path
                                                              d="M32.271 17 9.201 40.071 16.128 47l16.145-16.145L48.418 47l6.93-6.929L32.275 17h-.005Z">
                                                          </path>
                                                      </svg>
                                                  </div>
                                                  <div class="arrow -translate-y-[3px]">
                                                      <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                                                          <title></title>
                                                          <path
                                                              d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
                                                          </path>
                                                      </svg>
                                                  </div>
                                              </div>
                                          </button>
                                          <div class="flucs-container">
                                              <label class="variant-default hover:text-white svelte">
                                                  <input type="checkbox" class="hover:text-white svelte">
                                                  <div class="flucs-text">Flucs</div> 
                                                  <label class="inline-flex items-center cursor-pointer">
                                                      <input type="checkbox" value="" class="sr-only peer" id="toggle" name="toggle" (click)="toggleVisibility()">
                                                      <div class="toggle"></div>
                                                      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"></span>
                                                    </label>
                                              </label>
                                              <div class="win-contatiner">
                                                  <button type="button" class="win-btn">Win
                                                      <div class="arrows">
                                                          <div class="arrow translate-y-[3px] ">
                                                              <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon">
                                                                  <title></title>
                                                                  <path
                                                                      d="M32.271 17 9.201 40.071 16.128 47l16.145-16.145L48.418 47l6.93-6.929L32.275 17h-.005Z">
                                                                  </path>
                                                              </svg>
                                                          </div>
                                                          <div class="arrow -translate-y-[3px] ">
                                                              <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                                                                  <title></title>
                                                                  <path
                                                                      d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
                                                                  </path>
                                                              </svg>
                                                          </div>
                                                      </div>
                                                  </button>
                                                  <span class="place-text">Place</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="divider-border"></div>
                                      <div class="flex flex-col">
                                          <div>
                                              <div role="button" class="runner-card  svelte-grid">
                                                  <div class="flex flex-col items-center gap-1">
                                                      <div class="silk-wrapper svelte-snmmmh">
                                                          <div class="silk-icon svelte-snmmmh"
                                                              style="background-image:url(https://silks.racingandsports.com.au/jockey/silks/12-nov-2024/381336/R1.png); background-position:-360px 2px">
                                                          </div>
                                                          <img alt="Runner silk" class="hidden"
                                                              src="https://silks.racingandsports.com.au/jockey/silks/12-nov-2024/381336/R1.png">
                                                      </div>
                                                      <div class="chevron svelte-1cbx3va" (click)="toggleMarket()"         [ngClass]="!isMarketOpen ? 'rotate-[180deg]' : 'rotate-[360deg]'" >
                                                          <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                                                              <title></title>
                                                              <path
                                                                  d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
                                                              </path>
                                                          </svg>
                                                      </div>
                                                  </div>
                                                  <div class="truncate">
                                                      <div class="flex flex-col gap-1">
                                                          <div class="luminous-continer">
                                                              <span class="luminous"><span class="tabular-nums">10.</span> Luminous Beauty</span>
                                                              <span class="luminous-num">(10)</span>
                                                          </div>
                                                          <div class="w-content">
                                                              <div class="alignment">
                                                                  <div class="badge variant-default">
                                                                      W</div> <span title="54kg" class="weight">54kg</span>
                                                              </div>
                                                              <div class="alignment">
                                                                  <div class="badge variant-default">
                                                                      J</div> <span title="R. Tanaka" class="weight">R.
                                                                      Tanaka</span>
                                                              </div>
                                                              <div class="alignment">
                                                                  <div class="badge variant-default">
                                                                      F</div> <span title="0x7004" class="weight">0x7004</span>
                                                              </div>
                                                              <div class="alignment">
                                                                  <div class="badge variant-default">
                                                                      T</div> <span title="J. Murata" class="weight">J.
                                                                      Murata</span>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="right-btn">
                                                      <div class="py-1" *ngIf="isFluctuationVisible">
                                                          <div class="fluctuations svelte-1o0p6vf">
                                                              <div class="fluc svelte-1o0p6vf"><span>OP 13.00</span> </div>
                                                              <div class="fluc svelte-1o0p6vf"><span>6.40</span>
                                                                  <div class="direction svelte-1o0p6vf">
                                                                      <div class="translate-y-[-5px]"><svg fill="none" viewBox="0 0 96 80"
                                                                              class="svg-icon " >
                                                                              <title></title>
                                                                              <path d="M48.51 65.684 18.192 15.158h60.632L48.509 65.684Z"
                                                                                  fill="#FF2247"></path>
                                                                          </svg></div>
                                                                  </div>
                                                              </div>
                                                              <div class="fluc svelte-1o0p6vf"><span>6.50</span>
                                                                  <div class="direction svelte-1o0p6vf">
                                                                      <div class="translate-y-[-5px]"><svg fill="none" viewBox="0 0 96 80" class="svg-icon " >
                                                                              <title></title>
                                                                              <path d="m48.507 15.158 30.316 50.526H18.191l30.316-50.526Z"
                                                                                  fill="#00E700"></path>
                                                                          </svg></div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="right-btn-con"><button class="button">
                                                              <div class="group-active:scale-95">
                                                                  <div class="relative" ><span class="btn-amount ">4.40</span>
                                                                      <div class="arrow-odds align-left svelte-hfoo7h"></div>
                                                                  </div>
                                                              </div>
                                                          </button> <button class="button">
                                                              <div class="group-active:scale-95">
                                                                  <div class="relative" ><span class="btn-amount ">1.50</span>
                                                                      <div class="arrow-odds align-left svelte-hfoo7h"></div>
                                                                  </div>
                                                              </div>
                                                          </button></div>
                                                  </div>
                                              </div>
                                              <div class="divider-border"></div>
                                              <div *ngIf="isMarketOpen">
                                                <div class="flex flex-col gap-4 pb-4 px-3">
                                                  <div
                                                    class="h-[0.125rem] bg-[rgb(26,44,56)] m-0 p-0"
                                                  >
                                                  </div>
                                                    <div
                                                      class="flex flex-wrap gap-y-1 gap-x-10"
                                                    >
                                                      <div class="truncat">
                                                        <span
                                                          class="text-white text-sm font-semibold"
                                                          >Jockey</span
                                                        >
                                                        <span class="jockey-text"
                                                          >Gavin Lerena</span
                                                        >
                                                      </div>
                                                      <div class="truncat text-[#b1bad3]">
                                                        <span
                                                          class="text-white text-sm font-semibold"
                                                          >Trainer</span
                                                        >
                                                        <span class="jockey-text"
                                                          >J A Janse Van Vuuren</span
                                                        >
                                                      </div>
                                                      <div class="truncat ">
                                                        <span
                                                          class="text-white text-sm font-semibold"
                                                          >Bio</span
                                                        >
                                                        <span class="jockey-text">5yo B M</span>
                                                      </div>
                                                      <span class="truncat"
                                                        ><span
                                                          class="text-white text-sm font-semibold"
                                                          >Sire</span
                                                        >
                                                        <span class="jockey-text"
                                                          >Time Thief (AUS)</span
                                                        ></span
                                                      >
                                                      <div class="truncat">
                                                        <span
                                                          class="text-white text-sm font-semibold"
                                                          >Form</span
                                                        >
                                                        <span class="jockey-text">11243x</span>
                                                      </div>
                                                      
                                                    </div>
                                                 
                                                
                                                    <div
                                                    class="h-[0.125rem] bg-[rgb(26,44,56)] m-0 p-0"
                                                  >
                                                  </div>
                                              <div class="flex gap-2 flex-col">
                                                <span class="runners-text"
                                                  >Runner Comments</span
                                                >
                                                <div
                                                  class="bg-[rgb(26,44,56)] py-2 px-3 rounded"
                                                >
                                                  <div
                                                    class="w-full h-fit line-clamp-3 text-left text-sm"
                                                    aria-expanded="false"
                                                  >
                                                    <div>
                                                      Mare returning from a spell and has won
                                                      previously when first up. Finished off
                                                      last preparation third of 7 at this
                                                      track July 27 over 1100m, 2 len behind
                                                      Exchange Student carrying 60kg at $1.70.
                                                      First up last campaign fifth of 13 at
                                                      Greyville September 17 2023 over 1400m,
                                                      0.8 len behind Except Temptation
                                                      carrying 56.5kg at $5. Expect a bold
                                                      showing.
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              
                                              <div
                                                class="grid auto-cols-max gap-1 bg-[rgb(33_55_67)] [grid-template-columns:repeat(8,1fr)]"
                                              >
                                                <div
                                                  class="flex flex-col !bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Last 10 Runs</span>
                                                  <span class="sub-text">4371312444</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Career</span>
                                                  <span class="sub-text">26: 3 2 2</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Prize (AUD)</span>
                                                  <span class="sub-text">-</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Speed Map</span>
                                                  <span class="sub-text">Leader</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Track</span>
                                                  <span class="sub-text">2: 0 0 0</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Distance</span>
                                                  <span class="sub-text">9: 2 1 2</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text"
                                                    >Track / Distance</span
                                                  >
                                                  <span class="sub-text">0: 0 0 0</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Dirt</span>
                                                  <span class="sub-text">0: 0 0 0</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Firm</span>
                                                  <span class="sub-text">0: 0 0 0</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Good</span>
                                                  <span class="sub-text">25: 3 2 2</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Soft</span>
                                                  <span class="sub-text">0: 0 0 0</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Heavy</span>
                                                  <span class="sub-text">0: 0 0 0</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">Synthetic</span>
                                                  <span class="sub-text">0: 0 0 0</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">1st Up</span>
                                                  <span class="sub-text">3: 0 0 0</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">2nd Up</span>
                                                  <span class="sub-text">3: 0 0 0</span>
                                                </div>
                                                <div
                                                  class="flex flex-col bg-[rgb(26,44,56)] rounded px-3 py-2"
                                                >
                                                  <span class="head-text">3rd Up</span>
                                                  <span class="sub-text">2: 0 0 0</span>
                                                </div>
                                              </div>
                                              
                                              <div
                                                class="flex flex-col gap-2"
                                                
                                              >
                                                <span
                                                  class="runners-text"
                                                  
                                                  >Race History</span
                                                >
                                                <div
                                                  class="history-list"
                                                  
                                                >
                                                  <div
                                                    class="history-head"
                                                    
                                                  >
                                                    <div
                                                      slot="header"
                                                      class="flex flex-1 capitalize"
                                                      
                                                    >
                                                      <span
                                                        class=" basis-[10px] min-w-[40px] runners-text"
                                                   
                                                        >4/11</span
                                                      >
                                                      <span
                                                        class="basis-[20px] min-w-[90px] runners-text"
                                                        
                                                        >Oct 31, 2024</span
                                                      >
                                                      <span
                                                        class="basis-[20px]  runners-text"
                                                        
                                                        >Vaal</span
                                                      >
                                                      <span
                                                        class="basis-[15px]  runners-text"
                                                      
                                                        >1100m</span
                                                      >
                                                      <span
                                                        class="basis-[15px]  runners-text"
                                                    
                                                        >-</span
                                                      >
                                                    </div>
                                                    <div
                                                      class="flex items-center"
                                                      
                                                    >
                                                      <svg
                                                        fill="currentColor"
                                                        viewBox="0 0 64 64"
                                                        class="svg-icon"
                                                        style="transform: rotate(90deg)"
                                                      >
                                                        <title></title>
                                                        <path
                                                          d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z"
                                                        ></path>
                                                      </svg>
                                                    </div>
                                                  </div>
                                                </div>
                                                
                                                <div
                                                  class="flex w-full justify-center mt-3 mb-2"
                                                  
                                                >
                                                  <button
                                                    type="button"
                                                    
                                                    class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-grey-200 betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:text-white focus-visible:outline-none text-sm leading-none"
                                                  
                                                  >
                                                    Load More
                                                  </button>
                                                </div>
                                                
                                              </div>
                                              </div>
                                              </div>
                                            
                                          </div>
                                          <div class="flex flex-col">
                                            <div class=" divider-border"></div>
                                            <div class="other-con">
                                                <span class="other-text variant-subtle  ">Other Rules: Three place dividends paid.</span> <span
                                                    class="other-text  variant-subtle">JP-SP: Japanese-Starting Price is derived from a parimutuel
                                                    dividend and announced
                                                    post-race.</span>
                                            </div>
                                        </div>
<!-- Add toggle==================================================== -->


</div>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>















                                          <!-- 2nd card============================================== -->
                                  