<div class="good-varient">
  <div class="ctainer">
    <div
      class="update-msg-wrap"
    >
      <div class="flex gap-2 items-center">
        <span class=""
          ><span class="mr-3 text-[14px] font-semibold"
            >Update to Level 2 verification so we can help secure your Stake
            account.</span
          >
          <a
            class="read-more-btn ring-offset-background"
            rel="external noreferrer noopener"
            ><span
              class="read-more"
              >Read more</span
            ></a
          ></span
        >
      </div>
      <div class="flex md:gap-6 md:justify-end justify-between gap-20">
        <button
          type="button"
        
          class="dismiss-btn"
        >
          Dismiss
        </button>
        <a
          class="verfication   ring-offset-background"
          >Update verification</a
        >
      </div>
    </div>
  </div>
</div>
<div class="scrollable">
  <div>
    <div class="relative">
      <div class="">
        <div class="parent-svelte">
          <div class="ctainer-svelte">
            <div class="sizer"></div>
          </div>
          <div class="ctainer">
            <div class="layout-spacing">
              <div class="">
                <div class="stack">
                  <div class="wrap">
                    <div class="stack-svelte">
                      <div
                        class="header"
                      >
                        <h1 class="title">
                          <svg
                            fill="currentColor"
                            viewBox="0 0 64 64"
                            class="svg-icon mr-2 text-[#b1bad3]"
                          >
                            <title></title>
                            <path
                              d="M32 0 5.654 11.306C5.654 52.692 32 64 32 64s26.346-11.306 26.346-52.694L32 0Zm3.546 33.014v13.2h-7.12v-13.2c-3.174-1.41-5.346-4.532-5.346-8.164a8.907 8.907 0 1 1 12.522 8.142l-.056.022Z"
                            ></path>
                          </svg>
                          Responsible Gambling
                        </h1>
                      </div>
                      <a
                        class="ring-offset-background  header-svg [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white" routerLink="/home"
                      >
                        <svg
                          fill="currentColor"
                          viewBox="0 0 64 64"
                          class="svg-icon text-[rgb(177,186,211)]"
                        >
                          <title></title>
                          <path
                            d="m54.827 16.187-7.014-7.014L32 24.987 16.187 9.173l-7.014 7.014L24.987 32 9.173 47.813l7.014 7.014L32 39.013l15.813 15.814 7.014-7.014L39.013 32l15.814-15.813Z"
                          ></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                  <div
                    class=""
                    [ngClass]="{
                      ' p-0  gap-3 items-start grid-auto-flow:row   justify-start md:[grid-auto-flow:column] grid':
                        routerPath !== '/responsible-gambling'
                    }"
                  >
                    <!-- Mbl view dropdown -->
                    <div
                      class="mbl-dropdown-container"
                      *ngIf=" routerPath !== '/responsible-gambling'"
                    >
                      <div >
                        <a
                          class="menu-nav "
                          ><svg
                            fill="currentColor"
                            viewBox="0 0 64 64"
                            class="svg-icon"
                          >
                            <title></title>
                            <path
                              d="M36.998 53.995 16 32.998 36.998 12l6.306 6.306L28.61 33l14.694 14.694L36.998 54v-.005Z"
                            ></path>
                            </svg>
                          </a>
                      </div>
                      <div class="dropdown svelte-1iau4lg">
                        <button
                          (click)="toggleDropdown()"
                          type="button"
                          class="[&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white ring-offset-background mbl-dropdown-options"
                          aria-label="Open Dropdown"
                        >
                          <span>{{ selectedOption }}</span>
                          <div
                            [ngClass]="
                              !WinnerDropdown
                                ? 'rotate-[180deg]'
                                : 'rotate-[360deg]'
                            "
                          >
                            <svg
                              fill="currentColor"
                              viewBox="0 0 64 64"
                              class="svg-icon"
                              style="transform: rotate(180deg)"
                            >
                              <title></title>
                              <path
                                d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z"
                              ></path>
                            </svg>
                          </div>
                        </button>
                        <div class="profile-dropdown" *ngIf="WinnerDropdown">
                          <!-- Arrow -->
                          <div class="dropdown-arrow"></div>
                          <div class="dropdown-scroll-content">
                            <div>
                              <button (click)="selectOption('Stake Smart')"
                                routerLink="/responsible-gambling/stake-smart"
                                type="button"
                                class="profile-list text-[#1475e1]"
                              >
                                <span class="truncate">Stake Smart</span>
                              </button>
                              <button
                                routerLink="/responsible-gambling/responsible-gambling-faqs"
                                type="button" (click)="selectOption('Responsible Gambling FAQs')"
                                class="profile-list text-[rgb(47_69_83)]"
                              >
                                <span class="truncate"
                                  >Responsible Gambling FAQ's</span
                                >
                              </button>
                              <button
                                type="button"
                                (click)="selectOption('Recognise the Signs')"
                                class="profile-list text-[rgb(47_69_83)]"
                              >
                                <span class="">Recognise the Signs</span>
                              </button>
                              <button
                                type="button"
                                (click)="selectOption('Self-Assessment')"
                                class="profile-list text-[rgb(47_69_83)]"
                                routerLink="/responsible-gambling/self-exclusion"
                              >
                                <span class="truncate">Self-Assessment</span>
                              </button>
                              <button
                                type="button"
                                (click)="selectOption('Self Exclusion')"
                                class="profile-list text-[rgb(47_69_83)]"
                              >
                                <span class="truncate">Self Exclusion</span>
                              </button>
                              <button
                                type="button"
                                (click)="selectOption('Gambling Limits')"

                                class="profile-list text-[rgb(47_69_83)]"
                              >
                                <span class="truncate">Gambling Limits</span>
                              </button>
                              <button
                                routerLink="/responsible-gambling/calculator"
                                (click)="selectOption('Budget Calculator')"
                                type="button"
                                class="profile-list text-[rgb(47_69_83)]"
                              >
                                <span class="truncate">Budget Calculator</span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div style="display: none"></div>
                      </div>
                    </div>
                    <div
                      class="card "
                      [ngClass]="{
                        'active-route': routerPath !== '/responsible-gambling',
                        'md:block hidden':routerPath !== '/responsible-gambling'
                      }"
                    >
                      <div class="py-2 px-0 align-baseline">
                        <div class="py-2 px-0">
                          <div class="relative m-0 p-0">
                            <!-- Navigation Links -->
                            <a
                              *ngFor="let route of routes; let i = index"
                              [routerLink]="route.path"
                              [ngClass]="{
                                '!bg-[#071824] text-white': isActive(route.path),
                                'outer-div': true
                              }"
                              class="dropdown-option relative block py-2 px-4 hover:text-white"
                              (click)="setActiveIndex(i)"
                            >
                              <span>{{ route.label }}</span>
                            </a>
                        
                            <!-- Blue Line (Dash) Indicator -->
                            <div
                              class="dash bg-[#1475e1] transition-all duration-300"
                              [style.top.%]="activeIndex * (100 / routes.length)"
                              [style.height.%]="100 / routes.length"
                            ></div>
                          </div>
                        </div>
                        







                      </div>
                    </div>
                    <router-outlet></router-outlet>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
