<div class="content-wrapper">
    <div class="page-content" id="main-content">
        <div class="parent ">
            <div class="ctainer no-height ">
                <div class="sizer"></div>
            </div>
            <div class="ctainer">
                <div class="layout-spacing">
                    <div>
                        <div class="stack-wrapper">
                            <div class="wrap">
                                <div
                                    class="stack x-space-between y-center gap-medium padding-none direction-horizontal padding-left-auto padding-top-auto padding-bottom-auto padding-right-auto stretch svelte-1cd1boi">
                                    <div class="stack-child">
                                        <h1 class="gambling-title"><svg fill="currentColor" viewBox="0 0 64 64"
                                                class="svg-icon ">
                                                <title></title>
                                                <path
                                                    d="M32 0 5.654 11.306C5.654 52.692 32 64 32 64s26.346-11.306 26.346-52.694L32 0Zm3.546 33.014v13.2h-7.12v-13.2c-3.174-1.41-5.346-4.532-5.346-8.164a8.907 8.907 0 1 1 12.522 8.142l-.056.022Z">
                                                </path>
                                            </svg>Responsible Gambling
                                        </h1>
                                    </div> <a
                                        class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
                                        href="/casino/home" data-sveltekit-reload="off"
                                        data-sveltekit-preload-data="off" data-sveltekit-noscroll="off"
                                        data-content=""><svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                                            <title></title>
                                            <path
                                                d="m54.827 16.187-7.014-7.014L32 24.987 16.187 9.173l-7.014 7.014L24.987 32 9.173 47.813l7.014 7.014L32 39.013l15.813 15.814 7.014-7.014L39.013 32l15.814-15.813Z">
                                            </path>
                                        </svg></a>
                                </div>
                            </div>

                            <div class="content-container">
                                <div class="card variant-default">
                                    <div class="outer-wrapper svelte-tg1q9b">
                                        <div class="wrapper svelte-tg1q9b"><a class="nav-item active-border"
                                                routerLink="/responsible-gambling/stake-smart"
                                                data-analytics="global-navbar-Stake Smart-tab"><span>Stake Smart</span>
                                            </a><a class="nav-item"
                                                routerLink="/responsible-gambling/responsible-gambling-faqs"
                                                data-sveltekit-preload-data="hover" data-sveltekit-noscroll="off"
                                                data-analytics="global-navbar-Responsible Gambling FAQ's-tab"><span>Responsible
                                                    Gambling FAQ's</span> </a><a class="nav-item"
                                                href="/responsible-gambling/signs"
                                                data-analytics="global-navbar-Recognise the Signs-tab"><span>Recognise
                                                    the
                                                    Signs</span> </a><a class="nav-item"
                                                href="/responsible-gambling/self-assessment"
                                                data-analytics="global-navbar-Self-Assessment-tab"><span>Self-Assessment</span>
                                            </a><a class="nav-item" href="/responsible-gambling/exclusion"
                                                data-analytics="global-navbar-Self Exclusion-tab"><span>Self
                                                    Exclusion</span> </a><a class="nav-item"
                                                href="/responsible-gambling/gambling-limits"
                                                data-analytics="global-navbar-Gambling Limits-tab"><span>Gambling
                                                    Limits</span> </a><a class="nav-item"
                                                href="/responsible-gambling/calculator"
                                                data-analytics="global-navbar-Budget Calculator-tab"><span>Budget
                                                    Calculator</span> </a>
                                            <div class="dash svelte-tg1q9b"
                                                style="height: 14.2857%; transform: translateY(0%);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>