<div class="card-varient">
    <div>
        <div class="layout-spacing  svelte-l4ghjo ">
            <div class="affliate-wrap svelte-1vuj99p">
                <div class="select-wrapper ">
                    <label class="stacked">
                        <div class="select-wrap svelte">
                            <div class="select-content svelte"><select class="select expanded svelte"
                                    data-test="sort-by-select">
                                    <option value="available">Available </option>
                                    <option value="commission">Commission </option>
                                    <option value="withdrawal">Withdrawn </option>
                                </select>
                                <div class="dropdown-icon-wrap svelte">
                                    <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon ">
                                        <title></title>
                                        <path
                                            d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div> <span class="label-content"><span slot="label">Sort By</span>
                        </span>
                    </label>
                </div>
                <div class="table-wrap  w-full">
                    <div class="table-wrapper scrollX svelte-z7x44z w-full">
                        <table class="table-content svelte-z7x44z stripey w-full animate slideDownOdd">
                            <tr>
                                <th><span class="">Available</span></th>
                                <th><span class="">Commission</span></th>
                                <th class="!text-end"><span class="">Withdrawn</span></th>
                            </tr>
                            <tbody class="svelte-z7x44z w-full">
                                <tr class="w-full table-row" *ngFor="let currency of currencies">
                                    <td *ngFor="let item of currency.items; let i = index">
                                        <div class="currency svelte-141qgpc w-full" role="presentation" [ngClass]="{
                                          'text-left': i === 0,
                                          'text-center': i === 1,
                                          'text-right': i === 2
                                        }">
                                            <div class="currency svelte-141qgpc w-full" role="presentation">
                                                <span class="content svelte-141qgpc">
                                                    <span class="is-truncate svelte-17v69ua">
                                                        <span (mouseenter)="showTooltip(item)"
                                                            (mouseleave)="hideTooltip(item)">
                                                            {{ item.currencyCode }}&nbsp;{{ item.amount }}
                                                        </span>
                                                    </span>
                                                </span>
                                                <span class="is-truncate svelte-17v69ua"
                                                    [title]="item.currencyCode">
                                                    <svg fill="none" viewBox="0 0 96 96" class="svg-icon">
                                                        <path
                                                            d="M48 96c26.51 0 48-21.49 48-48S74.51 0 48 0 0 21.49 0 48s21.49 48 48 48Z"
                                                            fill="#00A862"></path>
                                                        <path
                                                            d="M68.68 45.56v4.64h4.48v4.96h-4.48v15.88h-9.52L47.92 55.16H37.28v15.88H27.4V55.16h-4.56V50.2h4.56v-4.64h-4.56V40.6h4.56V25h10.16l11.12 15.6h10.16V25h9.88v15.6h4.48v4.96h-4.52Zm-31.4-4.96h.36l-.36-.48v.48Zm7.12 9.6-3.24-4.64h-3.88v4.64h7.12Zm14.44-4.64H52.2l3.32 4.64h3.32v-4.64Z"
                                                            fill="#fff"></path>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- Tooltip -->
                                        <!-- *ngIf="item.isTooltipVisible "  -->
                                        <div *ngIf="item.isTooltipVisible "
                                            class="absolute top-[-38px] bg-white  text-black rounded" [ngClass]="{
                                            '!w-[110px] ': i === 0,
                                            'left-[44.5%] !w-[110px] ': i === 1,
                                            'left-[87%] !w-[110px] ': i === 2
                                          }">

                                            <div class="tooltip-arrow"></div>
                                            <div class="tooltip-content w-[110px] h-[40px] !justify-center">
                                                <div class="currency svelte-141qgpc" role="presentation">
                                                    <span class="content svelte-141qgpc">
                                                        <span class="is-truncate svelte-17v69ua font-bold">
                                                            <span>{{ item.currencyCode }}&nbsp;{{ item.amount }}</span>
                                                            <svg fill="none" viewBox="0 0 96 96" class="svg-icon ml-1">
                                                                <path
                                                                    d="M48 96c26.51 0 48-21.49 48-48S74.51 0 48 0 0 21.49 0 48s21.49 48 48 48Z"
                                                                    fill="#00A862"></path>
                                                                <path
                                                                    d="M68.68 45.56v4.64h4.48v4.96h-4.48v15.88h-9.52L47.92 55.16H37.28v15.88H27.4V55.16h-4.56V50.2h4.56v-4.64h-4.56V40.6h4.56V25h10.16l11.12 15.6h10.16V25h9.88v15.6h4.48v4.96h-4.52Zm-31.4-4.96h.36l-.36-.48v.48Zm7.12 9.6-3.24-4.64h-3.88v4.64h7.12Zm14.44-4.64H52.2l3.32 4.64h3.32v-4.64Z"
                                                                    fill="#fff"></path>
                                                            </svg>
                                                        </span>

                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-wrap svelte-kpsotf">
                    <form class="svelte-188ba96"> <button type="submit" class="withdraw-btn">
                            <div class="contents">Withdraw Available Commission</div>
                        </button></form>
                </div>
                <p class="font-normal text-[#b1bad3] text-sm text-center svelte-17v69ua">Transfers affiliate commission
                    to your available balance.</p>
            </div>
        </div>
    </div>
</div>





<!-- <tr class="w-full">
    <td>
        <div class="currency svelte-141qgpc w-full" role="presentation"> <span
                class="content svelte-141qgpc" >
                <span
                    class=" is-truncate svelte-17v69ua"
                    ><span>NGN&nbsp;0.00 </span></span></span>
            <span
                class="is-truncate svelte-17v69ua"
                title="ngn" ><svg fill="none"
                    viewBox="0 0 96 96" class="svg-icon " >
                    <title></title>
                    <path
                        d="M48 96c26.51 0 48-21.49 48-48S74.51 0 48 0 0 21.49 0 48s21.49 48 48 48Z"
                        fill="#00A862"></path>
                    <path
                        d="M68.68 45.56v4.64h4.48v4.96h-4.48v15.88h-9.52L47.92 55.16H37.28v15.88H27.4V55.16h-4.56V50.2h4.56v-4.64h-4.56V40.6h4.56V25h10.16l11.12 15.6h10.16V25h9.88v15.6h4.48v4.96h-4.52Zm-31.4-4.96h.36l-.36-.48v.48Zm7.12 9.6-3.24-4.64h-3.88v4.64h7.12Zm14.44-4.64H52.2l3.32 4.64h3.32v-4.64Z"
                        fill="#fff"></path>
                </svg></span> </div>
    </td>
    <td >
        <div class="currency svelte-141qgpc" role="presentation"> <span
                class="content svelte-141qgpc" ><span
                    class=" is-truncate svelte-17v69ua"
                    ><span>NGN&nbsp;0.00 </span></span></span>
            <span
                class="is-truncate svelte-17v69ua"
                title="ngn" ><svg fill="none"
                    viewBox="0 0 96 96" class="svg-icon " >
                    <title></title>
                    <path
                        d="M48 96c26.51 0 48-21.49 48-48S74.51 0 48 0 0 21.49 0 48s21.49 48 48 48Z"
                        fill="#00A862"></path>
                    <path
                        d="M68.68 45.56v4.64h4.48v4.96h-4.48v15.88h-9.52L47.92 55.16H37.28v15.88H27.4V55.16h-4.56V50.2h4.56v-4.64h-4.56V40.6h4.56V25h10.16l11.12 15.6h10.16V25h9.88v15.6h4.48v4.96h-4.52Zm-31.4-4.96h.36l-.36-.48v.48Zm7.12 9.6-3.24-4.64h-3.88v4.64h7.12Zm14.44-4.64H52.2l3.32 4.64h3.32v-4.64Z"
                        fill="#fff"></path>
                </svg></span> </div>
    </td>
    <td>
        <div class="currency svelte-141qgpc" role="presentation"> <span
                class="content svelte-141qgpc" ><span
                    class=" is-truncate svelte-17v69ua"
                    ><span>NGN&nbsp;0.00 </span></span></span>
            <span
                class=" is-truncate svelte-17v69ua"
                title="ngn"><svg fill="none"
                    viewBox="0 0 96 96" class="svg-icon " >
                    <title></title>
                    <path
                        d="M48 96c26.51 0 48-21.49 48-48S74.51 0 48 0 0 21.49 0 48s21.49 48 48 48Z"
                        fill="#00A862"></path>
                    <path
                        d="M68.68 45.56v4.64h4.48v4.96h-4.48v15.88h-9.52L47.92 55.16H37.28v15.88H27.4V55.16h-4.56V50.2h4.56v-4.64h-4.56V40.6h4.56V25h10.16l11.12 15.6h10.16V25h9.88v15.6h4.48v4.96h-4.52Zm-31.4-4.96h.36l-.36-.48v.48Zm7.12 9.6-3.24-4.64h-3.88v4.64h7.12Zm14.44-4.64H52.2l3.32 4.64h3.32v-4.64Z"
                        fill="#fff"></path>
                </svg></span> </div>
    </td>
</tr> -->