@media screen and (min-width: 768px) {
    #svelte {
        height: 1px;
        min-height: 100dvh;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.modal.svelte-cq3ecl.svelte-cq3ecl {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1500;
    padding: 1500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1500;
}
.overlay.svelte-cq3ecl.svelte-cq3ecl {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000000bf;
    touch-action: none;
}
.card.svelte-cq3ecl.svelte-cq3ecl {
    border-radius: .5rem;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    max-height: calc(100% - 4em);
    display: flex;
    flex-direction: column;
    background: #1a2c38;
    color: #b1bad3;
    overflow: hidden;
}
.header.svelte-227w12 {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    touch-action: none;
}
em.variant-highlighted.svelte-17v69ua, span.variant-highlighted.svelte-17v69ua, h1.variant-highlighted.svelte-17v69ua, h2.variant-highlighted.svelte-17v69ua, h3.variant-highlighted.svelte-17v69ua, h4.variant-highlighted.svelte-17v69ua, h5.variant-highlighted.svelte-17v69ua, h6.variant-highlighted.svelte-17v69ua, p.variant-highlighted.svelte-17v69ua {
    color: var(--white);
}
em.line-height-default.svelte-17v69ua, span.line-height-default.svelte-17v69ua, h1.line-height-default.svelte-17v69ua, h2.line-height-default.svelte-17v69ua, h3.line-height-default.svelte-17v69ua, h4.line-height-default.svelte-17v69ua, h5.line-height-default.svelte-17v69ua, h6.line-height-default.svelte-17v69ua, p.line-height-default.svelte-17v69ua, em.line-height-base.svelte-17v69ua, span.line-height-base.svelte-17v69ua, h1.line-height-base.svelte-17v69ua, h2.line-height-base.svelte-17v69ua, h3.line-height-base.svelte-17v69ua, h4.line-height-base.svelte-17v69ua, h5.line-height-base.svelte-17v69ua, h6.line-height-base.svelte-17v69ua, p.line-height-base.svelte-17v69ua {
    line-height: 1.5;
}
em.text-size-base.svelte-17v69ua, span.text-size-base.svelte-17v69ua, h1.text-size-base.svelte-17v69ua, h2.text-size-base.svelte-17v69ua, h3.text-size-base.svelte-17v69ua, h4.text-size-base.svelte-17v69ua, h5.text-size-base.svelte-17v69ua, h6.text-size-base.svelte-17v69ua, p.text-size-base.svelte-17v69ua {
    font-size: 1rem;
}
em.with-icon-space.svelte-17v69ua .svg-icon, span.with-icon-space.svelte-17v69ua .svg-icon, h1.with-icon-space.svelte-17v69ua .svg-icon, h2.with-icon-space.svelte-17v69ua .svg-icon, h3.with-icon-space.svelte-17v69ua .svg-icon, h4.with-icon-space.svelte-17v69ua .svg-icon, h5.with-icon-space.svelte-17v69ua .svg-icon, h6.with-icon-space.svelte-17v69ua .svg-icon, p.with-icon-space.svelte-17v69ua .svg-icon {
    margin-right: .5rem;
}
em.svelte-17v69ua, span.svelte-17v69ua, h1.svelte-17v69ua, h2.svelte-17v69ua, h3.svelte-17v69ua, h4.svelte-17v69ua, h5.svelte-17v69ua, h6.svelte-17v69ua, p.svelte-17v69ua {
    line-height: 1.3;
    display: inline-flex;
    align-items: center;
}
.scrollY, .scrollX {
    scrollbar-color: #2f4553 transparent;
}
.modal-content.svelte-cq3ecl.svelte-cq3ecl {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.content.svelte-1m9kzo7 {
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    gap: 1rem;
}
.user-details.svelte-1xuxzlg.svelte-1xuxzlg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1rem;
}
.user-details.svelte-1xuxzlg .user-row.svelte-1xuxzlg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
}
.user-details.svelte-1xuxzlg .user-name.svelte-1xuxzlg {
    display: flex;
    flex-direction: column;
}
em.text-size-md.svelte-17v69ua, span.text-size-md.svelte-17v69ua, h1.text-size-md.svelte-17v69ua, h2.text-size-md.svelte-17v69ua, h3.text-size-md.svelte-17v69ua, h4.text-size-md.svelte-17v69ua, h5.text-size-md.svelte-17v69ua, h6.text-size-md.svelte-17v69ua, p.text-size-md.svelte-17v69ua {
    font-size: 1.125rem;
}
em.weight-semibold.svelte-17v69ua, span.weight-semibold.svelte-17v69ua, h1.weight-semibold.svelte-17v69ua, h2.weight-semibold.svelte-17v69ua, h3.weight-semibold.svelte-17v69ua, h4.weight-semibold.svelte-17v69ua, h5.weight-semibold.svelte-17v69ua, h6.weight-semibold.svelte-17v69ua, p.weight-semibold.svelte-17v69ua {
    font-weight: 600;
}
em.text-size-sm.svelte-17v69ua, span.text-size-sm.svelte-17v69ua, h1.text-size-sm.svelte-17v69ua, h2.text-size-sm.svelte-17v69ua, h3.text-size-sm.svelte-17v69ua, h4.text-size-sm.svelte-17v69ua, h5.text-size-sm.svelte-17v69ua, h6.text-size-sm.svelte-17v69ua, p.text-size-sm.svelte-17v69ua {
    font-size:.75rem;
}
em.variant-highlighted.svelte-17v69ua, span.variant-highlighted.svelte-17v69ua, h1.variant-highlighted.svelte-17v69ua, h2.variant-highlighted.svelte-17v69ua, h3.variant-highlighted.svelte-17v69ua, h4.variant-highlighted.svelte-17v69ua, h5.variant-highlighted.svelte-17v69ua, h6.variant-highlighted.svelte-17v69ua, p.variant-highlighted.svelte-17v69ua {
    color: #fff;
}
m.text-size-default.svelte-17v69ua, span.text-size-default.svelte-17v69ua, h1.text-size-default.svelte-17v69ua, h2.text-size-default.svelte-17v69ua, h3.text-size-default.svelte-17v69ua, h4.text-size-default.svelte-17v69ua, h5.text-size-default.svelte-17v69ua, h6.text-size-default.svelte-17v69ua, p.text-size-default.svelte-17v69ua {
    font-size: .875rem;
}
.bg-grey-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(47, 69, 83, var(--tw-bg-opacity));
}
.miletone-wrap.svelte-1ew5yq8 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: .5ch;
}
.tabs-wrapper.svelte-1vkrcyy .slider.svelte-1vkrcyy {
    display: flex;
    border-radius: 3rem;
    padding: 5px;
    flex-shrink: 0;
}
.tabs-wrapper.fullWidth.svelte-1vkrcyy .slider.svelte-1vkrcyy, .tabs-wrapper.fullWidth.svelte-1vkrcyy .content-wrapper.svelte-1vkrcyy {
    display: flex;
    flex-grow: 1;
}
.tabs-wrapper.svelte-1vkrcyy .content-wrapper.svelte-1vkrcyy>*:first-child {
    margin-left: 0;
}
.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.\!bg-grey-400 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(47,69,83, 1) !important;
}

.empty-list.svelte-1qm952x {
    padding: 1rem !important;
    color: #b1bad3;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: .875rem;
}

/* Raffles */
.stack.gap-larger.svelte-1cd1boi {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}