<!-- unrivalled section  -->
<section class="signup-hero-container">
  <img src="/assets/stake-logo.svg" alt="Stake Logo" class="stake-logo" />
  <div class="hero-main-wrapper">
    <div class="hero-wrapper">
      <div>
        <h1 class="hero-heading">
          An unrivalled Online Casino &amp; Sportsbook
        </h1>
        <button type="button" class="signup-btn">Sign up</button>
      </div>
      <div class="icons-container">
        <div class="mb-2">
          <p class="or-sign-up">Or sign up with</p>
        </div>
        <div class="social-media-wrapper">
          <button class="icon-btn">
            <img src="/assets/logos_facebook.webp" alt="facebook" />
          </button>
          <button class="icon-btn">
            <img src="/assets/devicon_google.webp" alt="google" />
          </button>
          <button class="icon-btn">
            <svg fill="none" viewBox="0 0 97 96" height="20px" width="20px" class="h-5 w-5">
              <title></title>
              <path d="M48.121 96c26.51 0 48-21.49 48-48s-21.49-48-48-48-48 21.49-48 48 21.49 48 48 48Z" fill="#06C755">
              </path>
              <path
                d="M80.161 45.23c0-14.334-14.394-26.018-32.04-26.018s-32.04 11.684-32.04 26.018c0 12.888 11.383 23.608 26.8 25.656 1.024.24 2.47.662 2.831 1.566.301.783.241 2.108.12 2.89 0 0-.36 2.29-.481 2.77-.12.784-.663 3.193 2.77 1.748 3.433-1.446 18.49-10.901 25.175-18.61 4.637-5.12 6.865-10.239 6.865-16.02Z"
                fill="#fff"></path>
              <path
                d="M69.501 53.48a.603.603 0 0 0 .602-.602V50.59a.603.603 0 0 0-.602-.603h-6.143V47.64h6.143a.603.603 0 0 0 .602-.603v-2.288a.603.603 0 0 0-.602-.602h-6.143v-2.35h6.143a.603.603 0 0 0 .602-.602v-2.288a.603.603 0 0 0-.602-.602h-9.034a.604.604 0 0 0-.602.602v13.972c0 .362.301.602.602.602h9.034Zm-33.365 0a.603.603 0 0 0 .602-.602V50.59a.603.603 0 0 0-.602-.603h-6.143V38.906a.603.603 0 0 0-.602-.602h-2.289a.604.604 0 0 0-.602.602v13.972c0 .362.301.602.602.602h9.034Zm5.481-15.176h-2.289a.602.602 0 0 0-.602.602v14.032c0 .333.27.603.602.603h2.289c.332 0 .602-.27.602-.602V38.905a.602.602 0 0 0-.602-.602Zm15.478 0h-2.289a.604.604 0 0 0-.602.602v8.311l-6.384-8.672v-.06h-2.289a.604.604 0 0 0-.602.602v13.972c0 .361.301.602.602.602h2.289a.603.603 0 0 0 .602-.602v-8.311l6.384 8.672.18.181h2.471a.604.604 0 0 0 .601-.602V39.026a.604.604 0 0 0-.602-.602l-.361-.12Z"
                fill="#06C755"></path>
            </svg>
          </button>
          <button class="icon-btn">
            <img src="/assets/Twich.webp" alt="Twich" />
          </button>
        </div>
      </div>
    </div>
    <div class="hero-img-container">
      <div class="first-image">
        <div class="unauth-header-casino gradient-border">
          <img src="/assets/hero-casino.avif" alt="Casino" style="
              object-fit: cover;
              max-width: 333px;
              max-height: 500px;
              aspect-ratio: 0.666 / 1;
              width: 100%;
            " loading="lazy" />
        </div>
      </div>
      <div class="last-img">
        <div class="gradient-border-last rounded-2xl overflow-hidden relative basis-6/12 svelte-n9audu">
          <img src="/assets/hero-sportsbook.avif" alt="Sportsbook" style="
              object-fit: cover;
              max-width: 333px;
              max-height: 500px;
              aspect-ratio: 0.666 / 1;
              width: 100%;
            " loading="lazy" class="rounded-2xl" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- unrivalled section  -->

<!-- image slider  -->
<section class="animation-img-slide-wrapper">
  <div class="slider">
    <ul class="slider-track slider-wrapper">
      <li>
        <img src="/assets/davis-cup.svg" alt="Drake" class="w-[100px]" />
      </li>
      <li>
        <img src="/assets/davis-cup.svg" alt="Drake" class="w-[100px]" />
      </li>
      <li>
        <img src="/assets/everton.svg" alt="Stake F1 Team" class="w-[51px]" />
      </li>
      <li>
        <img src="/assets/billie-jean-king-cup.svg" alt="UFC" class="w-[78px]" />
      </li>
      <li>
        <img src="/assets/juventude.svg" alt="Everton" class="w-[55px]" />
      </li>
      <li>
        <img src="/assets/team-secret.svg" alt="Billie Jean King Cup" class="w-[101px]" />
      </li>
      <li>
        <img src="/assets/enyimba-fc.svg" alt="Juventude" class="w-[49px]" />
      </li>
      <li>
        <img src="/assets/drake-slide.svg" alt="Team Secret" class="w-[70px]" />
      </li>
      <li>
        <img src="/assets/stake-f1-team-partner-label.svg" alt="Enyimba FC" class="w-[58px]" />
      </li>
      <li>
        <img src="/assets/ufc.BlG4twI0.svg" alt="Drake" class="w-[100px]" />
      </li>
      <li>
        <img src="/assets/everton.svg" alt="Stake F1 Team" class="w-[51px]" />
      </li>
      <li>
        <img src="/assets/billie-jean-king-cup.svg" alt="UFC" class="w-[78px]" />
      </li>
      <li>
        <img src="/assets/juventude.svg" alt="Everton" class="w-[55px]" />
      </li>
      <li>
        <img src="/assets/team-secret.svg" alt="Billie Jean King Cup" class="w-[101px]" />
      </li>
      <li>
        <img src="/assets/enyimba-fc.svg" alt="Juventude" class="w-[49px]" />
      </li>
      <li>
        <img src="/assets/drake-slide.svg" alt="Team Secret" class="w-[70px]" />
      </li>
      <li>
        <img src="/assets/stake-f1-team-partner-label.svg" alt="Enyimba FC" class="w-[58px]" />
      </li>
      <li>
        <img src="/assets/davis-cup.svg" alt="Drake" class="w-[100px]" />
      </li>
    </ul>
  </div>
</section>
<!-- image slider  -->
<!-- thrilling games section  -->
<section class="explore-casino">
  <div class="relative overflow-hidden md:flex flex-col px-4 md:px-8">
    <div class="bg-img-wrapper">
      <img src="/assets/blue-gradient.svg" alt="blue gradient" class="w-full h-full object-cover" />
    </div>
    <div class="max-w-[1200px] relative rounded-lg overflow-hidden md:flex md:py-0 m-auto w-full">
      <div class="inner-contents isolate md:flex flex-col place-content-center py-4 sm:pt-8 xl:pt-4 md:pr-6 w-full">
        <h2 class="thousand-title md:!text-[40.7px] md:leading-[104px] md:max-h-[104px]">
          Thousands of thrilling games. <br />
          Thousands of ways to win big.
        </h2>
        <img layout="constrained" class="mobile-banner-img" src="/assets/mobile-unauth-casino-hero-banner-en.avif"
          alt="casino" loading="lazy" decoding="async" />
        <div class="games-wrapper">
          <div class="game-grid-wrapper">
            <img src="/assets/new-releases-icon.BWnV6JM9.svg" alt="New Releases icon" width="40" />
            <div class="game-text-container">
              <div class="text-inner-element">
                <span class="game-title"> New Releases </span>
              </div>
            </div>
          </div>
          <div class="game-grid-wrapper">
            <img src="/assets/slots-icon.svg" alt="Slots icon" width="40" />
            <div class="game-text-container">
              <div class="text-inner-element">
                <span class="game-title "> Slots </span>
              </div>
            </div>
          </div>
          <div class="game-grid-wrapper">
            <img src="/assets/live-casino-icon.svg" alt="Live Casino icon" width="40" />
            <div class="game-text-container">
              <div class="text-inner-element">
                <span class="game-title"> Live Casino </span>
              </div>
            </div>
          </div>
          <div class="game-grid-wrapper">
            <img src="/assets/table-games-icon.svg" alt="Table Games icon" width="40" />
            <div class="game-text-container">
              <div class="text-inner-element">
                <span class="game-title"> Table Games </span>
              </div>
            </div>
          </div>
        </div>
        <div class="md:w-max w-full">
          <a class="signup-btn !text-[13.8px] cursor-pointer !mt-0">Explore Casino</a>
        </div>
      </div>
      <img src="/assets/unauth-casino-hero-banner-en.avif" alt="casino hero banner" loading="lazy" layout="constrained"
        class="hero-img" />
    </div>
  </div>
</section>
<!-- thrilling games section  -->

<!-- events across section  -->
<section class="explore-casino">
  <div class="relative overflow-hidden md:flex flex-col px-4 md:px-8">
    <div class="bg-img-wrapper">
      <img src="/assets/green-gradient.svg" alt="blue gradient" class="w-full h-full object-cover" />
    </div>
    <div class="max-w-[1200px] relative rounded-lg overflow-hidden md:flex md:py-0 m-auto w-full">
      <div class="inner-contents isolate md:flex flex-col place-content-center py-4 sm:pt-8 xl:pt-4 md:pr-6 w-full">
        <h2 class="thousand-title md:!text-[40.7px] md:leading-[104px] md:max-h-[104px]">
          Watch and bet on the biggest events across sports and beyond
        </h2>
        <img layout="constrained" class="mobile-banner-img" src="/assets/mobile-unauth-sportsbook-hero-banner-en.avif"
          alt="casino" loading="lazy" decoding="async" />
        <div class="games-wrapper">
          <div class="game-grid-wrapper">
            <img src="/assets/soccer.svg" alt="New Releases icon" width="40" />
            <div class="game-text-container">
              <div class="text-inner-element">
                <span class="game-title"> Sports </span>
              </div>
            </div>
          </div>
          <div class="game-grid-wrapper">
            <img src="/assets/gaming-remote.svg" alt="Slots icon" width="40" />
            <div class="game-text-container">
              <div class="text-inner-element">
                <span class="game-title game-title"> Esports </span>
              </div>
            </div>
          </div>
          <div class="game-grid-wrapper">
            <img src="/assets/horse-racing-icon.svg" alt="Live Casino icon" width="40" />
            <div class="game-text-container">
              <div class="text-inner-element">
                <span class="game-title"> Horse Racing </span>
              </div>
            </div>
          </div>
          <div class="game-grid-wrapper">
            <img src="/assets/live-streams-icon.svg" alt="Table Games icon" width="40" />
            <div class="game-text-container">
              <div class="text-inner-element">
                <span class="game-title"> Live Streams </span>
              </div>
            </div>
          </div>
        </div>
        <div class="md:w-max w-full">
          <a class="signup-btn cursor-pointer green-btn !mt-0">Explore Sports </a>
        </div>
      </div>
      <img src="/assets/unauth-sportsbook-hero-banner-en.avif" alt="casino hero banner" loading="lazy"
        layout="constrained" class="hero-img" />
    </div>
  </div>
</section>
<!-- events across section  -->

<!-- odds with up to 99.5% section  -->
<section class="video-section-wrapper">
  <div class="video-main-container">
    <h2 class="thousand-title md:!text-[40.6px]  md:max-h-[104px]">
      Enjoy the best odds with up to 99.5% return-to-player games
    </h2>
    <div class="video-content-wrapper">
      <div class="flex flex-col gap-3">
        <div class="video-items-wrapper">
          <img src="/assets/bonus-icon.svg" alt="Bonus Boosts icon" class="max-w-[40px] h-auto w-full" />
          <div class="ml-4">
            <p class="game-title">Bonus Boosts</p>

            <span class="video-text-details text-left justify-start">Weekly boosts and monthly bonuses mean you’ll get
              rewarded the
              more you play top casino games and bet on your favourite sports.
            </span>

          </div>
          <div class="play-bar">
            <div class="play-bar-progress"></div>
          </div>
        </div>
        <div class="video-items-wrapper playing">
          <img src="/assets/raffle-icon.svg" alt="Raffles &amp; Races icon" class="max-w-[40px]" />
          <div class="ml-4 flex flex-col justify-center">
            <p class="game-title">Raffles &amp; Races</p>
            <div class="play-text show">
              <span class="video-text-details text-left justify-start">
                Get in the draw to win 75K each week. Plus score big on daily
                races.
              </span>
            </div>
          </div>
          <div class="play-bar">
            <div class="play-bar-progress"></div>
          </div>
        </div>
        <div class="video-items-wrapper">
          <img src="/assets/promotion-icon.svg" alt="Promotions icon" class="max-w-[40px]" />
          <div class="ml-4 flex flex-col justify-center">
            <p class="game-title">Promotions</p>
            <div class="play-text">
              <span class="video-text-details text-left justify-start">
                Make the most from our casino promotions and sports betting
                bonuses which are updated weekly.
              </span>
            </div>
          </div>
          <div class="play-bar">
            <div class="play-bar-progress"></div>
          </div>
        </div>
        <div class="video-items-wrapper">
          <img src="/assets/return-icon.svg" alt="High Returns-to-Player (RTP) icon" class="max-w-[40px]" />
          <div class="ml-4 flex flex-col justify-center">
            <p class="game-title">High Returns-to-Player (RTP)</p>
            <div class="play-text">
              <span class="video-text-details justify-start text-left">
                With enhanced RTP percentages, you stand a chance to win big
                every time you play.
              </span>
            </div>
          </div>
          <div class="play-bar">
            <div class="play-bar-progress"></div>
          </div>
        </div>
      </div>
      <div class="video-container">
        <div>
          <video autoplay="" preload="none" poster="https://mediumrare.imgix.net/unauth-rtp-bonuses-en.png"
            playsinline="" class="bonus-video" style="z-index: 5">
            <source src="https://mediumrare-videos.imgix.net/bonus.webm?fm=mp4" type="video/webm" />
            <source src="https://mediumrare-videos.imgix.net/bonus.mp4?fm=mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- odds with up to 99.5% section  -->

<!-- multiple crypto and local currencies section  -->
<section class="w-full">
  <div class="carypto-curruncy">
    <div class="swiper-card-container">
      <div class="swiper-img-container card">
        <img src="/assets/currency-ltc.svg" alt="BTC" loading="lazy" />
      </div>
      <div class="card swiper-img-container card">
        <img src="/assets/currency-btc.svg" alt="ETH" loading="lazy" />
      </div>
      <div class="card swiper-img-container card">
        <img src="/assets/currency-usdt.svg" alt="USDT" loading="lazy" />
      </div>
      <div class="card swiper-img-container card">
        <img src="/assets/currency-eth.svg" alt="LTC" loading="lazy" />
      </div>
    </div>
    <div class="crypto-currency-details">
      <h2 class="crypto-currency-title md:!text-[40.7px]">
        <span class="mb-1">Peace of mind across multiple crypto and local currencies</span>
      </h2>
      <span class="video-text-details">
        Experience safe deposits and instant withdrawals across 20
        cryptocurrencies and 7 local currencies. All with no minimums, flexible
        payment methods and a secure online vault.</span>
      <a class="signup-btn md:!mt-[32px]">Learn more</a>
    </div>
  </div>
</section>
<!-- multiple crypto and local currencies section  -->

<!-- Wager more section  -->
<section class="video-section-wrapper">
  <div class="video-main-container">
    <div class="video-content-wrapper max-md:!flex-col !gap-y-4">
      <div class="crypto-currency-details">
        <h2 class="crypto-currency-title md:text-[40.7px]">
          <span class="mb-1">Wager more and see your rewards grow as a Stake VIP</span>
        </h2>
        <span class="video-text-details">
          Step into a world of unique benefits, personalised service and
          exclusive bonuses, only as a Stake VIP.</span>
        <a class="signup-btn">Become a VIP</a>
      </div>
      <div class="flex flex-col gap-3 md:max-w-[47.9%]">
        <div class="video-items-wrapper">
          <img src="/assets/boost-icon.svg" alt="Bonus Boosts icon" class="max-w-[40px]" />
          <div class="ml-4 flex flex-col justify-center">
            <p class="game-title">Bonuses every week</p>
            <div class="play-text">
              <span class="video-text-details">Every week of each month, you’ll be rewarded with a bonus based
                on your recent games. The more you bet, the higher the bonuses.
              </span>
            </div>
          </div>
        </div>
        <div class="video-items-wrapper playing">
          <img src="/assets/host-icon.svg" alt="Raffles &amp; Races icon" class="max-w-[40px]" />
          <div class="ml-4 flex flex-col justify-center">
            <p class="game-title">Your Own VIP Host</p>
            <div class="play-text show">
              <span class="video-text-details">
                Enjoy exclusive access to a dedicated VIP Host who will support
                and cater to your betting needs.
              </span>
            </div>
          </div>
        </div>
        <div class="video-items-wrapper">
          <img src="/assets/level-up-icon.svg" alt="Promotions icon" class="max-w-[40px]" />
          <div class="ml-4 flex flex-col justify-center">
            <p class="game-title">Level Up Payouts</p>
            <div class="play-text">
              <span class="video-text-details">
                Get paid each time you reach a new level. The higher you go, the
                better the level-ups get.
              </span>
            </div>
          </div>
        </div>
        <div class="video-items-wrapper">
          <img src="/assets/recent-bonuses-icon.svg" alt="High Returns-to-Player (RTP) icon"
            class="max-w-[40px]" />
          <div class="ml-4 flex flex-col justify-center">
            <p class="game-title">Recent Play Bonuses</p>
            <div class="play-text">
              <span class="video-text-details">
                Looking to win back your unsuccessful wagers? Stake offers money
                back on losses every time you level up.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wager more section  -->

<!-- sponsorship and partners section  -->
<section class="sponsorship-partners">
  <h2 class="thousand-title !text-center md:!text-[40.7px]">Meet our sponsorship partners</h2>
  <span class="video-text-details !text-center">
    We proudly sponsor high profile athletes, teams and stars from across the
    globe to help support the passion and excitement of our communities.
  </span>
  <div role="presentation" class="partner-img-container">
    <div class="partner-img-wrapper item group bg-[url('/assets/sponsorship-bg-green.BYTDOzBO.svg')]">
      <div class="partner-main-img-wrapper">
        <img width="1818" height="480" src="/assets/unauth-sponsorship-co-title-partner-en.png"
          alt="Stake F1 Team Kick Sauber" loading="lazy" layout="fixed" class="max-h-full max-w-full" />
      </div>
      <div class="partner-title-container">
        <span class="partner-title"> Stake F1 Team Kick Sauber </span>
      </div>
      <img src="/assets/stake-f1-team-partner-label.svg" alt="Stake F1 Team Kick Sauber" class="partner-logo" />
      <div class="copy">
        <div class="pr-6 hidden lg:block">
          <span class="partner-title !text-left !text-[1.5rem]">Stake F1 Team Kick Sauber</span>
          <div class="h-2"></div>
          <span class="">Stake F1 Team Kick Sauber is a globally recognised motorsport team,
            with Stake sharing the same ambitions of growth and recognition. The
            partnership aims to expand Stake's recognition within the F1
            community and expand opportunities for fan engagement.</span>
        </div>
        <a class="Learn-more">Learn more</a>
      </div>
    </div>
    <div class="partner-img-wrapper item group bg-[url(/assets/sponsorship-bg-red.CvuHUVge.svg)]">
      <div class="partner-main-img-wrapper">
        <img width="1818" height="480" src="/assets/unauth-sponsorship-betting-partner-en.png" alt="UFC" loading="lazy"
          decoding="async" sizes="1818px" layout="fixed" class="max-h-full max-w-full" />
      </div>
      <div class="partner-title-container">
        <span class="partner-title">Official Betting Partner</span>
      </div>
      <img src="/assets/unauth-sponsorship-betting-partner-logo-en.svg" alt="UFC" class="partner-logo" />
      <div class="copy">
        <div class="pr-6 hidden lg:block">
          <span class="partner-title !text-left !text-[1.5rem]">UFC</span>
          <div class="h-2"></div>
          <span class="">Our ground-breaking partnership with the UFC provides an unmatched
            betting experience to fight fans with bet bonuses and exclusive MMA
            content. Our proud UFC ambassadors are champions Israel Adesanya,
            Alex Pereira, Alexandre Pantoja, Alexa Grasso and Jailton
            Almeida.</span>
        </div>
        <a class="Learn-more" href="/sponsorships/ufc" data-sveltekit-reload="off" data-sveltekit-preload-data="off"
          data-sveltekit-noscroll="off" data-analytics="unauth-homepage-sponsorships-ufc">Learn more</a>
      </div>
    </div>
    <div class="partner-img-wrapper item group bg-[url('/assets/sponsorship-bg-blue.DxmQOpu9.svg')]">
      <div class="partner-main-img-wrapper">
        <img width="1818" height="480" src="/assets/unauth-sponsorship-main-partner-en.png" alt="Everton Football Club"
          loading="lazy" layout="fixed" class="max-h-full max-w-full" />
      </div>
      <div class="partner-title-container">
        <span class="partner-title">Main Partner</span>
      </div>
      <img src="/assets/everton.svg" alt="Everton Football Club" class="partner-logo" />
      <div class="copy">
        <div class="pr-6 hidden lg:block">
          <span class="partner-title !text-left !text-[1.5rem]">Everton Football Club</span>
          <div class="h-2"></div>
          <span class="">Stake is proud to be the main betting partner of Everton Football
            Club. With nine top-flight English titles, five FA Cups and a
            European Cup Winners’ Cup, Everton is an iconic team in the game.
            Fans can access behind-the-scenes content, matchday giveaways &amp;
            world-class football betting options</span>
        </div>
        <a class="Learn-more">Learn more</a>
      </div>
    </div>
  </div>
</section>
<!-- sponsorship and partners section  -->

<!-- help team section  -->
<section class="video-section-wrapper">
  <div class="video-main-container">
    <div class="video-content-wrapper max-md:!flex-col !gap-y-4">
      <div class="crypto-currency-details !max-w-[568px]">
        <h2 class="crypto-currency-title md:!text-[40.5px]">
          <span class="mb-1">Our help team speaks your language</span>
        </h2>
        <span class="video-text-details">
          Get 24/7 support from our live customer support team in your native
          language.
        </span>
      </div>
      <img src="/assets/support-image.svg" alt="support conversation" class="help-img" width="100%" />
    </div>
  </div>
</section>
<!-- help team section  -->
<!-- table section  -->
<section class="table-container">
  <div class="max-w-[1200px] m-auto">
    <div class="flex flex-col gap-2 items-center">
      <h2 class="crypto-currency-title max-md:!leading-[1] !text-center max-md:!text-start md:!text-[40.7px]">
        Watch the betting action happening right now
      </h2>
      <span class="text-[#fff]">Check out the live bets on popular casino games and sports to discover
        how much you could win.</span>
    </div>
    <div>
      <div class="w-fit py-6 m-auto">
        <app-tab-slider [arrItem]="tabsItems"></app-tab-slider>
      </div>
      <div data-layout="true" data-analytics="home-bets-board"
        class="stack x-stretch y-center gap-smaller padding-none direction-vertical padding-left-auto padding-top-auto padding-bottom-auto padding-right-auto svelte-1cd1boi"
        style="width: 100%">
        <div class="tabs svelte-nasyl7">
          <div
            class="stack x-space-between y-center gap-small padding-none direction-horizontal padding-left-auto padding-top-auto padding-bottom-auto padding-right-auto stretch svelte-1cd1boi">
          </div>
        </div>
        <div>
          <div class="table-wrapper">
            <table class="table-content">
              <thead>
                <tr class="table-row">
                  <th class="table-heading text-left t-head">
                    <span>Game</span>
                  </th>
                  <th class="table-heading t-head max-md:hidden">
                    <span>User</span>
                  </th>
                  <th class="table-heading t-head max-md:hidden">
                    <span>Time</span>
                  </th>
                  <th class="table-heading t-head max-md:hidden">
                    <span>Bet Amount</span>
                  </th>
                  <th class="table-heading t-head max-md:hidden">
                    <span class="flex items-center h-[1.7em]">Multiplier</span>
                  </th>
                  <th class="table-heading t-head">Payout</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr class="table-row bg-[#213743]">
                  <td class="t-data">
                    <button type="button"
                      class="inline-flex text-center relative items-center gap-2 justify-center rounded-sm">
                      <svg fill="currentColor" viewBox="0 0 96 96" class="svg-icon text-[rgb(177,186,211)]">
                        <title></title>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M56.8 47.08a49.761 49.761 0 0 0-5.6 22.8v5H32.32a55.56 55.56 0 0 1 5-22.76A86.916 86.916 0 0 1 50.8 31h-28V16.36H72v7.76a133.838 133.838 0 0 0-15.2 22.96Zm26.4 16.24a30.56 30.56 0 0 0-6 13.04l-.6 3L60 76.32a38.12 38.12 0 0 1 13.36-22.28l-12-2.36 5.04-10.64L96 46.88l-.92 4.64a85.487 85.487 0 0 0-11.88 11.8Zm-58.52 9.32a30.08 30.08 0 0 1 0-14.36 79.675 79.675 0 0 1 5.8-15.84l-1.12-4.6L0 44.88v11.68l12-2.84a37.88 37.88 0 0 0-2.88 25.92l16.28-4-.72-3Z">
                        </path>
                      </svg>
                      <span class="truncate text-left text-[#ffffff] t-data">Gates of Olympus 1000</span>
                    </button>
                  </td>
                  <td class="max-md:hidden">
                    <div class="">
                      <div class="flex gap-1 items-center w-full justify-center">
                        <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon text-[rgb(177,186,211)]">
                          <title></title>
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M42.05 8.613c2.815 0 5.192 1.879 5.955 4.494l3.64 12.792H12.253l3.64-12.792.01-.044a6.197 6.197 0 0 1 5.944-4.45H42.05ZM61.488 30.77H2.461a2.461 2.461 0 0 0 0 4.921c8.873 1.271 19.12 1.997 29.539 1.997s20.664-.726 30.696-2.131l-.598.068a2.461 2.461 0 0 0-.56-4.858l-.05.003ZM33.484 43.074h-3.05c-6.335-1.515-13.677-1.22-21.547 0v2.501l3.05.58s0 9.233 9.233 9.233c6.223 0 8.247-5.583 8.908-9.233h3.721c.661 3.65 2.685 9.233 8.908 9.233 9.233 0 9.233-9.233 9.233-9.233l3.05-.58v-2.501c-7.718-1.24-15.008-1.485-21.506 0Z">
                          </path>
                        </svg>
                        <span class="truncate"><span
                            class="weight-semibold line-height-default is-inline align-left size-default text-size-default variant-subtle with-icon-space svelte-17v69ua"><span
                              class="t-data text-[#ffffff]">Hidden</span></span></span>
                      </div>
                    </div>
                  </td>
                  <td class="max-md:hidden t-data text-[#b1bad3]">3:56 PM</td>
                  <td class="max-md:hidden">
                    <div class="currency svelte-141qgpc">
                      <span class="content svelte-141qgpc"><span class="t-data text-[#b1bad3]"
                          style="max-width: 12ch">353.74766093</span></span>
                      <span
                        class="weight-normal line-height-default align-left size-default text-size-default variant-subtle is-truncate svelte-17v69ua"
                        title="trx" style="max-width: 12ch"><svg fill="none" viewBox="0 0 96 96" class="svg-icon ml-1">
                          <title></title>
                          <path
                            d="M95.895 48.105C95.895 74.557 74.452 96 48 96S.105 74.556.105 48.105C.105 21.653 21.548.21 48 .21s47.895 21.443 47.895 47.895Z"
                            fill="#EB0A29"></path>
                          <path
                            d="M19.065 21a14.2 14.2 0 0 0 2.22.457l.075.008 45.645 8.355c.235.03.441.134.6.285l12.06 11.475c.195.18.225.285 0 .51-3.36 4.07-6.71 8.145-10.05 12.225L50.82 77.28l-6.21 7.5-.195.21-1.005-2.49c-3.89-9.76-7.77-19.52-11.64-29.28-4.18-10.55-8.385-21.115-12.615-31.695a2.86 2.86 0 0 1-.161-.505L18.99 21h.075Zm25.2 54.495h.09c.165-1.5.345-3 .525-4.5.345-2.775.675-5.535 1.02-8.31.3-2.55.6-5.1.915-7.65.315-2.55.615-5.13.93-7.695a.599.599 0 0 0-.253-.629h-.002L25.83 28.694h-.075l18.51 46.8Zm3.48.18 25.635-31.23h-.345L63 46.305l-11.685 2.1c-.3 0-.375.195-.405.465 0 .825-.18 1.62-.285 2.43-.33 2.775-.675 5.55-1.005 8.325a1942.5 1942.5 0 0 1-.93 7.695l-.945 8.355Zm-19.5-49.5v.09l2.55 2.235 18.195 15a.434.434 0 0 0 .69.001V43.5c3.84-3.22 7.69-6.435 11.55-9.645l1.59-1.32-34.575-6.36ZM53.85 44.46c.45 0 19.5-3.435 19.995-3.6 0 0 0-.105-.105-.15a686.293 686.293 0 0 1-6.825-6.495c-.315-.3-.465-.255-.765 0-2.85 2.4-5.73 4.785-8.595 7.17-1.2 1.005-2.415 2.01-3.705 3.075Z"
                            fill="#fff"></path>
                        </svg></span>
                    </div>
                  </td>
                  <td class="max-md:hidden t-data text-[#b1bad3]">
                    <span>0.93×</span>
                  </td>
                  <td>
                    <div>
                      <span><span class="t-data text-[rgb(0,231,1)]" style="max-width: 12ch">-24.58546243</span></span>
                      <span style="max-width: 12ch"><svg fill="none" viewBox="0 0 96 96" class="svg-icon ml-1">
                          <title></title>
                          <path
                            d="M95.895 48.105C95.895 74.557 74.452 96 48 96S.105 74.556.105 48.105C.105 21.653 21.548.21 48 .21s47.895 21.443 47.895 47.895Z"
                            fill="#EB0A29"></path>
                          <path
                            d="M19.065 21a14.2 14.2 0 0 0 2.22.457l.075.008 45.645 8.355c.235.03.441.134.6.285l12.06 11.475c.195.18.225.285 0 .51-3.36 4.07-6.71 8.145-10.05 12.225L50.82 77.28l-6.21 7.5-.195.21-1.005-2.49c-3.89-9.76-7.77-19.52-11.64-29.28-4.18-10.55-8.385-21.115-12.615-31.695a2.86 2.86 0 0 1-.161-.505L18.99 21h.075Zm25.2 54.495h.09c.165-1.5.345-3 .525-4.5.345-2.775.675-5.535 1.02-8.31.3-2.55.6-5.1.915-7.65.315-2.55.615-5.13.93-7.695a.599.599 0 0 0-.253-.629h-.002L25.83 28.694h-.075l18.51 46.8Zm3.48.18 25.635-31.23h-.345L63 46.305l-11.685 2.1c-.3 0-.375.195-.405.465 0 .825-.18 1.62-.285 2.43-.33 2.775-.675 5.55-1.005 8.325a1942.5 1942.5 0 0 1-.93 7.695l-.945 8.355Zm-19.5-49.5v.09l2.55 2.235 18.195 15a.434.434 0 0 0 .69.001V43.5c3.84-3.22 7.69-6.435 11.55-9.645l1.59-1.32-34.575-6.36ZM53.85 44.46c.45 0 19.5-3.435 19.995-3.6 0 0 0-.105-.105-.15a686.293 686.293 0 0 1-6.825-6.495c-.315-.3-.465-.255-.765 0-2.85 2.4-5.73 4.785-8.595 7.17-1.2 1.005-2.415 2.01-3.705 3.075Z"
                            fill="#fff"></path>
                        </svg></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- table section  -->
<!-- Share your excitement section  -->
<section class="video-section-wrapper md:!py-[32px]">
  <div class="video-main-container">
    <div class="video-content-wrapper max-md:!flex-col-reverse !gap-y-4">
      <div class="share-img-wrapper ">
        <img src="/assets/unauth-stake-community-en.png" width="100%" alt="Stake community" loading="lazy"
          decoding="async" />
      </div>
      <div class="crypto-currency-details !gap-0 md:min-w-[46.2%]">
        <h2 class="crypto-currency-title md:!text-[40.7px] ">
          <span class="mb-1 max-md:mb-0">Share your excitement with a thriving community</span>
        </h2>
        <span class="video-text-details !text-[14px]">
          From beginners and casual players to high rollers and expert players,
          our community love to support one another. Get tips and tricks through
          our online chat, forums and more.
        </span>
        <a class="signup-btn  md:!text-[15.7px] md:!min-h-[48px]">Join the community</a>
      </div>
    </div>
  </div>
</section>
<!-- Share your excitement section  -->
<!-- Still have questions? section  -->
<section class="video-section-wrapper !bg-[#1A2C38]">
  <div class="video-main-container">
    <div class="video-content-wrapper max-md:!flex-col !gap-y-4">
      <div class="crypto-currency-details max-md:!mb-0 md:min-w-[47.2%]">
        <h2 class="crypto-currency-title">
          <span class="mb-1 md:text-[40.5px]">Still have questions?</span>
        </h2>
        <div class="inline-flex max-md:!hidden">
          <a class="signup-btn !text-[13.9px] ">Read our guides</a>
        </div>
      </div>
      <div class="dropdowns-main-container">
        <div class="dropdowns-container">
          <div class="dropdown-header" (click)="dropdown('stake')">
            <div class="dropdown-tiltle">
              <p class="text-white text-left font-bold text-[14.2px] leading-6">
                Who is Stake?
              </p>
            </div>
            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon"
              [ngClass]="{ '!rotate-0': dropdownState === 'stake' }">
              <title></title>
              <path
                d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
              </path>
            </svg>
          </div>
          @if (dropdownState === 'stake') {
          <div class="main-content-wrapper">
            <div class="p-4">
              <div class="dropdown-content-container">
                <p class="dropdown-content">
                  Leading the online gambling industry since 2017, Stake.com
                  offers a wide variety of online casino and sports betting
                  options, operating globally in 15 different languages.
                </p>
                <p class="dropdown-content mt-[.75rem]">
                  With a reputable and secure platform, Stake Casino is home to
                  worldwide local currencies and crypto betting options for
                  online slot games, Stake Originals and live casino games.
                  Stake Sportsbook offers unbeatable odds on all major sporting
                  events including a range of eSport leagues.
                </p>
                <p class="dropdown-content mt-[.75rem]">
                  We host regular bet bonuses and promotions and offer an
                  exclusive VIP Club experience - all with a simple-to-use
                  deposit process on our licensed platform.
                </p>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="dropdowns-container">
          <div class="dropdown-header" (click)="dropdown('licensed')">
            <div class="dropdown-tiltle">
              <p class="text-white text-left font-bold text-[14.2px] leading-6">
                Is Stake licensed?
              </p>
            </div>
            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon"
              [ngClass]="{ '!rotate-0': dropdownState === 'licensed' }">
              <title></title>
              <path
                d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
              </path>
            </svg>
          </div>
          @if (dropdownState === 'licensed') {
          <div class="main-content-wrapper">
            <div class="p-4">
              <div class="dropdown-content-container">
                <p class="dropdown-content">
                  Stake.com is licensed by gaming authorities in Curacao,
                  providing a safe and secure betting platform. Stake is
                  operated by Medium Rare N.V. under the Certificate of
                  Operation (Application no. OGL/2024/1451/0918) issued by the
                  Curaçao Gaming Control Board, which is authorised and
                  regulated by the Government of Curaçao.
                </p>
                <p class="dropdown-content mt-[.75rem]">
                  Stake is a Crypto Gambling Foundation verified operator with
                  strong policies around Anti-Money Laundering. Stake promotes
                  responsible gambling with a robust self-exclusion policy and
                  various Stake Smart resources.
                </p>
              </div>
            </div>
          </div>
          }
        </div>

        <div class="dropdowns-container">
          <div class="dropdown-header" (click)="dropdown('betting')">
            <div class="dropdown-tiltle">
              <p class="text-white text-left font-bold text-[14.2px] leading-6">
                Is betting on Stake safe?
              </p>
            </div>
            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon"
              [ngClass]="{ '!rotate-0': dropdownState === 'betting' }">
              <title></title>
              <path
                d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
              </path>
            </svg>
          </div>
          @if (dropdownState === 'betting') {
          <div class="main-content-wrapper">
            <div class="p-4">
              <div class="dropdown-content-container">
                <p class="dropdown-content">
                  Stake is committed to providing a safe environment for our
                  community. We pride ourselves in offering the most up to date
                  and accessible smarter gambling resources. Our responsible
                  gambling guidelines paired with our monthly budget calculator
                  have been developed to help our players set appropriate
                  betting limits.
                </p>
                <p class="dropdown-content mt-[.75rem]">
                  When betting with local and crypto currencies, players can be
                  sure their funds are securely stored using our Stake Vault
                  feature.
                </p>
              </div>
            </div>
          </div>
          }
        </div>

        <div class="dropdowns-container">
          <div class="dropdown-header" (click)="dropdown('currencies')">
            <div class="dropdown-tiltle">
              <p class="text-white text-left font-bold text-[14.2px] leading-6">
                What currencies can I bet with?
              </p>
            </div>
            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon"
              [ngClass]="{ '!rotate-0': dropdownState === 'currencies' }">
              <title></title>
              <path
                d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
              </path>
            </svg>
          </div>
          @if (dropdownState === 'currencies') {
          <div class="main-content-wrapper">
            <div class="p-4">
              <div class="dropdown-content-container">
                <p class="dropdown-content">
                  Alongside supporting local currencies, Stake.com is the
                  world’s leading cryptocurrency casino and sportsbook,
                  supporting 20 cryptocurrencies from Bitcoin (BTC) to Polygon
                  (MATIC). Discover the complete list of supported crypto at
                  Stake.com for more details.
                </p>
              </div>
            </div>
          </div>
          }
        </div>

        <div class="dropdowns-container">
          <div class="dropdown-header" (click)="dropdown('casino')">
            <div class="dropdown-tiltle">
              <p class="text-white text-left font-bold text-[14.2px] leading-6">
                What types of casino games can I play?
              </p>
            </div>
            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon"
              [ngClass]="{ '!rotate-0': dropdownState === 'casino' }">
              <title></title>
              <path
                d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
              </path>
            </svg>
          </div>
          @if (dropdownState === 'casino') {
          <div class="main-content-wrapper">
            <div class="p-4">
              <div class="dropdown-content-container">
                <p class="dropdown-content">
                  Browse our wide variety of popular casino games and enjoy a
                  fair and fun online gaming experience. Stake's online casino
                  platform features a range of game categories including slot
                  games, live casino games, Stake Originals and many classics
                  like Blackjack, Roulette, Poker, and Baccarat, right from your
                  browser. Stake brings you the best gameplay from esteemed
                  iGaming providers like Pragmatic Play, Hacksaw Gaming, Twist
                  Gaming and Evolution Gaming.
                </p>
              </div>
            </div>
          </div>
          }
        </div>

        <div class="dropdowns-container">
          <div class="dropdown-header" (click)="dropdown('sports')">
            <div class="dropdown-tiltle">
              <p class="text-white text-left font-bold text-[14.2px] leading-6">
                What sports can I bet on?
              </p>
            </div>
            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon"
              [ngClass]="{ '!rotate-0': dropdownState === 'sports' }">
              <title></title>
              <path
                d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
              </path>
            </svg>
          </div>
          @if (dropdownState === 'sports') {
          <div class="main-content-wrapper">
            <div class="p-4">
              <div class="dropdown-content-container">
                <p class="dropdown-content">
                  From major football and basketball leagues to Dota 2 and CS:GO
                  action, we cover all bases for sports and eSports markets. We
                  offer industry leading odds and tailored betting resources
                  including expert picks and predictions on our Stake News Blog.
                </p>
                <p class="dropdown-content mt-[.75rem]">
                  You can bet on all major upcoming sporting events, place live
                  bets and live stream all the biggest sporting events for free
                  on Stake Sportsbook.
                </p>
              </div>
            </div>
          </div>
          }
        </div>

        <div class="dropdowns-container">
          <div class="dropdown-header" (click)="dropdown('streams')">
            <div class="dropdown-tiltle">
              <p class="text-white text-left font-bold text-[14.2px] leading-6">
                How do I watch live streams?
              </p>
            </div>
            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon"
              [ngClass]="{ '!rotate-0': dropdownState === 'streams' }">
              <title></title>
              <path
                d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z">
              </path>
            </svg>
          </div>
          @if (dropdownState === 'streams') {
          <div class="main-content-wrapper">
            <div class="p-4">
              <div class="dropdown-content-container">
                <p class="dropdown-content">
                  Stake.com is the perfect place for official sports streams,
                  with comprehensive coverage of most popular sporting events
                  and major tournaments, from tennis matches to MMA fights.
                </p>
                <p class="dropdown-content mt-[.75rem]">
                  To live stream the latest sporting events, click on the live
                  stream icon next to the event on Stake Sportsbook. For full
                  details, check out our comprehensive guide to live streaming
                  your favourite sports on Stake.com.
                </p>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="inline-flex md:!hidden">
          <a class="signup-btn !text-[13.9px] max-md:!mt-4">Read our guides</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Still have questions? section  -->