/* Tabs */
.tabs-wrapper {
  @apply flex mt-6;
}

.tab-slider {
  @apply bg-[#0f212e] flex rounded-[3rem] p-[5px] flex-shrink-0;
}

.tab-item {
  @apply inline-flex cursor-pointer relative items-center gap-2 justify-center whitespace-nowrap pl-5  px-4 py-[15px] font-semibold text-[.875rem] rounded-full bg-[rgb(47,69,83)] transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white text-sm leading-none [&:hover>svg]:text-white [&_svg]:!text-gray-200;
}

.tab-item span {
  @apply text-white;
}

.page-content {
  @apply flex flex-col w-full overflow-x-hidden mt-6;
}

.active,
.tab-item:hover {
  @apply bg-[#2f4553] text-white;
}

/* Table topbar */
.bubble-wrap {
  @apply mt-[1px];
}
.scale-up {
  @apply absolute size-2 rounded-[50%] bg-[#1fff20] [transform:translate(-50%,-50%)scale(1)];
  animation: ScaleUp 0.2s ease-out;
}

@keyframes ScaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
}
