<div
  class="card "
  
>
  <div
    class="layout-spacing "
    
  >
    <div class="section-list " >
      <section class="section-svelte ">
        <div class="px-6" >
          <h3
            class="title"
          
          >
            Self Exclusion
          </h3>
        </div>
        <div class="section-content" >
          <p
            class="span-text"
          
          >
            Need a break from Stake.com? To start the automated self exclusion
            process, please click the button below to receive confirmation
            instructions via email.
          </p>
          <div class="system-message" >
            <svg
              fill="currentColor"
              viewBox="0 0 64 64"
              class="svg-icon my-[3px] ml-[4px]"
              
            >
              <title></title>
              <path
                d="M32 0C14.326 0 0 14.326 0 32s14.326 32 32 32 32-14.326 32-32S49.674 0 32 0Zm5.24 51.68H26.76v-21h10.48v21ZM32 24.56a6.12 6.12 0 1 1 6.12-6.12v.04a6.08 6.08 0 0 1-6.08 6.08h-.042H32Z"
              ></path>
            </svg>
            <div
              class="content-container"
              
            >
              <div class=" flex flex-col" >
                <span
                  class="msg-text"
                
                  >You must have a verified email before you can initiate self
                  exclusion.</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="section-footer" >
          <span
            class="more-text"
            
            >Learn more about
            <a
              class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
              href="/policies/self-exclusion"
            
              >Self Exclusion
            </a></span
          >
          <button
            type="button"
            
            class="inline-flex bg-[rgb(47,69,83)] relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-grey-400 text-white betterhover:hover:bg-grey-300 betterhover:hover:text-white focus-visible:outline-white text-sm leading-none shadow-md py-[0.9375rem] px-[1.25rem]"
            disabled=""
            
          >
            <div data-loader-content="" class="contents" >
              Request Self Exclusion
            </div>
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
