.Modal-container{
    @apply  block fixed top-0 left-0 z-[1055] w-full h-full overflow-x-hidden overflow-y-auto outline-0;
   
   
    transition: opacity .15s linear;
}
    
    .modal-dialog {
        @apply transform-none max-w-[500px]  m-2  relative w-auto pointer-events-none ;
        transition: transform .3s ease-out;
    
    }
    
    @media (min-width: 576px) {
        .modal-dialog {
            @apply min-h-[calc(100%-3.5rem)] my-7 mx-auto
            /* min-height: calc(100% - 3.5rem); */
        }
    }
    @media (min-width: 576px) {
        .modal-dialog-centered {
            min-height: calc(100% - 3.5rem);
        }
    }
    
    .modal-dialog-centered {
        @apply flex items-center min-h-[calc(100%-1rem)]
      
    }

.modal-content {
    @apply bg-[#1a2c38] rounded-lg overflow-hidden border-none relative flex flex-col w-full pointer-events-auto outline-0;
    background-clip: padding-box; 
   
}
.modal-body {
    @apply p-0  relative flex-auto
}
.row2 {
    @apply flex flex-wrap relative flex-auto mx-[calc(-.5*(1.5rem))]
}
.col12 {
    @apply flex-auto w-full max-w-full px-[calc((0).5)] mt-0
  
}
 .form_block_right {
    @apply !p-[2rem]
  
} 
.header_block {
    @apply  flex items-center justify-between mb-6 relative 
  
}
.header_text {
    @apply     font-semibold text-lg text-[#fff] m-0 flex-1 text-center
  
}
.btn-close {
    @apply   w-[32px] h-[32px] rounded-lg p-[6px] opacity-100 bg-none flex items-center justify-center absolute right-0 cursor-pointer  border-none transform-none m-0 text-gray-400
  
}
.btn-close svg {
    width: 20px;
    height: 20px;
    fill: #9ca3af;
}
.step_text {
    @apply text-[1rem] text-center font-semibold text-[#b1bad3]
 
}
.input_block {
    @apply mb-4
   
}
.form-label {
    @apply text-[15px] text-[#b1bad3] font-semibold block mb-[5px]
   
}
.form-label-span {
@apply text-[rgb(255,0,0)] ml-[3px]
    
}
.form-control{
    @apply h-10 text-sm  !bg-[#1A2C38] rounded-[0.25rem] border-[2px] w-full py-[6px] px-3 font-normal border-solid border-[#2F4553] appearance-none ;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.eye_icon {
    @apply absolute top-[50%] right-[15px] text-[#b1bad3] underline ;
    transform: translateY(-50%);

    
}
.eye_icon-svg {
    @apply h-5 w-5 fill-[#b1bad3]
 
}
.btn-primary {
    @apply w-full font-semibold text-[1rem] text-center text-[#05080a] border rounded-[5px] mt-[8px] h-[52px] bg-[#00e701] py-[6px] px-3  transform-none cursor-pointer no-underline  align-middle select-none ;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
 }
 .or_block {
    @apply text-[#b1bad3] max-w-[200px] w-full flex items-center m-auto mt-[10px]
  
}
.or_block::before{ 
    @apply h-[1px] bg-[#2f4553] flex-1;
    content: "";
    display: inline-flex;
    
}
.or_block::after {
    content: "";
    display: inline-flex;
    height: 1px;
    background: #2f4553;
    flex: 1;
}
.forgot_link {
    @apply block text-[.875rem] text-[#fff] no-underline text-center font-semibold my-4 mx-0
}
.distext {
    @apply text-[#b1bad3] font-light text-[.875rem] text-center mt-3
}