<div
  
  
  class="Modal-container"
 
>
  <div
    
    class="modal-dialog modal-dialog-centered"
    
  >
    <div
      
      class="modal-content"
      
    >
      <div  class="modal-body" >
        <div  class="row2" >
          <div  class="col12" >
            <div
              
              class="form_block_right"
              
            >
              <div
                
                class="header_block"
                
              >
                <h3 class="header_text" >Create an Account</h3>
                <button
                  
                  type="button"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  class="btn-close"
                >
                <img    style=" width: 20px;
    height: 20px;
    fill: #9ca3af;" src="/login/download.svg"/>
                  <!-- <svg >
                    <use
                      
                      xlink:href="#close_icon"
                    ></use>
                  </svg> -->
                </button>
              </div>
              <div
                
                class="step_text  "
                
              >
                Step 1/2: Fill out your details
              </div>
              <form
                
               
                class=""
              >
                <div
                  
                  class="input_block"
                  
                >
                  <label  class="form-label"
                    >Email<span  class="form-label-span">*</span></label
                  ><input
                    
                    formcontrolname="email"
                    type="text"
                    placeholder=""
                    class="form-control "
                  />
                </div>
                <div
                  
                  class="input_block"
                  
                >
                  <label  class="form-label"
                    >Username<span class="form-label-span" >*</span></label
                  ><input
                    
                    formcontrolname="user_name"
                    type="text"
                    placeholder=""
                    class="form-control !bg-[#1A2C38] "
                  /><span  class="small_text  text-[rgb(177,186,211)]"
                    >Your username must be 3-14 characters long.</span
                  ><!---->
                </div>
                <div
                  
                  class="input_block"
                  
                >
                  <label  class="form-label"
                    >Password<span class="form-label-span" >*</span></label
                  >
                  <div
                    
                    class="position-relative"
                    
                  >
                    <input
                      
                      formcontrolname="password"
                      placeholder=""
                      class="form-control "
                      type="password"
                    /><a
                      
                      href="javascript:void(0)"
                      class="eye_icon"
                      ><svg >
                        <use
                          
                          xlink:href="#eye_icon"
                        ></use></svg></a
                    ><!---->
                  </div>
                </div>
                <div
                  
                  class="input_block"
                  
                >
                  <label  class="form-label"
                    >Confirm Password<span  class="form-label-span"
                      >*</span
                    ></label
                  >
                  <div
                    
                    class="position-relative"
                    
                  >
                    <input
                      
                      formcontrolname="confirm_password"
                      placeholder=""
                      class="form-control "
                      type="password"
                    /><a
                      
                      href="javascript:void(0)"
                      class="eye_icon"
                      ><svg >
                        <use
                          
                          xlink:href="#eye_icon"
                        ></use></svg></a
                    ><!---->
                  </div>
                </div>
                <div
                  
                  class="input_block"
                  
                >
                  <label  class="form-label"
                    >Mobile<span class="form-label-span" >*</span></label
                  >
                  <div
                    
                    class="position-relative"
                    
                  >
                    <input
                      
                      formcontrolname="mobile"
                      type="text"
                      placeholder=""
                      class="form-control "
                    /><!---->
                  </div>
                </div>
                <div
                  
                  class="input_block"
                  
                >
                  <label  class="form-label"
                    >Refral Code<span  class="form-label-span"
                      >*</span
                    ></label
                  >
                  <div
                    
                    class="position-relative"
                    
                  >
                    <input
                      
                      formcontrolname="referal_code"
                      type="text"
                      placeholder=""
                      class="form-control "
                    />
                  </div>
                </div>
              </form>
              <div
                
                class=" mt-4"
                
              >
                <button
                  
                  type="submit"
                  class="btn btn-primary"
                >
                  Continue
                </button>
              </div>
              <div
                
                class="or_block"
                
              >
                <span ></span>
              </div>
              <div
                
                class="distext"
                
              >
                <span 
                  >Already have an account?
                  <a  class="text-[#fff] font-semibold text-[.875rem] no-underline cursor-pointer "  href="javascript:void(0)"
                    >Sign In</a
                  ></span
                >
              </div>
              <!----><!----><!---->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
