<div id="svelte" class="">
  <div class="Modal-container">
    <div class="svelte-syudie"></div>
    <div class="card-svelte">
      <div class="ctainer-div">
        <div>
          <div class="wrap-normal">
            <img class="wrap-normal-svg" src="/login/white.png" />
          </div>
        </div>
        <button
          type="button"
          tabindex="0"
          class="inline-flex relative items-center gap-2 justify-center font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-grey-900 betterhover:hover:text-white focus-visible:outline-white text-xs leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white py-[0.75rem] px-[0.75rem] rounded-full"
          data-test="exit-registration"
          data-analytics="exit-registration"
          data-button-root=""
        >
          Exit
        </button>
      </div>

      <div class="content-svelte">
        <div class="modal-content">
          <div class="contenttop">
            <div
              class="ctainer "
              
            >
              <div
                class="stack "
                
               
              >
                <div
                  class="step-active"
                  
                ></div>
                <div class="step-svelte" ></div>
                <div class="step-svelte" ></div>
              </div>
              <div
                class="stack-padding"
                
             
              >
                <span
                  class="step-text"
                 
                  >Step 1 / 3</span
                >
              </div>
            </div>
            <h2
              class="select-language"
             
            >
              Select your preferred language
            </h2>
            <span
              class="select-language-span"
        
              >Stake is available is several languages. Feel free to personalise
              your language across our site from the options below.</span
            >
            <label class="labelstacked">
              <div class="select-wrap" >
                <div class="select-content" >
                  <select
                    class="select-spacing"
                    data-test="select-language"
                  >
                    <option value="en">English</option>
                    <option value="es">Español</option>
                    <option value="ja">日本語</option>
                    <option value="zh">中文</option>
                    <option value="pt">Português</option>
                    <option value="ru">Русский</option>
                    <option value="fr">Français</option>
                    <option value="de">Deutsch</option>
                    <option value="hi">हिंदी</option>
                    <option value="id">Bahasa Indonesia</option>
                    <option value="ko">한국어</option>
                    <option value="pl">Polski</option>
                    <option value="tr">Türkçe</option>
                    <option value="vi">Tiếng Việt</option>
                    <option value="fi">Suomen</option>
                    <option value="ar">اَلْعَرَبِيَّةُ</option>
                  </select>
                  <div
                    class="dropdown-icon-wrap"
                    
                  >
                    <svg
                      fill="currentColor"
                      viewBox="0 0 64 64"
                      class="svg-icon-dropdown"
                     
                    >
                      <title></title>
                      <path
                        d="M32.271 49.763 9.201 26.692l6.928-6.93 16.145 16.145 16.144-16.144 6.93 6.929-23.072 23.07h-.005Z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </label>
            <div class="flex flex-col justify-end h-full" >
              <button
                type="button"
                tabindex="0"
                class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-blue-500 text-white betterhover:hover:bg-blue-600 betterhover:hover:text-white focus-visible:outline-white text-base leading-none shadow-md py-[1.125rem] px-[1.75rem]"
                data-analytics="register-language-confirm-button"
                data-test="register-language"
                data-button-root=""
              >
                <div
                  data-loader-content=""
                  class="contents"
                  
                >
                  Confirm
                </div>
              </button>
            </div>
            <div
              class="flex flex-col justify-end gap-3"
              data-content=""
              
            >
              <span
                class=" text-[#b1bad3]  text-center font-normal text-sm touch-auto"
               
                >Already have an account?
                <button
                  type="button"
                  tabindex="0"
                  class="inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap ring-offset-background transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white betterhover:hover:bg-transparent betterhover:hover:text-white focus-visible:outline-none text-sm leading-none [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
                  data-button-root=""
                >
                  Sign In
                </button></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
