.Modal-container{
    @apply  fixed left-0 z-[1500] top-0 bottom-0 right-0  p-[1rem] justify-center flex items-center text-sm;
   
}
.svelte-syudie{
    @apply   absolute  left-0 top-0 bottom-0 right-0  touch-none bg-[rgba(0,0,0,0.75)]
    
}
.ctainer-div{
    @apply flex  bg-[#1a2c38] justify-between items-center min-h-[60px] py-0 px-4;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
}

.card-svelte{
    @apply  max-w-[630px] border-[rgb(26,44,56)] h-full max-h-[716px] border  rounded-lg [background-position:center] relative w-full min-w-[200px]  flex flex-col bg-[#1a2c38]  text-[#b1bad3]  overflow-hidden
     
}
.ctainer{
    @apply bg-[#0f212e] flex flex-col sticky top-0 z-[1] gap-2 touch-auto pt-2
}
.stack{
    @apply p-0 gap-1 items-start justify-stretch [grid-auto-flow:column] grid touch-auto;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
}
.step-active{
    @apply bg-[#00e701] h-1 touch-auto
}
.step-svelte{
    @apply h-1 bg-[#2f4553]  touch-auto
}
.stack-padding{
    @apply h-6 p-0 gap-2 items-center justify-end  [grid-auto-flow:column] grid touch-auto;
    
}
.step-text{
    @apply text-[#b1bad3] text-left justify-start text-xs font-normal touch-auto inline-flex items-center
}
.select-language{
    @apply text-[#fff] text-left justify-start text-[1.5rem] font-bold touch-auto inline-flex items-center
}
.select-language-span{
    @apply text-[#b1bad3] text-left justify-start text-sm font-normal touch-auto inline-flex items-center
}
.labelstacked
{
    @apply  flex-col-reverse items-start w-full inline-flex touch-auto relative
     
}
.select-wrap{
    @apply  w-full flex  shrink-0 touch-auto
}
.select-content{
    @apply relative flex-grow w-full flex touch-auto
}
.select-spacing{
    @apply py-[7px] pl-[7px] pr-[28px] w-full text-[#fff] bg-[#0f212e]  border-[2px] rounded-[0.25rem] font-semibold outline-none border-[rgb(47,69,83)]  cursor-pointer appearance-none text-sm touch-auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .12);
}
.dropdown-icon-wrap{
    @apply absolute top-[52%] right-[0.5em] text-[#b1bad3]  pointer-events-none cursor-pointer [transform:translateY(-50%)] touch-auto
}
.svg-icon-dropdown {
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
}
.wrap-normal{
    @apply max-w-[66.95px] inline-flex items-center justify-center w-full
}

.wrap-normal-svg {
    @apply w-full !text-[#fff]

}
.content-svelte {
    @apply flex flex-col flex-grow [overscroll-behavior:none] [scrollbar-color:#2f4553] overflow-y-auto overflow-x-hidden

}
.modal-content{
    @apply  flex-1 flex-col relative touch-auto bg-[#0f212e]
     
}

.contenttop{
    @apply  h-full pt-[1rem] pr-[1rem] pl-[1rem] flex flex-col pb-[1rem] gap-[1rem] touch-auto
     
}













