<div>
    <div class="header">
        <div class="image-container ">
            <img src="https://cdn.sanity.io/images/tdrhge4k/production/53abcc7f2c590ad4886cbf577ee3770869ebcdd8-947x252.svg"
                alt="Drake banner" class="banner-img">
        </div>
    </div>


    <div class="parent">
        <div class="ctainer no-height">
            <div class="sizer"></div>
        </div>
        <div class="ctainer ">
            <div class="main-content ">
                <div class="title-wrapper ">
                    <div class="title ">
                        <h2 class="drake-title">Journey from a Player to a Partner</h2>
                    </div>
                </div>
                <div class="timeline ">
                    <div class="card-list ">
                        <div class="card-list-line "></div>
                        <div class="card-list-wrapper scrollX">
                            <div class="card-list-content ">
                                <div class="card svelte-10exo0n" style="opacity: 1;">
                                    <div class="dot svelte-10exo0n"></div>
                                    <div class="card-tile svelte-10exo0n"><video playsinline="" loop=""
                                            src="/assets/f9d0653d054f00aeda5fc0b5eaebb9fbea1bc612.mp4"
                                            class="svelte-10exo0n"></video> <button
                                            class="overlay svelte-10exo0n"><button><svg fill="currentColor"
                                                    viewBox="0 0 96 96" class="svg-icon ">
                                                    <title></title>
                                                    <path
                                                        d="M87.984 44.286 12.254.573a4.269 4.269 0 0 0-6.403 3.695v87.464a4.269 4.269 0 0 0 6.423 3.685l-.02.01 75.73-43.713a4.272 4.272 0 0 0 .023-7.418l-.02-.01h-.002Z">
                                                    </path>
                                                </svg></button></button></div>
                                </div>
                                <div class="card svelte-10exo0n" style="opacity: 1;">
                                    <div class="dot svelte-10exo0n"></div>
                                    <div class="card-tile svelte-10exo0n"><video playsinline="" loop=""
                                            src="/assets/a3ac1be0230cd3aff2cf25d5dbe4260efa3112ab.mp4"
                                            class="svelte-10exo0n"></video> <button
                                            class="overlay svelte-10exo0n playing"><button><svg fill="currentColor"
                                                    viewBox="0 0 96 96" class="svg-icon ">
                                                    <title></title>
                                                    <path
                                                        d="M87.984 44.286 12.254.573a4.269 4.269 0 0 0-6.403 3.695v87.464a4.269 4.269 0 0 0 6.423 3.685l-.02.01 75.73-43.713a4.272 4.272 0 0 0 .023-7.418l-.02-.01h-.002Z">
                                                    </path>
                                                </svg></button></button></div>
                                </div>
                                <div class="card svelte-10exo0n" style="opacity: 1;">
                                    <div class="dot svelte-10exo0n"></div>
                                    <div class="card-tile svelte-10exo0n"><img alt="Timeline image 3" width="190"
                                            loading="eager" draggable="false"
                                            src="/assets/ec3631e128ceda1e02d3c15bbff6d0a6607861da-1170x2080.jpg">
                                    </div>
                                </div>
                                <div class="card svelte-10exo0n" style="opacity: 1;">
                                    <div class="dot svelte-10exo0n"></div>
                                    <div class="card-tile svelte-10exo0n"><img alt="Timeline image 4" width="190"
                                            loading="eager" draggable="false"
                                            src="/assets/1251acc28802bc628f7cde24637673381d0b6b09-1170x2094.jpg">
                                    </div>
                                </div>
                                <div class="card svelte-10exo0n" style="opacity: 1;">
                                    <div class="dot svelte-10exo0n"></div>
                                    <div class="card-tile svelte-10exo0n"><img alt="Timeline image 5" width="190"
                                            loading="eager" draggable="false"
                                            src="/assets/73518fec8e37939a26e119218b45a00c4527b3bc-1170x2075.jpg">
                                    </div>
                                </div>
                                <div class="card svelte-10exo0n" style="opacity: 1;">
                                    <div class="dot svelte-10exo0n"></div>
                                    <div class="card-tile svelte-10exo0n"><img alt="Timeline image 6" width="190"
                                            loading="eager" draggable="false"
                                            src="/assets/f633a35fa527f8dc40c7eff9eaf70794b13e6c35-1170x2088.jpg">
                                    </div>
                                </div>
                                <div class="card svelte-10exo0n" style="opacity: 1;">
                                    <div class="dot svelte-10exo0n"></div>
                                    <div class="card-tile svelte-10exo0n"><img alt="Timeline image 7" width="190"
                                            loading="eager" draggable="false"
                                            src="/assets/bda1241df523c5f3ad63f897fd308d597373b01e-1170x2086.jpg">
                                    </div>
                                </div>
                                <div class="card svelte-10exo0n" style="opacity: 1;">
                                    <div class="dot svelte-10exo0n"></div>
                                    <div class="card-tile svelte-10exo0n"><video playsinline="" loop=""
                                            src="https://cdn.sanity.io/files/tdrhge4k/production/ßf6e71bf66ae7d5c61deda26b2ac35d8721fca426.mp4#tß=0.001"
                                            class="svelte-10exo0n"></video> <button
                                            class="overlay svelte-10exo0n"><button><svg fill="currentColor"
                                                    viewBox="0 0 96 96" class="svg-icon ">
                                                    <title></title>
                                                    <path
                                                        d="M87.984 44.286 12.254.573a4.269 4.269 0 0 0-6.403 3.695v87.464a4.269 4.269 0 0 0 6.423 3.685l-.02.01 75.73-43.713a4.272 4.272 0 0 0 .023-7.418l-.02-.01h-.002Z">
                                                    </path>
                                                </svg></button></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section svelte-3f0fm3">
                    <div>
                        <img alt="Drake image" src="/assets/1e6b572dffcaf7a7954fe5a225db6444b915449c-1366x768.avif">
                    </div>
                    <div class="content-block svelte-70tzz6">
                        <h2 class="drake-title !text-start">
                            <span id="Drake’s_Live_Stream_Giveaways_&amp;_Rewards">Drake’s Live Stream Giveaways
                                &amp; Rewards
                            </span>
                        </h2>
                        <p class="dropdown-content">
                            <a class="!text-[16px] !text-white font-semibold"><span>Stake</span> </a><span class="">
                                &amp; Drake collaborate to create an entirely new gaming &amp; sports betting
                                experience for our community on </span><a class=""><span>Stake Casino</span> </a><span
                                class="">
                                and </span><a class=""><span>Stake Sportsbook!</span> </a><span class="">
                                This partnership brings interactive connectivity where fans and users alike will
                                have a chance to win big alongside hip-hop legend, Drake!</span>
                        </p>
                        <p class="inline-text dropdown-content"><span class="">Stay
                                tuned to Drake's social media channels for the upcoming live stream prize
                                giveaway. For your chance to win, simply email your phone number and Stake username to
                            </span><span
                                class="weight-semibold line-height-150pct is-inline align-left size-default text-size-default responsive-type-scale variant-subtle with-icon-space svelte-17v69ua">winwiththeboystake.com</span><span
                                class="">.</span>
                        </p>
                        <p class="inline-text dropdown-content"><span class="">For
                                even more exclusive rewards, raffles and prizes to score while you bet on
                                Stake, explore our </span><a class=""><span>game challenges</span> </a><span class="">,
                            </span><a class=""><span>casino promotions</span> </a><span class="">
                                and </span><a class=""><span>sports betting bonuses</span> </a><span class="">
                                on our </span><a class="" href="/promotions"><span>promos page.</span> </a></p>
                        <p class="inline-text dropdown-content"><span class="">
                            </span></p>
                    </div>
                </div>
                <div class="section ">
                    <div class="content-block ">
                        <h2 class="drake-title">
                            <span id="Stake_History_in_the_Making">Stake History in the Making </span>
                        </h2>
                        <p class="inline-text dropdown-content">

                            <span class="">Music
                                sensation, Drake, has been a long-time member of the Stake community. A
                                player storming the high ranks of the VIP program, Drake fell in love with both the
                                platform
                                and the perks associated with our </span><a class=""><span>VIP program</span> </a><span
                                class="">.
                                It was then that this partnership was formed, based on mutual appreciation
                                between mega-star and product.</span>
                        </p>
                        <p class="inline-text dropdown-content"><span class="">We
                                welcome all of the Stake community to join our exclusive VIP Club, where members
                                enjoy </span><a class=""><span>exclusive rewards</span> </a><span class="">
                                such a </span><a class="" href="/blog/what-is-stake-rakeback"
                                data-sveltekit-reload="off" data-sveltekit-preload-data="off"
                                data-sveltekit-noscroll="off" external="false"><span>rakebacks,</span> </a><span
                                class="">
                            </span><a class="" href="/blog/what-is-stake-reload-bonus" data-sveltekit-reload="off"
                                data-sveltekit-preload-data="off" data-sveltekit-noscroll="off"
                                external="false"><span>reload bonuses</span> </a><span class="">
                                and more. Climb the levels and receive your very own </span><a class=""
                                href="/blog/perks-benefits-of-stake-vip-hosts" data-sveltekit-reload="off"
                                data-sveltekit-preload-data="off" data-sveltekit-noscroll="off"
                                external="false"><span>dedicated VIP Host</span> </a><span class="">.
                                For all the details, visit our </span><a class=""
                                href="/blog/stake-vip-program-faqs-help" data-sveltekit-reload="off"
                                data-sveltekit-preload-data="off" data-sveltekit-noscroll="off"
                                external="false"><span>VIP
                                    Club FAQs.</span> </a></p>
                        <p class="inline-text dropdown-content"><span class="">
                            </span></p>
                    </div>
                    <div><img alt="Drake image" src="/assets/1640029cd44a1431a2b47a9d6a4815368d08ac40-1366x768.webp">
                    </div>
                </div>
                <div class="cta svelte-1gucpi8">
                    <div class="content-block svelte-70tzz6">
                        <h2 class="drake-title mb-2">
                            <span id="Drake's_picks">Drake's picks </span>
                        </h2>
                        <p class="inline-text dropdown-content"><span class="">Explore
                                some of Drake's favourite games and sports to truly entrench yourself in
                                Drizzy's playstyle.</span>
                        </p>
                    </div>
                    <div class="cta-list svelte-1gucpi8">
                        <a href="/casino/group/roulette" class="cta-card svelte-13s0ucz">
                            <img alt="Drake's Favourite Roulette banner" width="100%"
                                src="/assets/08de303b7aeea1ec397f705033d7c8abdad6089f-760x204.jpg">
                            <a class="img-btn" href="/casino/group/roulette">Drake's Favourite
                                Roulette</a></a> <a href="/sports/outright/basketball/usa/nba/43650407-nba-23-24"
                            class="cta-card svelte-13s0ucz"><img alt="Drake's Favourite NBA banner" width="100%"
                                src="/assets/dcf4ea5484024cca3ab319fffb2da5c472be4667-760x204.jpg">
                            <a class="img-btn">Drake's Favourite
                                NBA</a></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>