.svg-icon {
  @apply pointer-events-none [stroke-width:0] fill-current stroke-current flex-shrink-0 inline-block size-[1em];
}
.card-varient {
  @apply bg-[#0f212e]  text-[#d5dceb] rounded-lg p-6 overflow-hidden relative align-baseline m-0;
}
.layout-spacing {
  @apply flex flex-col w-full;
}
.affliate-wrap {
  @apply w-full flex flex-col;
}

.selects-wrap {
  @apply w-full grid gap-[1rem] justify-start pb-[1rem];
  grid-template-columns: repeat(auto-fit, minmax(min-content, 200px));
}
label.stacked.svelte-1wzq4lo {
  @apply flex-col-reverse justify-start inline-flex relative;
}

.select-wrap {
  @apply w-full flex flex-shrink-0;
}
.select-content {
  @apply relative flex-grow w-full flex;
}
.select.svelte {
  @apply w-full text-[#fff] bg-[#0f212e] border-[2px] border-solid  border-[#2f4553] rounded-[.25rem] font-semibold outline-none cursor-pointer
    appearance-none text-[.875rem];
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.25s;
}
.expanded {
  @apply py-[7px] pr-[28px] pl-[7px];
}
.dropdown-icon-wrap.svelte {
  @apply absolute top-[52%] right-[.5em] text-[#b1bad3] pointer-events-none cursor-pointer;
  transform: translateY(-50%);
}
.label-content.svelte-1k9rtf3 {
  @apply inline-flex items-center leading-[14px] font-semibold text-[13.8px] text-[#b1bad3]  p-[0_0_.25rem_0] justify-between;
}
.affliate-wrap.svelte-1vuj99p > * + * {
  @apply mt-[15px];
}
.table-wrapper.svelte-z7x44z {
  @apply overflow-x-auto max-w-full w-full relative !bg-[#0F212E];
}

.scrollY,
.scrollX {
  scrollbar-color: #2f4553 transparent;
}
.table-content {
  @apply w-full relative z-[2] overflow-x-scroll;
}
.table-content > tbody {
  position: relative;
  animation-fill-mode: forwards !important;
  animation-duration: 0.35s !important;
  animation-timing-function: ease-out !important;
  will-change: transform;
}
.table-content th:first-child {
  @apply text-left rounded-tl-[.25rem] rounded-bl-[.25rem] border-none;
}
.table-content th {
  @apply font-semibold border-none;
}
.table-content td,
.table-content th {
  @apply p-[1rem] break-words whitespace-nowrap text-center text-[#b1bad3] text-sm;
}
th {
  @apply !bg-[#0F212E];
}
.stack {
  @apply text-[#b1bad3] text-sm  items-center  text-center gap-[1.5rem] flex justify-center;
}
.control-bt {
  @apply inline-flex stack relative gap-2 !text-[#879097] !text-[13.7px] justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none !mt-0 disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent  hover:bg-transparent hover:text-white focus-visible:outline-none text-sm leading-none;
}
@media(max-width:590px){
    .card-varient {
      @apply !w-[95vw]
    }
  }