.scrollable.svelte-844n9s {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100%;
    flex: 1;
}
.content-wrapper.svelte-vlgd3s {
    position: relative;
}
.parent.svelte-1p5gbm2:not(.reset) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3vw;
}
.ctainer.svelte-1p5gbm2:not(.reset) {
    width: 100%;
    max-width: 1200px;
    align-self: center;
}
.ctainer.svelte-1p5gbm2:not(.reset) {
    width: 100%;
    max-width: 1200px;
    align-self: center;
}
.sizer.svelte-1p5gbm2 {
    width: 100%;
    height: 0;
}
.layout-spacing:not(.reset).variant-normal.svelte-l4ghjo {
    padding-bottom: 2rem;
}
.stack.padding-none.svelte-1cd1boi {
    padding: 0;
}
.stack.gap-larger.svelte-1cd1boi {
    gap: 1.5rem;
}
.wrap.svelte-1xdio8z {
    width: 100%;
    display: grid;
    place-items: flex-start;
    padding-top:1.5rem;
}
.stack.stretch.svelte-1cd1boi {
    width: 100%;
}
.stack.x-space-between.svelte-1cd1boi {
    justify-content: space-between;
}
.stack.direction-horizontal.svelte-1cd1boi {
    grid-auto-flow: column;
}
.stack.gap-larger.svelte-1cd1boi {
    gap: 1.5rem;
}
.stack.gap-larger.svelte-1cd1boi {
    gap: 1.5rem;
}
.stack.svelte-1cd1boi {
    display: grid;
}
.stack.direction-horizontal.svelte-1cd1boi {
    grid-auto-flow: column;
}
.card.variant-default.svelte-hfdoji {
    background:#0f212e;
    color: #d5dceb;
    position: sticky;
    top: 2em;
    max-width: 100%;
    min-width: 180px;
}
.outer-wrapper.svelte-tg1q9b.svelte-tg1q9b {
    padding: .5rem 0;
}
.wrapper.svelte-tg1q9b.svelte-tg1q9b {
    position: relative;
}
.wrapper.svelte-tg1q9b > a {
    position: relative;
    border-radius: 0px;
}
.\!bg-grey-900 {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(7,24,36, 1 ) !important;
}
.card.svelte-hfdoji {
    border-radius: .5rem;
    background-size: cover;
    background-position: center;
}
.card.variant-default.svelte-hfdoji {
    background:#0f212e;
    color: #d5dceb;
}
.layout-spacing:not(.reset).no-bottom-spacing.svelte-l4ghjo {
    padding-bottom: unset;
}
.layout-spacing.svelte-l4ghjo:not(.reset) {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.section-list.svelte-r6u93y {
    display: flex;
    flex-direction: column;
}
.desktop.svelte-1b6jm4z {
    border-radius:.5rem;
    border: 1px solid #2f4553;
    padding-top: 1.75rem;
    background-color: #1a2c38;
}
.section-title.svelte-v5k0bt {
    padding: 0 1.5rem;
}
em.text-size-lg.svelte-17v69ua, span.text-size-lg.svelte-17v69ua, h1.text-size-lg.svelte-17v69ua, h2.text-size-lg.svelte-17v69ua, h3.text-size-lg.svelte-17v69ua, h4.text-size-lg.svelte-17v69ua, h5.text-size-lg.svelte-17v69ua, h6.text-size-lg.svelte-17v69ua, p.text-size-lg.svelte-17v69ua {
    font-size:1.25rem;
    font-weight: 600;
}
em.svelte-17v69ua, span.svelte-17v69ua, h1.svelte-17v69ua, h2.svelte-17v69ua, h3.svelte-17v69ua, h4.svelte-17v69ua, h5.svelte-17v69ua, h6.svelte-17v69ua, p.svelte-17v69ua {
    line-height: 1.3;
    display: inline-flex;
    align-items: center;
}
.badge.variant-success.svelte-1nsqxew {
    background: #00e701;
    color: #013e01;
}
.badge.is-rounded.svelte-1nsqxew {
    padding: 0 .5em;
    min-width: 1.8em;
    border-radius: 2em;
}
.badge.text-size-sm.svelte-1nsqxew {
    font-size: .75rem;
}
form.svelte-188ba96:not(.is-inline) {
    flex-direction: column;
    justify-items: center;
}
.section.svelte-1b6jm4z>*+* {
    margin-top: 1.25rem;
}
.section-content.svelte-vdd8ml {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    width: 100%;
}
hr.svelte-10o42b4 {
    height: 1px;
    width: 100%;
    background: #2f4553;
}
.section-form.svelte-22jn7v {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
}
.section-content.svelte-vdd8ml>*+* {
    margin-top: 1rem;
}
label.stacked.svelte-1wzq4lo {
    flex-direction: column-reverse;
    align-items: flex-start;
}
.section-form.svelte-22jn7v>*+* {
    margin-top: 1rem;
}
label.svelte-1wzq4lo {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}
.input-wrap.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .12);
    border-radius: .25rem;
}
.label-content.svelte-1k9rtf3 {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size:.875rem;
    color: #b1bad3;
    transition: .2s;
    letter-spacing: 0;
    padding: 0 0 .25rem 0;
    justify-content: space-between;
}
.label-left-wrapper.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
    display: inline-flex;
    width: 100%;
}
.asterisk-wrapper.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
    margin-left: .25rem;
}
em.variant-negative.svelte-17v69ua, span.variant-negative.svelte-17v69ua, h1.variant-negative.svelte-17v69ua, h2.variant-negative.svelte-17v69ua, h3.variant-negative.svelte-17v69ua, h4.variant-negative.svelte-17v69ua, h5.variant-negative.svelte-17v69ua, h6.variant-negative.svelte-17v69ua, p.variant-negative.svelte-17v69ua, em.variant-negative.svelte-17v69ua .svg-icon, span.variant-negative.svelte-17v69ua .svg-icon, h1.variant-negative.svelte-17v69ua .svg-icon, h2.variant-negative.svelte-17v69ua .svg-icon, h3.variant-negative.svelte-17v69ua .svg-icon, h4.variant-negative.svelte-17v69ua .svg-icon, h5.variant-negative.svelte-17v69ua .svg-icon, h6.variant-negative.svelte-17v69ua .svg-icon, p.variant-negative.svelte-17v69ua .svg-icon {
    color: #ed4163;
}