.page-wrapper .main-parent {
  @apply flex flex-col w-full max-w-full h-full flex-1 bg-[#1a2c38];
}
.parent {
  @apply w-full flex flex-col items-center p-[0_3vw] pb-[2rem];
}

.ctainer {
  @apply w-full max-w-[1200px] self-center;
}

.sizer {
  @apply w-full right-0;
}
/* .layout-spacing {
  @apply pb-[2rem];
} */
.gap-larger {
  @apply p-0 gap-[1.5rem];
}
.wrap {
  @apply w-full grid items-start   pb-[1.5rem];
}
.stretch {
  @apply w-full flex justify-between;
}
.stack_svelte-1cd1boi {
  @apply justify-between;
}
.settings-anchor {
  @apply inline-flex relative items-center cursor-pointer gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white  focus-visible:outline-none text-sm leading-none;
}
.alignment-class {
  @apply grid gap-[1.5rem] grid-cols-[auto_1fr] relative;
}

@media (max-width: 915px) {
  .alignment-class {
    @apply grid-cols-1 gap-[8px];
  }
  .show {
    @apply block;
  }
}

.card {
  @apply bg-[#0f212e] text-[#d5dceb] sticky top-8 max-w-full min-w-[180px] max-h-max;
}

@media (max-width: 915px) {
  .card {
    @apply hidden;
  }
}
.outer-wrapper {
  @apply p-[.5rem_0];
}
.genral-anchor {
  @apply relative items-center gap-2 font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white text-sm leading-none   py-[0.9375rem] px-[1.25rem]  hover:bg-[rgba(7,_24,_36,_1)] !text-white w-full justify-start block;
}
.other-tabs {
  @apply relative items-center gap-2 font-semibold whitespace-nowrap transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white  focus-visible:outline-white text-sm leading-none  py-[0.9375rem] px-[1.25rem]  w-full justify-start block hover:bg-[rgba(7,_24,_36,_1)] focus:bg-[rgba(7,_24,_36,_1)];
}
.wrapper {
  @apply relative rounded-none;
}

.\!bg-grey-900 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(7, 24, 36, 1) !important;
}
.page-card {
  @apply rounded-[.5rem] bg-cover bg-center bg-[#0f212e] text-[#d5dceb];
}

.layout-spacing {
  @apply flex flex-col w-full;
}
.section-list {
  @apply flex flex-col;
}
.desktop {
  @apply rounded-[.5rem] border-[1px] border-[#2f4553] bg-[#1a2c38] pt-[1.58rem];
}
.section-title {
  @apply p-[0_1.5rem];
}
em.text-size-lg.svelte-17v69ua,
span.text-size-lg.svelte-17v69ua,
h1.text-size-lg.svelte-17v69ua,
h2.text-size-lg.svelte-17v69ua,
h3.text-size-lg.svelte-17v69ua,
h4.text-size-lg.svelte-17v69ua,
h5.text-size-lg.svelte-17v69ua,
h6.text-size-lg.svelte-17v69ua,
p.text-size-lg.svelte-17v69ua {
  @apply text-[1.25rem] font-semibold;
}
em.svelte-17v69ua,
span.svelte-17v69ua,
h1.svelte-17v69ua,
h2.svelte-17v69ua,
h3.svelte-17v69ua,
h4.svelte-17v69ua,
h5.svelte-17v69ua,
h6.svelte-17v69ua,
p.svelte-17v69ua {
  @apply leading-[1.3] inline-flex items-center;
}

.badge.variant-success.svelte-1nsqxew {
  @apply bg-[#00e701] text-[#013e01];
}
.badge.is-rounded.svelte-1nsqxew {
  @apply p-[0_.5em] min-w-[1.8em] rounded-[2em];
}
.badge.text-size-sm.svelte-1nsqxew {
  @apply text-[.75em];
}
form.svelte-188ba96:not(.is-inline) {
  @apply flex-col justify-center;
}
.section.svelte-1b6jm4z > * + * {
  @apply mt-[1.25rem];
}
.section-content.svelte-vdd8ml {
  @apply flex flex-col p-[0_1,5rem] w-full;
}
hr.svelte-10o42b4 {
  @apply h-[1px] w-full bg-[#2f4553];
}
.section-form.svelte-22jn7v {
  @apply w-full max-w-[420px] flex flex-col;
}
.section-content.svelte-vdd8ml > * + * {
  @apply mt-[1rem];
}
label.stacked.svelte-1wzq4lo {
  @apply flex-col items-start;
}
.section-form.svelte-22jn7v > * + * {
  @apply mt-[1rem];
}
label.svelte-1wzq4lo {
  @apply inline-flex flex-row-reverse items-center relative;
}
.input-wrap.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
  @apply w-full flex-shrink-0 shadow-[0_1px_3px_0_rgba(0,_0,_0,_.2),_0_1px_2px_0_rgba(0,_0,_0,_.12)] rounded-[.25em];
}
.label-content.svelte-1k9rtf3 {
  @apply inline-flex items-center font-semibold text-[.875em] text-[#b1bad3] transition-[.2s]  p-[0_0_.25rem_0] justify-between;
}
.label-left-wrapper.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
  @apply inline-flex w-full;
}
.asterisk-wrapper.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
  @apply ml-[.25rem];
}
em.variant-negative.svelte-17v69ua,
span.variant-negative.svelte-17v69ua,
h1.variant-negative.svelte-17v69ua,
h2.variant-negative.svelte-17v69ua,
h3.variant-negative.svelte-17v69ua,
h4.variant-negative.svelte-17v69ua,
h5.variant-negative.svelte-17v69ua,
h6.variant-negative.svelte-17v69ua,
p.variant-negative.svelte-17v69ua,
em.variant-negative.svelte-17v69ua .svg-icon,
span.variant-negative.svelte-17v69ua .svg-icon,
h1.variant-negative.svelte-17v69ua .svg-icon,
h2.variant-negative.svelte-17v69ua .svg-icon,
h3.variant-negative.svelte-17v69ua .svg-icon,
h4.variant-negative.svelte-17v69ua .svg-icon,
h5.variant-negative.svelte-17v69ua .svg-icon,
h6.variant-negative.svelte-17v69ua .svg-icon,
p.variant-negative.svelte-17v69ua .svg-icon {
  @apply text-[#ed4163];
}
.input-content.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
  @apply relative flex-grow-[1] w-full flex;
}
.before-icon.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
  @apply left-[.75em];
}
.after-icon.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re,
.before-icon.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
  @apply absolute flex top-[50%]  text-[#b1bad3] z-[2];
}
.after-icon.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
  @apply right-[.75em];
}

.input[readonly].svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
  background: #2f4553;
}
.input.spacing-expanded.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
  @apply p-[.5em];
}
.input.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re {
  @apply w-full  text-[#fff] bg-[#0f212e] rounded-[2px] border-[#2f4553] font-semibold  transition-[.25s] outline-none m-0 text-[.875rem] shadow-none;
}
form.svelte-188ba96:not(.is-inline) > * + * {
  @apply mt-[6px];
}
form.svelte-188ba95:not(.is-inline) > * + * {
  @apply mt-[13px];
}
.section-footer.svelte-1uegh18 {
  @apply flex p-[1rem] rounded-[0_0_.5rem_.5rem] border-t-[1px] border-[#2f4553] justify-end items-center w-full flex-wrap;
}
.section-footer-actions.svelte-13583ga {
  @apply flex gap-[1rem];
}
.disabled\:opacity-50:disabled {
  @apply opacity-[.5];
}
.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.text-neutral-black {
  @apply text-[rgb(5_8_10_/1)];
}
.bg-green-500 {
  @apply bg-[rgba(0,_231,_1,_1)];
}
.section-list > * + * {
  @apply mt-[2rem];
}
.desktop.svelte-1b6jm4z {
  @apply rounded-lg border border-[#2f4553] pt-[1.5rem] bg-[#1a2c38];
}
.section-title.svelte-v5k0bt {
  @apply p-[0_1.5rem];
}
em.text-size-lg.svelte-17v69ua,
span.text-size-lg.svelte-17v69ua,
h1.text-size-lg.svelte-17v69ua,
h2.text-size-lg.svelte-17v69ua,
h3.text-size-lg.svelte-17v69ua,
h4.text-size-lg.svelte-17v69ua,
h5.text-size-lg.svelte-17v69ua,
h6.text-size-lg.svelte-17v69ua,
p.text-size-lg.svelte-17v69ua {
  @apply text-[1.25rem] font-semibold text-white;
}
.section-content.svelte-vdd8ml {
  @apply flex flex-col px-[1.5rem] w-full;
}

em.variant-subtle.svelte-17v69ua,
span.variant-subtle.svelte-17v69ua,
h1.variant-subtle.svelte-17v69ua,
h2.variant-subtle.svelte-17v69ua,
h3.variant-subtle.svelte-17v69ua,
h4.variant-subtle.svelte-17v69ua,
h5.variant-subtle.svelte-17v69ua,
h6.variant-subtle.svelte-17v69ua,
p.variant-subtle.svelte-17v69ua {
  @apply text-[#b1bad3];
}
em.text-size-default.svelte-17v69ua,
span.text-size-default.svelte-17v69ua,
h1.text-size-default.svelte-17v69ua,
h2.text-size-default.svelte-17v69ua,
h3.text-size-default.svelte-17v69ua,
h4.text-size-default.svelte-17v69ua,
h5.text-size-default.svelte-17v69ua,
h6.text-size-default.svelte-17v69ua,
p.text-size-default.svelte-17v69ua {
  @apply text-[.875rem];
}
.section-content.svelte-vdd8ml > * + * {
  @apply mt-[1rem];
}

.section-content.svelte-vdd8ml > * + * {
  @apply mt-[1.75rem];
}
label.stacked.svelte-1wzq4lo {
  @apply flex-col-reverse;
}

.select.spacing-expanded.svelte-16bm4r1 {
  @apply py-[0.5em] pl-[0.5em] pr-[2em];
}
.select.svelte-16bm4r1 {
  @apply w-[420px] h-[39px] text-white bg-[#0f212e] shadow-[0_1px_3px_0_rgba(0,0,0,.2),0_1px_2px_0_rgba(0,0,0,.12)] border-2 border-[#2f4553] rounded-[.25rem] tracking-tight font-semibold transition-all duration-200 outline-0 m-0 cursor-pointer appearance-none text-[.875rem];
}
.dropdown-icon-wrap.svelte-16bm4r1 {
  @apply absolute top-[52%] right-[.5em] text-[#b1bad3] transform translate-y-[-50%] pointer-events-none cursor-pointer;
}
.input.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re:focus,
.input.svelte-1nbx5re.svelte-1nbx5re.svelte-1nbx5re:hover {
  @apply text-[#fff] border-[#557086];
}
.rounded-sm {
  @apply rounded-[calc(.5rem-4px)];
}
.btn-class {
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white  focus-visible:outline-none text-sm leading-none;
}
.submit-btn {
  @apply inline-flex relative items-center gap-2 justify-center rounded-sm font-semibold whitespace-nowrap  transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-green-500 text-neutral-black  focus-visible:outline-white text-sm leading-none shadow-md py-[0.9375rem] px-[1.25rem] min-w-[12ch];
}
