.Modal-container {
    @apply fixed left-0 z-[1500] top-0 bottom-0 right-0  p-[1rem] justify-center flex items-center text-sm;
  }
  .svelte-syudie {
    @apply absolute  left-0 top-0 bottom-0 right-0  touch-none bg-[rgba(0,0,0,0.75)];
  }
  .card {
    @apply rounded-lg [background-position:center] relative w-full min-w-[200px] max-w-[500px] max-h-[calc(100%-4em)] flex flex-col bg-[#1a2c38] text-[#b1bad3] overflow-hidden
  }
  .header {
    @apply flex justify-between p-4 touch-none;
  }
  
  .header-text {
    @apply text-[#fff] text-left justify-start text-base font-semibold inline-flex items-center;
  }
  .header-icon {
    @apply mr-2 text-[#b1bad3];
  }
  .svg-icon {
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  .content-svelte {
    @apply [overscroll-behavior:contain] [scrollbar-color:#2f4553] overflow-y-auto overflow-x-hidden  [scrollbar-width:thin];
  }
  .Modal-content {
    @apply flex flex-col relative touch-auto;
  }
  .ctainer {
    @apply px-4 pb-4 flex flex-col gap-4 touch-auto;
  }
  .toggle-svelte {
    @apply py-2 px-4 flex items-center touch-auto
  }
  .variant-default {
    @apply  relative  inline-flex flex-row items-start [slider-size:2.5em] [border-size:4px] [indicator-size:calc(1.5em-4px)] touch-auto
  }  
  .toggle-hide-balances {
    @apply absolute left-0 opacity-0 z-[-1] touch-auto mr-4 my-3 ml-1 appearance-none
  }
  .slider {
    @apply  relative outline-0 h-[1.5em] w-[2.5em]  border-[2px] border-solid border-[#2f4553] rounded-[1em] bg-[#2f4553] [background-image:none] [background-size:100%]  bg-no-repeat cursor-pointer shrink-0 touch-auto;
    transition: background .25s, border-color .25s
  }
  .indicator-svelte {
    @apply absolute w-[calc(1.5em-4px)] h-[calc(1.5em-4px)] rounded-[calc(.75em-2px)] bg-[#fff] left-0 touch-auto ;
    transition: transform .25s;
  }
  .text-wrapper {
    @apply flex flex-col  touch-auto ml-3
  }
  .head-text {
    @apply  text-[#fff] text-left justify-start text-sm font-semibold touch-auto inline-flex items-center
  }
  .sub-text {
    @apply  text-[#b1bad3]  text-left justify-start text-sm font-normal touch-auto inline-flex items-center
  }
  .wallet-grid  {
    @apply   w-full grid items-start p-4 [row-gap:1rem] [column-gap:3rem] touch-auto ;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  }
  .currency-usd-label {
    @apply  flex-row cursor-pointer touch-auto inline-flex items-center relative
  }
  .currency-usd-input {
    @apply  absolute left-0 opacity-0 z-[-1] touch-auto appearance-none
  }
  .usd-input {
    @apply   cursor-not-allowed bg-[#2f4553] touch-auto [background-size:75%] rounded-[50%]  border-solid border-[#2f4553] outline-0 w-[1.5em] h-[1.5em] shrink-0 [background-position:center] bg-no-repeat  ;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .12);
    transition: .25s
  }
  .label-content{
    @apply   ml-2 w-full inline-flex items-center font-semibold text-sm justify-between touch-auto py-1; transition: .2s
  }
  .label-svelte{
    @apply    grid [grid-gap:0.5rem] touch-auto ;
    grid-template-columns: 1fr 1fr;  
  }
  
  .btn-wrap{
    @apply   text-[#b1bad3]  text-center justify-center text-sm font-normal touch-auto inline-flex items-center
  }
  .term{
    @apply   text-[#b1bad3]  text-center justify-center text-sm font-normal touch-auto inline-flex items-center
  }
  .toggle{
    @apply relative w-[2.5em]  h-[1.5em]  bg-[#2f4553]  peer-focus:outline-none peer-focus:ring-1 peer-focus:ring-white dark:peer-focus:ring-white rounded-full  dark:bg-[rgb(0,184,1)] peer-checked:after:translate-x-[80%] rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-[rgb(0,184,1)]
}
.stacked {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.custom-checkbox {
  position: absolute;
  opacity: 0;
}
/* Show inner dot when checked */
.custom-checkbox:checked + .indicator .inner-dot {
  transform: scale(1); /* Scale to full size when checked */
}
.indicator {
  background-size: 75%;
  @apply bg-[#2f4553];
}
.indicator {
  width: 20px; /* Set outer circle width */
  height: 20px; /* Set outer circle height */
  background-color: #2c3e50; /* Outer background color */
  border-radius: 50%; /* Circular shape */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); /* Soft shadow */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  position: relative;
}
/* Inner dot */
.inner-dot {
  width: 10px; /* Size of the inner dot */
  height: 10px; /* Size of the inner dot */
  background-color: #ffffff; /* White color for the inner dot */
  border-radius: 50%;
  transform: scale(0); /* Hide initially */
  transition: transform 0.3s ease; /* Smooth animation */
}