<div
  class="content-wrapper"
  
>
  <div  >
    <div
      class="layout-spacing"
      
    >
      <div class="section-list" >
        <article>
          <div class="section-content" >
            <div class="content" >
              <h3
                class="content-block"
                
              >
                <span id="Responsible_Gambling_FAQ's" class="!text-[24px]"
                  >Responsible Gambling FAQ's
                </span>
              </h3>
              <p class="inline-text">
                <span
                  class="content-span"
                  
                ></span>
              </p>
              <h3
                class="content-title"
                
              >
                <span id="1._Isn't_problem_gambling_just_a_financial_problem?" class="!text-[20px] font-medium"
                  >1. Isn't problem gambling just a financial problem?
                </span>
              </h3>
              <p class="inline-text">
                <span
                  class="content-span"
                  
                ></span>
              </p>
              <p class="inline-text">
                <span
                  class="span-text"
                  
                  >No. Problem gambling is a behavioural addiction that has
                  financial and other consequences. Even if the person pays off
                  their gambling debts, they can still have other problems
                  caused by gambling.
                </span>
              </p>
              <p class="inline-text mt-3">
                <span
                  class="content-span"
                  
                ></span>
              </p>
              <p class="inline-text mt-3">
                <span
                  class="content-span"
                  
                ></span>
              </p>
              <h3
                class="content-title"
                
              >
                <span
                  id="2._Do_you_have_to_wager_often_to_be_considered_as_someone_being_affected_by_problem_gambling?"
                  >2. Do you have to wager often to be considered as someone
                  being affected by problem gambling?
                </span>
              </h3>
              <p class="inline-text">
                <span
                  class="content-span"
                  
                ></span>
              </p>
              <p class="inline-text mt-3">
                <span
                  class="span-text"
                  
                  >It really doesn’t matter how often a person wagers. If a
                  person’s gambling is causing emotional, physical, financial,
                  relationship or other challenges for themselves and the people
                  around them, then they are affected as a result of problem
                  gambling.</span
                >
              </p>
              <h3
                class="content-title"
                
              >
                <span id=""> </span>
              </h3>
             
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
