<div id="svelte" >
  <div class="Modal-container">
    <div class="svelte-syudie"></div>
    <div class="card-svelte" (click)="$event.stopPropagation()">
      <div class="ctainer">
        <div>
          <!-- Stake logo -->
          <div class="wrap-normal">
            <img alt="stake-logo" class="wrap-normal-svg" src="/login/stake-logo.png" />
          </div>
        </div>
        <!-- Exit btn -->
        <button
          class=" ring-offset-background  Exit-btn [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
          (click)="closeModal()" type="button">
          Exit
        </button>
      </div>


      <div class="content-svelte">
        <div class="modal-content">
          <div class="contenttop">
            <div class="h-full mt-6">
              <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="formsvelte">
                <!-- Email & username input feild -->
                <label class="labelstacked">
                  <span *ngIf="loginForm.get('emailOrName')?.invalid && loginForm.get('emailOrName')?.touched"
                    class="text-red-500">
                    <div *ngIf="loginForm.get('emailOrName')?.errors?.['required']">This field is required.</div>
                    <div *ngIf="loginForm.get('emailOrName')?.errors?.['minlength']">Minimum character length is 3.
                    </div>
                  </span>
                  <div class="input-wrap">
                    <div class="input-content">
                      <div class="before-icon"></div>
                      <div class="after-icon"></div>
                      <input class="input-spacing !placeholder:bg-[#0f212e]" formControlName="emailOrName"
                        placeholder="Email or Username" type="text" />
                    </div>
                    <div class="input-button-wrap"></div>
                  </div>
                  <span class="label-content">
                    <div class="inline-flex w-full touch-auto">
                      <span class="touch-auto" slot="label">Email or Username</span>
                      <div class="ml-[.25rem] touch-auto">
                        <span class="asterick">*</span>
                      </div>
                    </div>
                  </span>
                </label>
                <!-- password input feild -->
                <label class="labelstacked mt-[1rem]">
                  <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="text-red-500 ">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">This field is required.</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Minimum character length is 6.</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['pattern']">Password must contain uppercase,
                      lowercase, and a number.</div>
                  </span>
                  <div class="input-wrap">
                    <div class="input-content">
                      <div class="before-icon"></div>
                      <div class="after-icon"></div>
                      <input [type]="passwordVisible ? 'text' : 'password'"
                        class="password-feild"
                        formControlName="password" type="password" />

                      <div class="flex absolute right-0 top-0 h-full touch-auto">
                        <button (click)="togglePasswordVisibility()" aria-label="Reveal password"
                          class="password-svg"
                          type="button">
                          <!-- pasword icon svg -->
                          <img *ngIf="!passwordVisible" alt="eye-icon" class="svg-icon-password" src="/login/eye.png" />
                          <img *ngIf="passwordVisible" alt="eye-icon" class="svg-icon-password"
                            src="/login/password-hide.png" />


                        </button>
                      </div>
                    </div>
                    <div class="input-button-wrap"></div>
                  </div>
                  <span class="label-content">
                    <div class="inline-flex w-full touch-auto">
                      <span slot="label">Password</span>
                      <div class="ml-[.25rem] touch-auto">
                        <span class="asterick">*</span>
                      </div>
                    </div>
                  </span>
                </label>
                <div class="mt-4 w-full touch-auto" style="display: none"></div>
                <div class="flex items-end flex-1 !mt-4 w-full touch-none">
                  <!-- SignIn btn -->
                  <button
                    class="ring-offset-background Signin-btn"
                    (click)=" login()" type="submit">
                    <div class="contents" data-loader-content="">
                      Sign In
                    </div>
                  </button>
                </div>
              </form>
            </div>
            <div class="wrap-svelte">
              <div class="or-svelte">
                <!-- OR text -->
                <span
                  class="OR-text">OR</span>
              </div>
              <div class="oauth-svelte">
                <div class="">
                  <button
                    class="ring-offset-background login-plateform-btn"
                    type="button">
                    <!-- facebook svg -->
                    <img alt="facebook-logo" class="svg-icon-password" src="/login/Facebook.png" />

                  </button>
                </div>
                <div class="">
                  <button
                    class="ring-offset-background login-plateform-btn"
                    type="button">
                    <!-- google svg -->
                    <img alt="google-logo" class="svg-icon" src="/login/Google.png" />


                  </button>
                </div>
                <div class="">
                  <button
                    class="ring-offset-background login-plateform-btn"
                    type="button">
                    <!-- provider-login-line svg -->
                    <img alt="login-line-logo" class="svg-icon-password" src="/login/Line.png" />

                  </button>
                </div>
                <div class="">
                  <button
                    class="ring-offset-background login-plateform-btn"
                    type="button">
                    <!-- login-twitch svg -->
                    <img alt="twitch-logo" class="svg-icon-password" src="/login/twitch.png" />

                  </button>
                </div>
              </div>
            </div>

            <button  (click)=" showforgotpassword()"
              class=" forgot-pass-btn  ring-offset-background  [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
              type="button">
              Forgot Password
            </button>
            <div class="footer">
              <span class="text-[#b1bad3] text-center text-sm font-normal touch-auto">Don’t have an account?
                <button
                  class=" ring-offset-background register-acc-btn [&amp;_svg]:text-grey-200 [&amp;:hover>svg]:text-white"
                  [disabled]="false" type="button" routerLink="/register">
                  Register an Account
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<app-forgot-password></app-forgot-password>
