@tailwind components;

.slick-arrow {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    border: none !important;
    font-size: 4rem !important;
    z-index: 10 !important;
    cursor: pointer !important;
    background-color: white !important;
    border-radius: 9999px !important;
    padding: 6px !important;
    box-shadow: 0 0 80px #29262133 !important;
}

.nav-btn:hover {
    background-color: #efede9;
}

.prev-slide {
    left: 5px !important;
}

.next-slide {
    right: 5px !important;
}


::ng-deep .carousel {
    display: flex;
}

::ng-deep .slick-track {
    transform: none !important;
    display: flex;
    flex-direction: row;
    width: fit-content !important;
    overflow-x: auto !important;
}

/* ::ng-deep .slick-arrow{
    display: none !important;
} */


::ng-deep .slick-slide {
    width: 100% !important;
}

::ng-deep .slide-track:last-child {
    margin-right: 0px !important;
}

::-webkit-scrollbar {
    display: none;
}


section {
    @apply max-w-[1200px] m-[0_auto] relative max-[1680px]:p-[0px_30px]
}

.slide {
    @apply mr-[31px] rounded-[10px]
}

.slide img {
    @apply max-w-[357.667px] w-[357.667px]
}

.hero-card {
    @apply overflow-hidden flex flex-col relative text-white bg-[#213743] rounded-[.5rem] w-[360px]
    /* container-type: inline-size;
    container-name: card-size; */
}

.card-wrapper {
    @apply grid relative overflow-hidden [transform:scale(1)] [grid-template-columns:45%_55%] h-[13.75rem]
}

.content-wrapper {
    @apply flex flex-col p-4;
    z-index: 1;
}

.content {
    @apply flex flex-col h-full [row-gap:.125rem]
}

.badge-content {
    @apply bg-white text-[#071824] px-1 text-[.75rem] inline-flex font-semibold justify-center items-center rounded-[3px] whitespace-nowrap
}

.card-title {
    @apply font-bold text-white leading-[21.6px] text-[1.125rem] text-left inline-flex items-center justify-start
}

.description-wrapper {
    @apply text-white leading-[21.6px] text-[.875rem] text-left
}

.button-wrapper {
    @apply bg-[#213743] mt-auto w-fit
}

.btn-content {
    @apply min-w-[7.5rem] max-w-[10.625rem] inline-flex relative items-center gap-2 justify-center rounded-[4px] font-semibold whitespace-nowrap transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white border border-solid border-white text-sm leading-none py-[0.8125rem] px-[1rem]
}

.img-inner {
    @apply absolute top-0 flex items-center justify-end h-full w-full
}

.img-inner img {
    @apply max-w-[220px] max-h-[220px] w-full h-auto [aspect-ratio:1/1]
}

/* Search */

.search-wrap {
    @apply relative flex flex-col justify-end touch-pan-x mt-6
}

.search-wrap-input {
    @apply w-full text-white bg-[#0f212e] flex items-center px-4 outline-none m-0 cursor-text text-[.875rem] appearance-none font-semibold shadow-[0_1px_3px_0_rgba(0,0,0,.2),0_1px_2px_0_rgba(0,0,0,.12)] border-[2px] border-solid border-[#2f4553] rounded-[20px]
}

.search-icon {
    @apply text-[#557086] text-[1.25rem]
}

.search-input {
    @apply w-full outline-none bg-[#0f212e] text-white p-2 cursor-text appearance-none
}

.svg-icon {
    @apply mt-[-4px] pointer-events-none [stroke-width:0] fill-current stroke-current flex-shrink-0 inline-block size-[1em]
}

/* Tabs */
.tabs-wrapper {
    @apply flex mt-6
}

.tab-slider {
    @apply bg-[#0f212e] flex rounded-[3rem] p-[5px] flex-shrink-0
}

.tab-item {
    @apply inline-flex relative items-center gap-2 justify-center whitespace-nowrap ml-[5px] px-4 py-[15px] font-semibold text-[.875rem] rounded-full bg-[rgb(47,69,83)] transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent focus-visible:outline-white text-sm leading-none [&:hover>svg]:text-white [&_svg]:!text-gray-200
}

.tab-item span {
    @apply text-white
}

.tab-item1 {
    @apply  !ml-0
}

.page-content {
    @apply flex flex-col w-full overflow-x-hidden mt-6
}

/* Top Sports */
.top-sports-header {
    @apply flex items-center justify-between
}

.sports-heading {
    @apply font-semibold text-left text-[1.125rem] inline-flex items-center text-white
}

.arrows-btn {
    @apply inline-flex relative items-center rounded-[2rem] gap-2 justify-center border border-solid border-[#2f4553] font-semibold text-[.875rem] whitespace-nowrap transition disabled:pointer-events-none disabled:opacity-50 focus-visible:outline-2 focus-visible:outline-offset-2 active:scale-[0.98] bg-transparent text-white focus-visible:outline-none text-sm leading-none [&:hover>svg]:text-white
}

.left-arrow {
    @apply rounded-br-none rounded-tr-none
}

.right-arrow {
    @apply rounded-tl-none rounded-bl-none
}

.arrow-inner {
    @apply flex justify-center items-center h-[2.5em] w-[3.5em]
}

.arrows-btn:disabled {
    @apply opacity-50 transition-none pointer-events-none transform-none
}

/* Top sports slider */
.sports-img {
    @apply w-[157px] max-w-[167px]
}

.ribbon {
    @apply absolute top-4
}

.tag-count {
    @apply shadow-[0_1px_2px_0_rgb(26,44,56)] justify-center p-[.5em] bg-[#2f4553] w-[26px] flex text-white font-bold leading-[21.6px] rounded-tr-[.25rem] rounded-br-[.25rem]
}

/* Live Events */
.events-header {
    @apply mt-3 pt-4 !min-h-11
}

.event-icon {
    @apply  !border-none !py-[13px] !px-4
}

.event-dropdown {
    @apply bg-[#0f212e] rounded-[4px]
}

/* Sport Menu List */
.sports-menu-list {
    @apply mt-3 bg-[#0f212e] rounded-[.5rem]
}

.main-list {
    @apply px-2 pt-8 py-[18px]
}

.sport-btn {
    @apply  !p-0 !border-none !rounded-none
}

.dot {
    @apply block [content:""] bg-[#1475e1] w-3 h-1.5 absolute top-[calc(-1*2rem)] left-[50%] [transform:translate(-50%)] rounded-[0_0_100%_100%]
}

.menu-content {
    @apply grid [grid-auto-flow:row] gap-[.5rem] place-items-center relative w-[9ch] max-w-[9ch]
}

.sports-badge {
    @apply absolute top-[-8px] left-[55%] flex text-white
}

.s-badge {
    @apply px-[6px] text-xs bg-[#071824] text-[#b1bad3] font-semibold items-center justify-center whitespace-nowrap min-w-[1.8em] rounded-[2em] inline-flex;
}

.s-badge-active {
    @apply bg-[#4391e7] text-[#04172d]
}

/* Market Header */
.market-accordion {
    @apply flex flex-col w-full relative z-0 bg-[#213743] rounded-[.25rem] text-[#d5dceb] shadow-[0_1px_3px_0_rgba(0,0,0,.2),0_1px_2px_0_rgba(0,0,0,.12),inset_0_1px_rgba(255,255,255,.04)]
}

.market-header {
    @apply px-4 py-3 flex justify-between items-center;
    z-index: 4;
}

.market-title {
    @apply flex justify-between items-center gap-[.5rem] w-full
}

/* Market Content */
.market-content {
    @apply border-t border-solid border-[#2f4553] bg-[#21374] flex flex-col w-full rounded-[0_0_.25rem_.25rem]
}

.stack {
    @apply py-2 grid [grid-auto-flow:row] items-center justify-stretch w-full gap-0
}


.fixture-preview {
    @apply py-2 px-4 grid items-center w-full [grid-template-rows:repeat(3,auto)] [grid-template-columns:repeat(12,1fr)] text-[#b1bad3] [row-gap:.5rem] [grid-column-gap:.5rem];
}

/* Market rows */
.misc {
    @apply [grid-column:1/span_2] flex relative text-xs
}

.misc-wrapper {
    @apply flex items-center capitalize justify-between w-full leading-[1.3]
}

.fixture-details {
    @apply flex items-center gap-2
}

.live-badge {
    @apply px-1 bg-[#e9113c] text-white inline-flex text-xs font-semibold items-center justify-center rounded-[3px] whitespace-nowrap leading-[1.5]
}

.blinking-dash {
    animation: blink 2s infinite linear;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* line */
.line {
    @apply w-full h-[2px]
}

.line1 {
    @apply [grid-column:3/span_4]
}

/* Market name */
.market-name{
    @apply px-2 w-full [grid-column:7/span_4] relative items-center text-center bg-[#213743]
}

.market-name span{
    @apply !text-center max-w-full
}

.line2 {
    @apply [grid-column:10/span_2]
}

.teams {
    @apply [grid-column:1/span_3] whitespace-nowrap overflow-hidden grid gap-2 self-center
}

.teams-tag{
    @apply !border-none !justify-start
}

/* FixtureScore */
.fixture-score {
    @apply [grid-column:4/span_2] flex justify-end
}

.fixture-score-wrapper{
    @apply font-semibold flex justify-end
}

.score-wrapper{
    @apply flex flex-col justify-between items-center w-[2ch] pt-[1px] gap-3
}

.options-wrapper{
    @apply ml-4 flex items-center flex-col justify-between gap-3
}

.option-btn{
    @apply !text-[#b1bad3]
}

.outcomes{
    @apply [grid-column:6/span_6] self-stretch place-items-center w-full grid [grid-gap:.5rem] [grid-template-columns:repeat(auto-fit,minmax(50px,1fr))] [grid-template-rows:1fr]
}

.outcome-btn{
    @apply px-[10.5px] py-[7px]  bg-[#071824] flex rounded-[.25rem] relative text-sm text-white items-start min-w-0 [transition:background_.1s] justify-center w-full
}

.outcome-content{
    @apply flex flex-col items-start justify-between w-full self-center justify-items-start
}

.outcome-odd{
    @apply font-bold text-[rgb(67,145,231)]
}

.market-count{
    @apply [grid-column:12/span_1] justify-self-center
}
w

/* Table */
.table-container {
    @apply !w-full bg-[#243447] rounded-lg p-5 shadow-lg
}
table{
    @apply w-full
}
th, td {
    @apply w-1/5 p-4  align-middle text-[#b1bad3] text-sm whitespace-nowrap rounded-tl rounded-bl ;
}
th {
    @apply bg-[#1f3b4d] font-normal;
}
tr:nth-child(even) {
    @apply bg-[#2d3e50];
}
tr:hover {
    @apply bg-[#3b4c5e];
}
.icon {
    @apply mr-2 inline-block align-middle;
}
.bet-amount {
    @apply flex items-center !justify-end text-end float-right;
}
.bet-amount img {
    @apply w-5 h-5 ml-2;
}

