<div class="h-screen overflow-y-auto">
    <!-- <div class="good-varient">
        <div class="ctainer">
            <div class="update-msg-wrap">
                <div class="flex gap-2 items-center">
                    <span class=""><span class="mr-3 [14px] font-semibold">Update to Level 2 verification so we can
                            help secure your Stake
                            account.</span>
                        <a class="read-more-btn " rel="external noreferrer noopener"><span class="read-more">Read
                                more</span></a></span>
                </div>
                <div class="flex md:gap-6 md:justify-end justify-between gap-20">
                    <button type="button" class="dismiss-btn">
                        Dismiss
                    </button>
                    <a class="verfication   ">Update verification</a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- stack race -->

    <div class="scrollable">
        <div>
            <div class="content-wrapper ">
                <div class="page-content">
                    <div class="parent ">
                        <div class="ctainer">
                            <div class="sizer "></div>
                        </div>
                        <div class="ctainer ">
                            <div class="content-wrapper ">
                                <div class="page-content">
                                    <div class="layout-spacing">

                                        <article class="ctainer svelte">
                                            <img class="hero svelte" alt="Promotional Content"
                                                src="assets/home/promo-banner.avif">
                                            <span class="text-[#b1bad3] text-sm">December
                                                31, 2023 - December 31, 2024</span>
                                            <h1 class="responsive-type-scale svelte-17v69ua">
                                                Stake's Daily Races</h1>
                                            <div class="content-wrap">
                                                <div class="svelte-70tzz6">
                                                    <p class="inline-text"><span
                                                            class="size-base responsive-type-scale svelte-17v69ua">At
                                                            Stake, we’re giving away $100,000 every 24 hours. The
                                                            question
                                                            is: are you ready to race to the top?</span></p>
                                                    <p class="inline-text"><span
                                                            class="size-base responsive-type-scale svelte-17v69ua">Enjoy
                                                            all of your Stake favourites across our Casino and
                                                            Sportsbook
                                                            and, for every bet you place, you’ll climb our Daily Race
                                                            Leaderboard. Everyone is eligible so get started and track
                                                            your
                                                            progress today!</span></p>
                                                    <p class="inline-text"><span
                                                            class="responsive-type-scale svelte-17v69ua">As
                                                            soon as time is up, the top 5,000 racers will earn prizes
                                                            that
                                                            are instantly paid out into their account.</span></p>
                                                    <p class="inline-text"><span
                                                            class="responsive-type-scale svelte-17v69ua">Get
                                                            racing now and don’t forget: the faster you race, the higher
                                                            you
                                                            climb, the bigger the prize.</span></p>
                                                </div>
                                            </div>
                                            <div class="group svelte">
                                                <h2 class="responsive-type-scale svelte-17v69ua">
                                                    How to Enter</h2>
                                                <ul class="list svelte">
                                                    <li class="svelte"><span class="text-[#b1bad3]">Simply
                                                            wager and play on Stake! Once you have started wagering, you
                                                            are
                                                            immediately entered in the race!</span> </li>
                                                </ul>
                                            </div>
                                            <div class="tag-list svelte-1rtuv3a">
                                                <a class="[&amp;_svg]:grey-200 [&amp;:hover>svg]:white casino-btn">Casino
                                                </a>
                                                <a class="sport [&amp;_svg]:grey-200 [&amp;:hover>svg]:white">Sport
                                                </a>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parent ">
                <div class="ctainer no-height ">
                    <div class="sizer "></div>
                </div>

            </div>

        </div>
    </div>
</div>