<div class="card-varient">
  <div>

    <div class="layout">
      <div class="affiliate-wrap">
        <div class="max-w-[550px]">
          <div class="vedio-wrapper">
            <iframe title="video" src="https://player.vimeo.com/video/531039335"
              allow="autoplay; fullscreen; picture-in-picture" class="iframe-svelte" allowfullscreen=""></iframe>
          </div>
        </div>
        <span class="iframe-text">Refer our brand and earn money through
          participating in Stake.com’s Affiliate Program!
          You will receive a commission for users who
          register and play on Stake.com through your
          links.</span>
        <div class="iframe-text translate-y-[-1px]">Being a Stake.com affiliate means you will earn
          commission for all bets placed on both our
          Casino and Sportsbook - which unlike traditional
          affiliate programs, means that despite if they
          win or lose, you still make the same
          commission!</div>
        <span class="para">*Please note that referrals from accounts with
          the same IP address will not be
          recognised.</span>
        <div class="campaign-wrap">
          <div class="campaign-svelte">
            <label class="label-wrap">
              <div class="input-wrap">
                <div class="flex w-full relative flex-grow">
                  <input autocomplete="on" class="input-content-wrap" [value]="referralLink"
                    [ngClass]="{'!border-[#557086] borde-[2px]': isCopied}" />
                </div>
                <div class="input-btn-wrap">
                  <button (click)="copyReferralLink()" type="button" class="input-btn btn">
                    <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon">
                      <title></title>
                      <path d="M61.334 64H16V12.986h45.334V64ZM2.666 0v45.466H9.28V6.506h38.96V0H2.666Z"></path>
                    </svg>
                    <!-- Tooltip -->
                    <div *ngIf="isCopied" class="tooltip">
                      Copied!
                      <div class="tooltip-arrow"></div>
                    </div>
                  </button>

                </div>
              </div>
              <span class="label-content">
                <div class="label-left-wrapper">
                  <div slot="label">Referral Link</div>
                </div>
              </span>
            </label>
          </div>
          <a class="download-banners" target="_blank"><span>Download Banners</span>
            <svg fill="currentColor" viewBox="0 0 64 64" class="svg-icon">
              <title></title>
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M10.823 53.176h42.353V39.941h7.059v20.294H3.765V3.765h20.293v7.058H10.823v42.353Zm28.236-42.353V3.765h21.176V24.94h-7.059v-9.123L27.88 41.115l-4.994-4.995 25.297-25.296H39.06Z">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>