@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
body {
  background: #1a2c38;
  color: #fff;
  font-family: "SF-PRO", sans-serif !important;
  cursor: default;
  /* overflow: hidden; */
}

/* Proxima Nova Regular */
@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/font-family/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* Proxima Nova Bold */
@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/font-family/Proxima Nova Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* Proxima Nova Semi Bold */
@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/font-family/Proxima Nova Semibold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
/* Proxima Nova Extra Bold */
@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/font-family/Proxima Nova Extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
/* Proxima Nova Black */
@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/font-family/Proxima Nova Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF-PRO";
  src: url("/sf-font/SF-Pro-Display-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-PRO";
  src: url("/sf-font/SF-Pro-Display-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-PRO";
  src: url("/sf-font/SF-Pro-Display-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF-PRO";
  src: url("/sf-font/SF-Pro-Display-Semibold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Table */
.table-container {
  @apply !w-full  rounded-lg p-5 shadow-lg;
}
table {
  @apply w-full;
}
th,
td {
  @apply w-1/5 p-4  align-middle text-[#b1bad3] text-sm whitespace-nowrap rounded-tl rounded-bl;
}
th {
  @apply font-normal !bg-[#1A2C38];
}
tr:nth-child(odd) {
  @apply bg-[#213743];
}
tr:hover {
  @apply bg-[#3b4c5e];
}
.icon {
  @apply mr-2 inline-block align-middle;
}
.bet-amount {
  @apply flex items-center !justify-end text-end float-right;
}
.bet-amount img {
  @apply w-5 h-5 ml-2;
}

.lg-row {
  @apply max-[768px]:hidden;
}

.tab-item.active,
.tab-item:hover {
  @apply bg-[#2f4553] text-white;
}

::-webkit-scrollbar {
  @apply hidden;
}
.loaderMain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(26, 44, 56, 1);
  z-index: 10000;
}

.loaderMain img {
  width: 350px;
}

#progressbar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 0px;
}

#progressbar>div {
  background-color: orange;
  width: 40%;
  /* Adjust with JavaScript */
  height: 10px;
  border-radius: 10px;
}
