<div class="card-varient">
    <div>
        <div class="layout-spacing variant-normal svelte-l4ghjo no-bottom-spacing">
            <div class="affliate-wrap svelte-1vuj99p">
                <div class="commission-wrap svelte-1t0pjom">
                    <div class="wrap svelte-95o87d">
                        <h1 class="text-[16px]"
                           >Casino</h1>
                        <p class="content-container"
                           >All of our games have a different house edge. You can derive your commission using
                            the following formula:</p>
                        <div class="syntax svelte-95o87d"><span
                                class="text-sm"
                               >(Edge as decimal *  wagered / 2)  *commission rate</span></div>
                    </div>
                    <div class="wrap svelte-95o87d">
                        <h1 class="text-[16px]"
                           >Sportsbook</h1>
                        <p class="content-container"
                           >All sports bets are applied at a 3% theoretical house edge. You can derive your
                            commission using the following formula:</p>
                        <div class="syntax svelte-95o87d">
                            <span
                                class="text-sm"
                               >(0.03 *  wagered / 2) *  commission rate</span></div>
                    </div>
                    <div class="wrap svelte-95o87d">
                        <h1 class="text-[16px]"
                           >Poker</h1>
                        <p class="content-container"
                           >We collect a small percentage of each pot (known as Rake) as a fee for hosting the
                            game. Your commission is calculated using Rake. You can use the formula below to derive your
                            commission:</p>
                        <div class="syntax svelte-95o87d">
                            <span  class="text-sm"
                               >Rake *  commission rate</span></div>
                    </div>
                </div>
                <div class="system-message svelte-1myqlgz info"><svg fill="currentColor" viewBox="0 0 64 64"
                        class="svg-icon ">
                        <title></title>
                        <path
                            d="M32 0C14.326 0 0 14.326 0 32s14.326 32 32 32 32-14.326 32-32S49.674 0 32 0Zm5.24 51.68H26.76v-21h10.48v21ZM32 24.56a6.12 6.12 0 1 1 6.12-6.12v.04a6.08 6.08 0 0 1-6.08 6.08h-.042H32Z">
                        </path>
                    </svg>
                    <div class=" svelte-1myqlgz">
                        <div class="text-container svelte-1myqlgz">
                            <p class="!text-sm"
                               >If you're a Stake Affiliate with outstanding reach or have special
                                circumstances that qualify you, please reach out to our Affiliate Team . They'll chat
                                with your Affiliate Manager who might negotiate a customised program which could include
                                higher commissions for you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>